<template name="DashOutstandingBills">
  <div class="dash-top-distributors">
      <div class="panel-heading clearfix text-center">
        <span class="pull-left"><strong>Top 5 Outstanding Bills</strong></span>
        <div class="col-xs-3 pull-right text-danger">
        <b>Days</b></div>
        <div class="col-xs-4 pull-right text-danger">
        <b>Amount</b></div>
      </div>
      <div class="panel-body no-padding">
      {{#if enableLoading}}
              <div class="sLoading">
                  {{> spinner}}
              </div>
      {{else}}
        <ul class="nav nav-pills nav-stacked">
          {{#each outstandingBills}}
            <li>
              <a href="#" class="clearfix">
                <div class="row">
                  <div class="col-xs-6 text-default">{{_id}}</div>
                  <div class="col-xs-3 text-danger text-danger hidden-text"><b>{{formatMoney amountDue tenant.baseCurrency}}</b></div>
                  <div class="col-xs-3 text-danger"><b>{{deadline dueDate}}</b></div>
                </div>
              </a>
            </li>
          {{else}}
            <div class="text-center" style="padding-top: 105px; padding-bottom: 105px">No information for the selected period.</div>
          {{/each}}
        </ul>
      {{/if}}
      </div>
    </div>
</template>
