<template name="ReturnEntry">
    <tr class="return-entry">
        <td>{{returnOrderNumber}}</td>
        <td>{{#linkTo route="orders.detail" _id=orderId}}{{orderNumber}}{{/linkTo}}</td>
        <td>{{formatTime issuedAt}}</td>
        <td>{{formatMoney total currency}}</td>
        <td><span class="{{returnStatusStyle status}}">&bull; {{capitalize status}}</span></td>
        <td>
            {{#linkTo route="distributors.detail" _id=customerId}}{{customerName}}{{/linkTo}} <span class="small text-muted">{{customerNumber}}</span>
        </td>
    </tr>
</template>
