<template name="ReturnPrint">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo-block">
                            <img src="/img/PNGlogo.png">
                        </div>
                        <h3>{{tenantName}}</h3>
                        <address>
                            {{commercialAddress.address1}}<br/>
                            {{#if commercialAddress.address2}}
                                {{commercialAddress.address2}}<br/>
                            {{/if}}
                            {{#if commercialAddress.city}}
                                {{commercialAddress.city}}
                            {{/if}}
                            {{#if commercialAddress.state}}
                                {{#if commercialAddress.city}}
                                    ,
                                {{/if}}
                                {{commercialAddress.state}}
                            {{/if}}
                            {{#if commercialAddress.country}}
                                {{#if commercialAddress.state}}
                                    ,
                                {{/if}}
                                {{commercialAddress.country}}
                            {{/if}}
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h3>Return #{{this.returnOrderNumber}}</h3>for Order: {{orderNumber}}
                        <br/>
                        Customer Number: {{customerNumber}}
                        <br/> <br/> Ship From: {{printLocation stockLocationId}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Billed To:</strong>
                            <br> {{billingAddress.company}}
                            <br> {{billingAddress.address1}}
                            <br/> {{#if billingAddress.address2}} {{billingAddress.address2}}
                            <br/> {{/if}} {{#if billingAddress.city}} {{billingAddress.city}} {{/if}} {{#if billingAddress.state}} {{#if billingAddress.city}} , {{/if}} {{billingAddress.state}} {{/if}} {{#if billingAddress.country}} {{#if billingAddress.state}} , {{/if}} {{billingAddress.country}} {{/if}}
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Shipped To:</strong>
                            <br> {{shippingAddress.company}}
                            <br> {{shippingAddress.address1}}
                            <br/> {{#if shippingAddress.address2}} {{shippingAddress.address2}}
                            <br/> {{/if}} {{#if shippingAddress.city}} {{shippingAddress.city}} {{/if}} {{#if shippingAddress.state}} {{#if shippingAddress.city}} , {{/if}} {{shippingAddress.state}} {{/if}} {{#if shippingAddress.country}} {{#if shippingAddress.state}} , {{/if}} {{shippingAddress.country}} {{/if}}
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Approval Status:</strong> <br>
                            <span class="text-capitalize {{returnStatusStyle status}}">{{status}}</span> <br>
                            <strong>Payments:</strong> <br>
                            <br> {{#if order.appliedCredits}} {{#if condition order.appliedCredits 'gt' 0}} Applied Credits: {{formatMoney order.appliedCredits currency}}
                            <br> {{/if}} {{/if}} {{#if order.cashPayments}} {{#if condition order.cashPayments 'gt' 0}} Cash Payments: {{formatMoney order.cashPayments currency}}
                            <br> {{/if}} {{/if}} {{#if order.payments}} {{#if condition order.payments 'gt' 0}} Other Payments: {{formatMoney order.payments currency}}
                            <br> {{/if}} {{/if}}
                            {{#if creditLimit 'gt' 0}}
                                CREDIT LIMIT: {{formatMoney creditLimit currency}}
                            {{/if}}
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Return Date:</strong>
                            <br> {{formatTime issuedAt 'pretty'}}
                            <br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Return Order Summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Item</strong></td>
                                        <td><strong>Unit</strong></td>
                                        <td><strong>Reason</strong></td>
                                        <td class="text-right text-nowrap"><strong>Price ({{currency.symbol}})</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-center"><strong>Discount</strong></td>
                                        <td class="text-right text-nowrap"><strong>Totals ({{currency.symbol}})</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each items}}
                                    <tr>
                                        <td>{{variantInfo variantId 'code'}}, {{variantInfo variantId 'name'}}</td>
                                        <td>{{variantInfo variantId 'opt1'}}</td>
                                        <td>{{returnReason}}</td>
                                        <td class="text-right">{{formatMoneyD price}}</td>
                                        <td class="text-center">{{quantity}}</td>
                                        <td class="text-center">{{formatNumber discount 1}}</td>
                                        <td class="text-right">{{formatMoneyD itemTotal}}</td>
                                    </tr>
                                    {{/each}}
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right text-nowrap"><strong>Subtotal</strong></td>
                                        <td class="no-line text-right text-nowrap">{{formatMoneyD subTotal currency}}</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right text-nowrap"><strong>Tax</strong></td>
                                        <td class="no-line text-right text-nowrap">{{formatMoneyD taxes currency}}</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-right text-nowrap"><strong>Total</strong></td>
                                        <td class="no-line text-right text-nowrap">{{formatMoney total currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
     <!--    <div class="row text-center">
            {{#if isPickup}} This ORDER is to be picked up at the Warehouse {{else}} This ORDER will be shipped to {{shippingAddress.company}} {{/if}}
        </div> -->
    </div>
</template>
