<template name="LoansEntry">
    <div class="list-group contact-group pointer">
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{loanType}}</h4>

                    <div class="media-content">
                        <div class="pull-left">
                            <i class="fa fa-calendar-o"></i> Term: <span class="leavedays">{{durationInMonths}} Months(s)</span>

                            <i class="fa"></i> Amount: <span class="leavedays">{{formatMoneyD amount "₦"}}</span>

                            <i class="fa"></i> Interest rate: <span class="leavedays">{{interestRate}} %</span>

                            <ul class="list-unstyled">
                                <li><i class="fa fa-tasks"></i> <span class="label label-{{active approvalStatus}}">{{approvalStatus}}</span></li>
                                <li><i class="fa fa-calendar"></i> Date Created: {{formatTime createdAt}}</li>
                            </ul>
                        </div>

                        {{#if canEdit}}
                            <div class="pull-right">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-sm" type="button" id="delete" ><i class="fa fa-trash-o mr5"></i> Delete</button>
                                    </div>
                                </div><!-- btn-toolbar -->
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div><!-- media -->
        </a><!-- list-group -->
    </div><!-- list-group -->
</template>
