<template name="EmployeePersonalDataModal">
  <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Payroll Details</h4>
              </div>
              <div class="panel-body nopadding">
                <form class="form-horizontal form-bordered">
                  <div class="table-responsive">
                      <table class="table table-primary mb30 calc">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Payment Code</th>
                              <th>Description</th>
                              <th>assigned Value</th>
                              <th>Amount(If Editable per Employee)</th>
                              <th>Employee Calculated</th>
                          </tr>
                          </thead>
                          <tbody>
                          {{#each assignable}}
                              <tr>
                                  <td>{{increment @index}}</td>
                                  <td>{{code}}</td>
                                  <td>{{title}}</td>
                                  <td>{{value}}</td>
                                  <td><input type="text" value="{{inputed}}" class="payAmount form-group" id="{{_id}}" {{disabled _id}}></td>
                                  <td>{{parsedValue}}</td>
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>
                  </div>
                </form>
              </div><!-- End of panel-body -->

              <div class="panel-footer">
                  <button type="reset" class="btn btn-danger" id="save-close" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary mr5 ladda-button" id="save">Save</button>
              </div>
          </div>
      </div>
  </div>
</template>
