<template name="SupplementaryLeavesIndex">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-puzzle-piece"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="businessunits">Business</a></li>
                    <li>{{name}}</li>
                    <li>Leave Balances</li>
                </ul>
                <h4>Leave Balances</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->


    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12">
                <!-- <h5 class="lg-title mb5">Taxs</h5> -->
                <p class="mb20 pull-right"><button class="btn btn-primary" id="createTax">New Leave Balance</button></p>
            </div>
        </div>

        <div class="row">
            {{#if condition taxCount 'eq' 0}}
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        <p>No Leave Balance defined </p>
                    </div>
                </div>
            {{else}}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-primary mb60 table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Number of leave days</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each tax}}
                                {{> singleSupplementaryLeave index=@index data=this}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            {{/if}}
        </div><!-- row -->
    </div>
</template>

<template name="singleSupplementaryLeave">
    <tr class="pointer">
        <td>{{index}}</td>
        <td>{{data.name}}</td>
        <td>{{data.numberOfLeaveDays}}</td>
    </tr>
</template>
