# Added by github generator
.meteor/local
.meteor/meteorite
.meteor/dev_bundle

# For npm
node_modules/
**/npm-debug.log


# Local workers
**/addcluster.sh
.idea

# Local env variables
**/env.sh

#for mup
mup.js

#for macos
**/.DS_Store

settings-development.json
settings-production.json

main/build/*
