<template name="SuccessFactorsConfig">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Successfactors Setup</li>
                </ul>
                <h4>Successfactors Setup</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <!-- PROGRESS WIZARD -->
                        <div id="progress-wizard-new" class="panel-wizard form-horizontal form-bordered">
                            <ul class="nav nav-justified nav-wizard nav-disabled-click">
                                <li><a href="#new-tab1" data-toggle="tab" id="step1"><strong></strong> Authentication</a></li>

                                <li><a href="#new-tab2" data-toggle="tab" id="step2"><strong></strong> Positions </a></li>

                                <li><a href="#new-tab3" data-toggle="tab" id="step3"><strong></strong> PayComponents </a></li>
                                <li><a href="#new-tab4" data-toggle="tab" id="step4"><strong></strong> Pay Groups </a></li>
                                <li><a href="#new-tab5" data-toggle="tab" id="step5"><strong></strong> Cost-Center</a></li>
                                <li><a href="#new-tab6" data-toggle="tab" id="step6"><strong></strong> Projects</a></li>

                                <li><a href="#new-tab7" data-toggle="tab" id="step7"><strong></strong> Time Sheets</a></li>
                            </ul>

                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane" id="new-tab1">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>Odata Datacenter URL</b></div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" id="odataDataCenterUrl"
                                                                        placeholder="Example: api4.successfactors.com"
                                                                        title="{{companyConnectionInfo.odataDataCenterUrl}}"
                                                                        value="{{companyConnectionInfo.odataDataCenterUrl}}"/>
                                                            </div>
                                                        </div>
            
                                                        <div class="row">
                                                            <div class="col-md-4 text-right" for-name="protocol"><b>Protocol</b></div>
                                                            <div class="col-sm-4">
                                                                <label>
                                                                    <input type="radio" name="protocol" value="http" checked="checked"/>http
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="protocol" value="https" />https
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div>
                                                                </div>
                                                            </div>
                                                        </div>
            
                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>Successfactors Company ID</b></div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" id="companyId"
                                                                    placeholder="Successfactors companyId"
                                                                    title=""
                                                                    value="{{companyConnectionInfo.companyId}}"/>
                                                            </div>
                                                        </div>
            
                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>Successfactors Username</b></div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" id="username"
                                                                    placeholder="Successfactors Username"
                                                                    title=""
                                                                    value="{{companyConnectionInfo.username}}"/>
                                                            </div>
                                                        </div>
            
                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>Successfactors Password</b></div>
                                                            <div class="col-md-5">
                                                                <input type="password" class="form-control" id="password"
                                                                    placeholder="Successfactors Password"
                                                                    title=""
                                                                    value="{{companyConnectionInfo.password}}"/>
                                                            </div>
                                                        </div>
            
                                                        <div class="row">
                                                            <div col-md-9>
                                                                <button class="btn btn-primary pull-right" id="testConnection">Test Connection</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- panel -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="new-tab2">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="fetchPositions">Sync</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Code</th>
                                                    <th>Job Title</th>
                                                    <th>Department</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab4-data-body">                                                
                                                {{#if isFetchingSfPositions}}
                                                    <br/><br/><br/><br/><br/>
                                                    {{> spinner}}
                                                {{else}}
                                                    {{#each sfPositions}}
                                                        <tr class="item" style="cursor: move;">
                                                            <td>{{@index}}</td>
                                                            <td>{{code}}</td>
                                                            <td>{{jobTitle}}</td>
                                                            <td>{{departmentDetails.name}}</td>
                                                        </tr>
                                                    {{/each}}
                                                {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane" id="new-tab3">
                                    <div class="form-group">
                                        <!--<h5 class="lg-title">Define Pay Types Values and derivations </h5><br/>-->
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="savePaytypes">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>S/N</th>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                    <th>Frequency</th>
                                                    <th>Currency</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab2-data-body">
                                                    {{#if isFetchingPayTypes}}
                                                        <br/><br/><br/><br/><br/>
                                                        {{> spinner}}
                                                    {{else}}
                                                    {{#each sfPayTypes}}
                                                        <tr class="item" style="cursor: move;">
                                                            <td>
                                                                <input type="checkbox" name="includeSfPayComponent"
                                                                    data-externalCode="{{externalCode}}"
                                                                    data-name="{{name}}"
                                                                    data-frequency="{{frequencyCode}}"
                                                                    data-currency="{{currency}}" />
                                                            </td>
                                                            <td>{{@index}}</td>
                                                            <td>{{externalCode}}</td>
                                                            <td>{{name}}</td>
                                                            <td>{{frequencyCode}}</td>
                                                            <td>{{currency}}</td>
                                                        </tr>
                                                    {{/each}}
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane" id="new-tab4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="savePayGrades">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>S/N</th>
                                                    <th>Code</th>
                                                    <th>Name</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab3-data-body">
                                                    {{#if isFetchingPayGrades}}
                                                        <br/><br/><br/><br/><br/>
                                                        {{> spinner}}
                                                    {{else}}
                                                    {{#each sfPayGrades}}
                                                        <tr class="item" style="cursor: move;">
                                                            <td>
                                                                <input type="checkbox" name="includeSfPayGrade"
                                                                    data-externalCode="{{externalCode}}"
                                                                    data-name="{{name}}" />
                                                            </td>
                                                            <td>{{@index}}</td>
                                                            <td>{{externalCode}}</td>
                                                            <td>{{name}}</td>
                                                        </tr>
                                                    {{/each}}
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->    
                                
                                <div class="tab-pane" id="new-tab5">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="saveCostCenterCodes">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Unit</th>
                                                    <th>Org chart parents</th>
                                                    <th>Successfactors Cost Center</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab4-data-body">                                                
                                                {{#if isFetchingCostCenters}}
                                                    <br/><br/><br/><br/><br/>
                                                    {{> spinner}}
                                                {{else}}
                                                    {{#each costCenters}}
                                                        <tr class="item" style="cursor: move;">
                                                            <td>{{@index}}</td>
                                                            <td>{{name}}</td>
                                                            <td>{{getCostCenterOrgChartParents this}}</td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <select name="sfCostCenterCode" class="form-control dropdown" data-unitId="{{_id}}">
                                                                        <option value="">Select a cost center</option>

                                                                        {{#each sfCostCenters}}
                                                                            <option value="{{externalCode}}">{{externalCode}} - {{description}}</option>
                                                                        {{/each}}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane" id="new-tab6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="saveProjects">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>S/N</th>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab4-data-body">
                                                {{#if isFetchingCostCenters}}
                                                    <br/><br/><br/><br/><br/>
                                                    {{> spinner}}
                                                {{else}}
                                                    {{#each sfProjects}}
                                                        <tr class="item" style="cursor: move;">
                                                            <td>
                                                                <input type="checkbox" name="includeSfProject"
                                                                    data-externalCode="{{externalCode}}"
                                                                    data-description="{{description}}" />
                                                            </td>
                                                            <td>{{@index}}</td>
                                                            <td>{{externalCode}}</td>
                                                            <td>{{description}}</td>
                                                        </tr>
                                                    {{/each}}
                                                {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane" id="new-tab7">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <select name="periodMonth" class="form-control dropdown" style="width: 100%">
                                                        <option value="">Select Month</option>
                                                        {{#each month}}
                                                            <option value="{{period}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div><!-- form-group -->
                                            </div>
                                            
                                            <div class="col-sm-1">
                                            </div>
                                            
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <select name="periodYear" class="form-control dropdown" style="width: 100%">
                                                        <option value="">Select Year </option>
                                                        {{#each year}}
                                                            <option value="{{this}}">{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div><!-- form-group -->
                                            </div>

                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="fetchEmployeeTimeSheets">Sync</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th>Employee</th>
                                                    <th>Day</th>
                                                    <th>Duration(In Hours)</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab4-data-body">
                                                    {{#if isFetchingTimeSheet}}
                                                        {{> spinner}}
                                                    {{else}}
                                                        {{#each timeWritingRecords}}
                                                            <tr class="item">
                                                                <td>{{getEmployeeFullName employeeId}}</td>
                                                                <td>{{formatTime day}}</td>
                                                                <td>{{duration}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->
                            </div>

                            <ul class="list-unstyled wizard">
                                <li class="pull-left previous">
                                    <button type="button" class="btn btn-default">Previous</button>
                                </li>
                                <li class="pull-right next">
                                    <button type="button" class="btn btn-primary">Next</button>
                                </li>
                            </ul>
                        </div>
                    </div><!-- row -->
                </div>
            </div>
    </div><!-- contentpanel -->
</template>

