<template name="HeaderProfile">
  <a id="view-profile" class="dropdown-toggle user-link" data-toggle="dropdown" style="">
      <img class="img-circle" src="/img/test-client/avatar.jpg" alt=""><span class="hidden-sm hidden-xs">{{fullName}}</span>
      <span class="glyphicon icon-downarrow"></span>
  </a>
  <ul class="dropdown-menu">
      <li><a href="{{pathFor 'accounts.preferences'}}"><span class="glyphicon glyphicon-ruble"></span>Preferences</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="{{pathFor 'accounts.profile'}}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li role="separator" class="divider hidden-lg hidden-md hidden-sm"></li>
      <li class="hidden-lg hidden-md hidden-sm"><a href="#"><span class="glyphicon icon-logout"></span> Logout</a></li>
  </ul>
</template>
