<template name="PaygradeCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{action}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <!-- PROGRESS WIZARD -->
                            <div id="progress-wizard-new" class="panel-wizard form-horizontal form-bordered">
                                <ul class="nav nav-justified nav-wizard nav-disabled-click">
                                    <li><a href="#new-tab1-2" data-toggle="tab" id="step1"><strong>Step 1:</strong> Description</a></li>
                                    <li><a href="#new-tab2-2" data-toggle="tab"><strong>Step 2:</strong> Pay Types</a></li>
                                    <li><a href="#calc" data-toggle="tab"><strong>Step 3:</strong> Derivatives</a></li>
                                    <li><a href="#new-tab3-2" data-toggle="tab"><strong>Step 4:</strong> Payslip </a></li>
                                </ul>


                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div class="tab-content">

                                    <div class="tab-pane" id="new-tab1-2" >

                                        <div class="form-group">
                                            <label for="new-pay-grade-name" class="col-sm-4 control-label">Code</label>
                                            <div class="col-sm-8">
                                                <input id="new-pay-grade-code" type="text" placeholder="Name" class="form-control" name="code" value="{{code}}"/>
                                            </div>
                                        </div><!-- form-group -->
                                        <div class="form-group">
                                            <label for="new-pay-grade-description" class="col-sm-4 control-label">Description</label>
                                            <div class="col-sm-8">
                                                <textarea id="new-pay-grade-description" class="form-control" placeholder="Pay Grade description" name="description" value="{{description}}" rows="5"></textarea>
                                            </div>
                                        </div><!-- form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Positions</label>
                                            <div class="col-sm-8">
                                                {{#semanticselect}}
                                                    <select name="positions" multiple="" style="width: 100%" class="ui fluid search dropdown form-control">
                                                        <option value="">Select Position</option>
                                                        {{#each positions}}
                                                            <option value="{{_id}}" {{selectedObj "positions"}}>{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                {{/semanticselect}}
                                            </div>
                                        </div><!-- form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Pay Groups</label>
                                            <div class="col-sm-8">
                                                {{#semanticselect}}
                                                    <select name="paygroups" multiple="" style="width: 100%" class="ui fluid search form-control">
                                                        <option value="">Select PayGroup</option>
                                                        {{#each paygroup}}
                                                            <option value="{{_id}}" {{selectedObj "payGroups"}}>{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                {{/semanticselect}}
                                            </div>
                                        </div><!-- form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Status</label>
                                            <div class="col-sm-8">
                                                <select  name="status" class="form-control dropdown" >
                                                    <option value="Active" {{selected "status" "Active"}}>Active</option>
                                                    <option value="Inactive" {{selected "status" "Inactive"}}>Inactive</option>
                                                </select>
                                            </div>
                                        </div><!-- form-group -->

                                    </div><!-- tab-pane -->

                                    <div class="tab-pane" id="new-tab2-2">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input id="filter" type="text" placeholder="Search..." class="form-control" name="searchText" />
                                                        </div>
                                                    </div><!-- form-group -->
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="panel-group" id="accordion2">
                                                        <!--<div class="panel panel-primary">-->
                                                            <!--<div class="panel-heading">-->
                                                                <!--<h4 class="panel-title">-->
                                                                    <!--<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">-->
                                                                        <!--Wages-->
                                                                    <!--</a>-->
                                                                <!--</h4>-->
                                                            <!--</div>-->
                                                            <!--<div id="collapseOne2" class="panel-collapse collapse in">-->
                                                                <!--<ul class="panel-body list-group nopadding">-->
                                                                    <!--{{#each paytype "Wage"}}-->
                                                                        <!--<li class="list-group-item">-->
                                                                            <!--<div class="ckbox ckbox-default">-->
                                                                                <!--<input type="checkbox" id="{{_id}}" class="payment" checked="{{checked _id}}" >-->
                                                                                <!--<label for="{{_id}}">{{code}} - {{title}}</label>-->
                                                                            <!--</div>-->
                                                                        <!--</li>-->
                                                                    <!--{{/each}}-->
                                                                <!--</ul>-->
                                                            <!--</div>-->
                                                        <!--</div>&lt;!&ndash; panel &ndash;&gt;-->

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                                                                        Benefits
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseTwo2" class="panel-collapse collapse in">
                                                                <ul class="panel-body list-group nopadding">
                                                                    {{#each paytype "Benefit"}}
                                                                        <li class="list-group-item">
                                                                            <div class="ckbox ckbox-default">
                                                                                <input type="checkbox" id="{{_id}}" class="payment" checked="{{checked _id}}" >
                                                                                <label for="{{_id}}">{{code}} - {{title}}</label>
                                                                            </div>
                                                                        </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        </div><!-- panel -->

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" class="" data-parent="#accordion2" href="#collapseThree2">
                                                                        Deductions
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseThree2" class="panel-collapse collapse">
                                                                <ul class="panel-body list-group nopadding">
                                                                    {{#each paytype "Deduction"}}
                                                                        <li class="list-group-item">
                                                                            <div class="ckbox ckbox-default">
                                                                                <input type="checkbox" id="{{_id}}" class="payment" checked="{{checked _id}}" >
                                                                                <label for="{{_id}}">{{code}} - {{title}}</label>
                                                                            </div>
                                                                        </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        </div><!-- panel -->

                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" class="" data-parent="#accordion2" href="#collapseFour2">
                                                                        One Off Payments
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapseFour2" class="panel-collapse collapse">
                                                                <ul class="panel-body list-group nopadding">
                                                                    {{#each paytype "OneOff"}}
                                                                        <li class="list-group-item">
                                                                            <div class="ckbox ckbox-default">
                                                                                <input type="checkbox" id="{{_id}}" class="payment" checked="{{checked _id}}" >
                                                                                <label for="{{_id}}">{{code}} - {{title}}</label>
                                                                            </div>
                                                                        </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        </div><!-- panel -->

                                                    </div><!-- panel-group -->
                                                </div>
                                            </div>
                                        </div><!-- form-group -->
                                    </div><!-- tab-pane -->

                                    <div class="tab-pane" id="calc">
                                        <div class="form-group">
                                            <h5 class="lg-title">Define Pay Types Values and derivations </h5><br/>
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="derivativeTable">
                                                    <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Code</th>
                                                        <th>Title</th>
                                                        <th>Derivative</th>
                                                        <th>Formula / Value</th>
                                                        <th>Value</th>
                                                        <!--<th>Monthly Equivalent</th>-->
                                                    </tr>
                                                    </thead>
                                                    <tbody id="new-data-body">
                                                    {{#each assigned}}
                                                        <tr class="item" style="cursor: move;" id="{{_id}}">

                                                            <td><i class="glyphicon glyphicon-resize-vertical"></i></td>
                                                            <td>{{code}}</td>
                                                            <td>{{title}}</td>
                                                            <td>{{derivative}}</td>
                                                            <td>
                                                                {{#if fixed derivative}}
                                                                    <input type="number" placeholder="Fixed e.g 50000" class="form-control calc" name="value" value="{{value}}"/>
                                                                {{else}}
                                                                    <input type="text" placeholder="% or Formula e.g 5 % DC1" class="form-control calc" name="derivative" value="{{value}}"/>
                                                                {{/if}}
                                                            </td>
                                                            <td>
                                                                <span><b> {{parsedValue}}</b></span>
                                                            </td>
                                                            <!--<td>-->
                                                                <!--<span><b> {{monthly}}</b></span>-->
                                                            <!--</td>-->
                                                        </tr>
                                                    {{/each}}
                                                    </tbody>
                                                </table>
                                            </div><!-- table-responsive -->
                                        </div><!-- form-group -->
                                    </div><!-- tab-pane -->


                                    <div class="tab-pane" id="new-tab3-2">
                                        <div class="form-group">
                                            <h5 class="lg-title">This section, you determine what is shown/displayed in the payslip for this Payment Grade</h5><br/>
                                            <div class="table-responsive">
                                                <table class="table table-hover" id="paySlipPaytypes">
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#each assigned}}
                                                        <tr class="item" style="cursor: move;" id="{{_id}}">
                                                            <td><input type="text" class="text-center" style="width: 30px" value="{{paySlipPositionId}}"></td>
                                                            <td><input type="checkbox" id="{{@index}}" class="payslip" checked="{{displayInSlip _id}}" ></td>
                                                            <td><label for="{{@index}}">{{code}} - {{title}}</label></td>
                                                        </tr>
                                                    {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--<div class="form-group">
                                            <div class="row">
                                                <p>This section, you determine what is shown/displayed in the payslip for this Payment Grade</p>
                                                <div class="col-sm-12" id="paySlipPaytypes">
                                                    {{#each assigned }}
                                                        <li class="list-group-item item">
                                                            <div class="ckbox ckbox-default">
                                                                <input type="checkbox" id="{{@index}}" class="payslip" checked="{{displayInSlip _id}}" >
                                                                <label for="{{@index}}">{{code}} - {{title}}</label>
                                                                <input type="text" id="{{@index}}" maxlength="4">
                                                            </div>
                                                        </li>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>-->
                                    </div><!-- tab-pane -->

                                </div><!-- tab-content -->

                                <ul class="list-unstyled wizard">
                                    <li class="pull-left previous">
                                        <button type="button" class="btn btn-default">Previous</button>
                                    </li>
                                    <li class="pull-right next">
                                        <button type="button" class="btn btn-primary">Next</button>
                                    </li>
                                    <li class="pull-right finish hide">
                                        <button type="submit" class="btn btn-primary" id="PayGradeButton">Finish</button>
                                    </li>
                                </ul>

                            </div><!-- panel-wizard -->

                        </div><!-- row -->
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger pull-right" id="new-pay-grade-close" data-dismiss="modal">Cancel</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
