<template name="Home">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-home"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>Home</li>
                </ul>
                <h4>Home</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">

        <div class="row row-stat">

            <p>
                {{tenant}}
            </p>
            <h2>This will contain all default actions with simple Ui for navigation like a launchpad</h2>

        </div><!-- row -->

    </div><!-- contentpanel -->
</template>