<template name="EntityCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Entity</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="new-position-name" class="control-label">Name</label>
                                    <input name="name" type="text" id="new-position-name" placeholder="Position Name" class="form-control" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select name="status" class="form-control">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>

                                    </select>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Node Type</label>
                                    <select name="otype" id="otype" class="form-control">
                                        <option value="Unit">Unit</option>
                                        <option value="Position">Position</option>
                                        <option value="Job">Job</option>
                                        <option value="Person">Person</option>
                                        <option value="Location">Location</option>
                                    </select>
                                </div><!-- form-group -->
                            </div><!-- col-sm-12 -->


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Level</label> <br />
                                    <label class="control-label radio-inline"><input type="radio" name="level">same level</label>
                                    <label class="control-label radio-inline"><input type="radio" name="level">Child</label>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->


                        </div><!-- row -->

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary mr5" {{disabled}} id="createEntity">Save</button>
                        <button type="reset" class="btn btn-danger" id="new-position-close" data-dismiss="modal">Cancel</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
