<template name="SendPasswordResetLink">
    <section>
    <div class="panel panel-signin">
        <div class="panel-body">
            <div class="logo text-center">
                <img src="https://res.cloudinary.com/deqt3envc/image/upload/v1631529352/logo-dark.png" class="img-responsive mb10" alt="" style="height: 60px; position: absolute; top: 0px;"/>
                <span class="login-small-header">TRIPS</span>
                <!-- <span class="login-header">Bulk</span><span class="login-small-header">Pay</span> -->
            </div>
            <br />
            <p class="text-center">Enter your email address</p>

            <div class="mb30"></div>

            <form>
                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="email" class="form-control" placeholder="Email address" name="email">
                </div><!-- input-group -->

                <div class="alert alert-danger text-center hide signin_email">
                    <span></span>
                </div>

                <div class="clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success" id="btn-send">Send reset link</button>
                    </div>
                </div>
            </form>
        </div><!-- panel-body -->
    </div><!-- panel -->
</section>

</template>
