<template name="BusinessUnit">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-dashboard"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Business</a></li>
                    <li>{{tenantName}}</li>
                    <li></li>
                </ul>
                <h4>Companies</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->



    <div class="contentpanel">
        <div class="row">
            <div class="col-md-12">
                <p class="mb20 pull-right"><button class="btn btn-primary" id="newUnit">New Company</button></p>
            </div>
        </div>

        <div class="row">
            {{#if Template.subscriptionsReady}}
                {{#if condition bus.size 'eq' 0 }}
                    <div class="col-md-12">
                        <div class="alert alert-danger text-center">
                            <p>No business units available</p>
                        </div>
                    </div>
                {{else}}
                    <div class="container-fluid intelligence">
                        <div class="col-sm-12">
                            <section class="content">
                                {{#each bus}}
                                    {{> singleBu data=this}}
                                {{/each}}
                            </section>

                        </div>
                    </div>
                {{/if}}
            {{else}}
                <div class="loading">{{>spinner}}</div>
            {{/if}}
        </div>
    </div><!-- contentpanel -->


</template>

<template name="singleBu">

    <!--<div class="module-block">-->
        <!--<p class="lead text-uppercase">ACCOUNT BALANCE</p>-->
        <!--<div class="row">-->
            <!--<div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">-->
                <!--<div class="well">-->
                    <!--<div class="media">-->
                        <!--<div class="media-left">-->
                            <!--<div class="chart-responsive">-->
                                <!--<canvas id="dchart" style="height: 32px; width: 32px;" width="24" height="24"></canvas>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<h4 class="mt0">DEPOSITS<br><small>NGN 1,397,370.23</small></h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="chart-responsive">-->
                        <!--<canvas id="depositsLine" style="height: 35px; width: 316px;" width="237" height="26"></canvas>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="chartjs-tooltip-deposits" class="chartjs-tooltip below" style="opacity: 0; left: 260px; top: 94px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal;"><div class="chartjs-tooltip-section">	<span class="chartjs-tooltip-value">September: 0</span></div></div>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">-->
                <!--<div class="well">-->
                    <!--<div class="media">-->
                        <!--<div class="media-left">-->
                            <!--<div class="chart-responsive">-->
                                <!--<canvas id="rebatesPie" style="height: 32px; width: 32px;" width="24" height="24"></canvas>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<h4 class="mt0">CREDITS/REBATES<br><small>NGN 0.00</small></h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="chart-responsive">-->
                        <!--<canvas id="rebatesLine" style="height: 35px; width: 316px;" width="237" height="26"></canvas>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="chartjs-tooltip-rebates" class="chartjs-tooltip below" style="opacity: 0; left: 37px; top: 94px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal;"><div class="chartjs-tooltip-section">	<span class="chartjs-tooltip-value">January: 0</span></div></div>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">-->
                <!--<div class="well">-->
                    <!--<div class="media">-->
                        <!--<div class="media-left">-->
                            <!--<div class="chart-responsive">-->
                                <!--<canvas id="creditsPie" style="height: 32px; width: 32px;" width="24" height="24"></canvas>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<h4 class="mt0">BALANCE<br><small>NGN 1,397,370.23-->

                                <!--| <a href="#" class="text-default" title="Available Balance" style="text-decoration:none;">NGN -5,037,141.77 </a>-->

                            <!--</small></h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="chart-responsive">-->
                        <!--<canvas id="creditsLine" style="height: 35px; width: 316px;" width="237" height="26"></canvas>-->
                    <!--</div>-->
                    <!--<div id="chartjs-tooltip-credits" class="chartjs-tooltip"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">-->
                <!--<div class="well" id="ordersBarWell">-->
                    <!--<div class="media">-->
                        <!--<div class="media-body">-->
                            <!--<h4 class="mt0">ORDERS BY MONTHS<br><small>Total this year: 257 </small>-->

                            <!--</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="chart-responsive">-->
                        <!--<canvas id="ordersBar" style="height: 35px; width: 316px;" width="237" height="26"></canvas>-->
                    <!--</div>-->
                    <!--<div id="chartjs-tooltip-orders" class="chartjs-tooltip"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

    <div class="col-md-6 pointer">
        <div class="panel panel-primary noborder">
            <div class="panel-heading noborder">
                <div class="panel-btns">
                    <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                            class="fa fa-times"></i></a>
                </div><!-- panel-btns -->
                <div class="panel-icon"><i class="fa fa-users"></i></div>
                <div class="media-body">
                    <h5 class="md-title nomargin"> Company </h5>
                    <h1 class="mt5">{{data.name}}</h1>
                </div><!-- media-body -->
                <hr>
                <div class="clearfix mt20">
                    <div class="pull-left">
                        <h5 class="md-title nomargin">Employees</h5>
                        <h4 class="nomargin">10,009</h4>
                    </div>
                    <div class="pull-right">
                        <h5 class="md-title nomargin"> Parent Company </h5>
                        <h4 class="nomargin">{{#if parentName data}}{{parentName data}} {{else}} Root Company {{/if}}  </h4>
                    </div>
                </div>

            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-md-6 -->
    
</template>
