/*****************************************************************************/
/* PromotionsList: Style */
/*****************************************************************************/
.promotions-list .loading{
    position: relative;
    height: 100px;
    width: 100%;
}