/*****************************************************************************/
/* ImportEmployeePositionsModal: Style */
/*****************************************************************************/
.modal.import-export-product h2.modal-title {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica;
    font-size: 18px !important;
    margin-bottom: 10px;
    text-align: left;
    padding: 0;
    font-weight: normal;
}

.modal.import-export-product .choose-file-box .custom-input-file button {
    margin-right: 10px !important;
    font-size: 16px;
}

#fileupload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
    display: block;
}

.modal.import-export-product .choose-file-box .custom-input-file .fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px !important;
    font-size: 16px;
}

.download_instruction {
    margin-top: 10px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}
