<template name="OrderEntry">
  <tr class="order-entry">
      <td>{{orderNumber}}</td>
      <td>{{printLocation salesLocationId}}</td>
      <td>{{formatTime issuedAt}}</td>
      <td>{{formatMoney total currency}}</td>
      <td>{{orderType}}</td>
      <td><span class="{{orderStatusStyle status}}">&bull; {{capitalize status}}</span></td>
      <td>
          {{#linkTo route="distributors.detail" _id=customerId}}{{customerName}}{{/linkTo}} <span class="small text-muted">{{customerNumber}}</span>
      </td>
  </tr>
</template>
