/*****************************************************************************/
/* DistributorsList: Style */
/*****************************************************************************/
.distributors-list .loading{
    position: relative;
    height: 100px;
    width: 100%;
}
