<template name="DistributorsList">
  <div class="container-fluid">

      {{> DistributorsListHeader }}

      <div class="col-sm-12">

          <section class="content sub-content">

              <div>

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="{{tabClass 'active'}}"><a href="#active" role="tab" data-toggle="tab">Active</a></li>
                      <li role="presentation" class="{{tabClass 'pending'}}"><a href="#pending" role="tab" data-toggle="tab">Pending <span class="label label-info">{{pendingCustomerCount}}</span></a></li>
                      <div class="clearfix hidden-md hidden-lg"></div>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active no_mobile">
                          <br/>
                          <table class="table table-hover tr_pointer">
                              <thead>
                              <tr>
                                  <td><a href="#sort" class="text-muted" data-key="customerNumber">Customer # <small><i class="{{sortedBy 'customerNumber'}}"></i></small></a></td>
                                  <td><a href="#sort" class="text-muted" data-key="name">Name <small><i class="{{sortedBy 'name'}}"></i></small></a></td>
                                  <td><a href="#sort" class="text-muted" data-key="defaultSalesLocationId">Location <small><i class="{{sortedBy 'defaultSalesLocationId'}}"></i></small></a></td>
                                  <td><a href="#sort" class="text-muted" data-key="createdAt">Date Added <small><i class="{{sortedBy 'createdAt'}}"></i></small></a></td>
                                  <td><a href="#sort" class="text-muted" data-key="groupCode">Group <small><i class="{{sortedBy 'groupCode'}}"></i></small></a></td>
                              </tr>
                              </thead>
                              <tbody>


                              {{#if searchActive}}
                                {{#if searchQueryReturned}}
                                    {{#each searchCustomers}}
                                        {{> DistributorEntry}}
                                    {{else}}
                                          <tr>
                                              <td colspan="7">
                                                  No <span class="text-lowercase">{{activeStatus}}</span> customers match your search terms
                                              </td>
                                          </tr>
                                    {{/each}}
                                {{else}}
                                  <tr>
                                      <td colspan="7">
                                          <em>Searching for <b>"{{searchText}}"</b>...</em>
                                      </td>
                                  </tr>
                                {{/if}}
                              {{else}}
                                {{#each customers}}
                                    {{> DistributorEntry}}
                                {{else}}
                                  <tr>
                                      <td colspan="7">
                                          No customers are {{activeStatus}} at the moment.
                                      </td>
                                  </tr>
                                {{/each}}
                              {{/if}}

                              </tbody>
                          </table>


                      </div>
                          

                  </div>
                  
                  {{#if Template.subscriptionsReady}}
                    {{#if hasMoreCustomers}}
                        <div id="showMoreResults" href="#">&nbsp;</div>
                    {{/if}}
                      {{#if hasMoreSearchResults}}
                          <div id="showMoreResults" href="#">&nbsp;</div>
                      {{/if}}
                {{else}}
                <div class="col-xs-12">
                    <div class="loading">{{> spinner}}</div>
                </div>
                {{/if}}
            
                  
              </div>

          </section>

      </div>
      
      
  </div>
</template>
