<template name="payruns">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Payrun Results</li>

                    <!-- <p class="mb20 pull-right"><a class="btn btn-primary" href="{{pathFor "payrun.new"}}">New Pay Run</a></p> -->
                </ul>
                <h4>Payrun Results</h4>

            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12 employee-filter">
                <div class="row">
                    <div class="col-md-8">
                      <div class="row">
                          <h5>Please select a period</h5>

                          <div class="row">
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <select name="paymentPeriodMonth" class="form-control dropdown" style="width: 100%">
                                          <option value="">Select Month</option>
                                          {{#each month}}
                                              <option value="{{period}}">{{name}}</option>
                                          {{/each}}
                                      </select>
                                  </div><!-- form-group -->
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <select name="paymentPeriodYear" class="form-control dropdown" style="width: 100%">
                                          <option value="">Select Year </option>
                                          {{#each year}}
                                              <option value="{{this}}">{{this}}</option>
                                          {{/each}}
                                      </select>
                                  </div><!-- form-group -->
                              </div>

                              <div class="col-md-3">
                                  <button class="btn btn-primary mr5 ladda-button" id="get-employee-payresults">Get Pay Results</button>
                              </div>

                              <div class="col-md-3">
                                  <button class="btn btn-primary excel"> <i class="fa fa-file-excel-o"></i> Download </button>
                              </div>
                          </div>
                      </div>
                    </div>

                    <!-- <div class="col-md-1">
                        <button class="btn btn-primary mr5 ladda-button pull-right"
                            id="get-employee-payresults">Edit</button>
                    </div> -->
                </div>
            </div>
            {{#if payrun}}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-primary mb60 table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Employee Id</th>
                                <th>Employee Full Name</th>
                                <th>Posted to SAP</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each payrun}}
                              {{> singlePayrunResult index=@index data=this}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->                    
                </div>

                {{#if approvals}}
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-primary mb60 table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Approver</th>
                                <th>Approval</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each approvals}}
                                    <tr class="">
                                        <td>{{increment @index}}</td>
                                        <td>{{getEmployeeFullName approvedBy}}</td>
                                        <td class="table-action-hide">
                                            {{approvalState isApproved}}
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{else}}
                    {{#if doesRequirePayrunApproval}}
                        <div class="col-md-12">
                            <div class="alert alert-danger text-center">
                                <p>No approval exists for this payrun results</p>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}

                {{#if canPostToSAP}}
                    <div class="pull-right">
                        <button class="btn btn-primary btn-large" id="postToSap">Post results to SAP</button>
                    </div>
                {{/if}}
            {{else}}
                <div class="col-md-12">
                    {{#if errorMsg}}
                    <div class="alert alert-danger text-center">
                        <p>{{errorMsg}}</p>
                    </div>
                    {{/if}}
                </div>
            {{/if}}
        </div><!-- row -->
    </div><!-- contentpanel -->
</template>


<template name="singlePayrunResult">
  <tr class="pointer anEmployeePayResult">
      <td>{{index}}</td>
      <td>{{getEmployeeRealId data.employeeId}}</td>
      <td>{{getEmployeeFullName data.employeeId}}</td>
      <td class="table-action-hide">
          {{#unless data.isPostedToSAP}}
              <i class="fa   fa-times-circle-o"></i>
          {{else}}
              <i class="fa  fa-check-square-o"></i>
          {{/unless}}
      </td>
  </tr>
</template>


<template name="PayrunResultsPostToSapErrors">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payrun Results Post to SAP - Errors</h3>
                    </div>
                    <div class="panel-body">
                        <!-- <h3>Errors</h3> -->
                        {{#each payrunResultsPostToSapErrors}}
                            <div class="alert alert-danger">
                                <p>{{this}}</p>
                            </div>
                        {{/each}}

                        <div id="log"></div>
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger pull-right" data-dismiss="modal">Cancel</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
