<template name="payruns">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Pay Runs</li>
                    <p class="mb20 pull-right"><a class="btn btn-primary" href="{{pathFor "payrun.new"}}">New Pay Run</a></p>
                </ul>
                <h4>Pay Runs</h4>

            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12 employee-filter">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="paymentPeriod.month" class="form-control dropdown" style="width: 100%">
                                {{#each month}}
                                    <option value="{{period}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div><!-- form-group -->
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select name="paymentPeriod.year" class="form-control dropdown" style="width: 100%">
                                {{#each year}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div><!-- form-group -->
                    </div>
                </div>
            </div>
            {{#if payrun}}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-primary mb60 table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Pay Group</th>
                                <th>Number of Employees</th>
                                <th>Payment Date</th>
                                <th>Tax Paid</th>
                                <th>Pension Paid</th>
                                <th>Total Amount Paid</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each payrun}}
                                {{> singlePayrun index=@index data=this}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            {{else}}
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        <p>No Payrun available</p>
                    </div>
                </div>
            {{/if}}
        </div><!-- row -->



    </div><!-- contentpanel -->
</template>

<template name="singlePayrun">
    <tr class="pointer">
        <td>{{index}}</td>
        <td>{{data.paygroup}}</td>
        <td>{{data.number_of_employees}}</td>
        <td>{{data.payment_date}}</td>
        <td>{{data.tax_paid}}</td>
        <td>{{data.pension_paid}}</td>
        <td>{{data.total_amount_paid}}</td>
    </tr>
</template>
