/*****************************************************************************/
/* ReturnOrder: Style */
/*****************************************************************************/
.return-order {
}

.pbs, .pvs, .pas {
    padding-bottom: 5px !important;
}

.prl, .phl, .pal {
    padding-right: 20px !important;
}

.pls, .phs, .pas {
    padding-left: 5px !important;
}

.remove-sign a {
    font-size: 12px;
    color: #ff0000;
    font-weight: normal;
}

.ips {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.remove-sign a:hover {
    text-decoration: none;
}

.remove-sign{
  text-align: center;
}

.return-order .customer-search i {
    color: #BDB9B9;
}

.return-order-spaced {
  margin-bottom: 30px;
}