<template name="EmployeeEditEmploymentPayrollModal">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs nav-line">
                      <li class="active"><a href=".employment" data-toggle="tab"><strong>Employment Details</strong></a></li>
                      <li><a href=".payroll" data-toggle="tab"><strong>Payroll details</strong></a></li>
                  </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content nopadding noborder">

                    {{#each selectedEmployee}}
                      <div class="tab-pane active employment" id="followers">
                          <div class="panel panel-default">
                              <div class="panel-body nopadding">
                                  <form class="form-horizontal form-bordered">

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Position</label>
                                          <div class="col-sm-4">
                                              <select name="employmentPosition" style="width: 100%" class="form-control dropdown">
                                                  <option value="">Unassigned</option>
                                                  {{#each positions}}
                                                      <option value="{{_id}}">{{name}}</option>
                                                  {{/each}}
                                              </select>
                                          </div>
                                          <div class="col-sm-4">
                                              <div>
                                                  <span>Use Org Reassignment</span>
                                              </div>
                                          </div>
                                      </div>
                                      {{#if selectedPosition}}
                                          <div class="form-group">
                                              <label class="col-sm-4 control-label">PayGrade</label>
                                              <div class="col-sm-4">
                                                  {{#each grades}}
                                                      <label class="radio-inline">
                                                          {{#if isEqual ../employeeProfile.employment.paygrade this._id}}
                                                          <input type="radio" name="employmentPayGrade" value="{{_id}}" checked="checked"> {{code}}
                                                          {{else}}
                                                          <input type="radio" name="employmentPayGrade" value="{{_id}}"> {{code}}
                                                          {{/if}}
                                                      </label>
                                                  {{/each}}
                                              </div>
                                              <div class="col-sm-4">
                                                  <div>
                                                  </div>
                                              </div>
                                          </div>
                                      {{/if}}

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Hire Date</label>
                                          <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker employeeProfile.employment.hireDate}}
                                                <input name="employmentHireDate" type="text" class="form-control datepicker" data-field="employmentHireDate" />
                                            {{/datepicker}}
                                          </div>
                                          <div class="col-sm-4">
                                              &nbsp;
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Confirmation Date</label>
                                          <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker employeeProfile.employment.confirmationDate}}
                                                <input name="employmentConfirmationDate" type="text" class="form-control datepicker" data-field="employmentConfirmationDate" />
                                            {{/datepicker}}
                                          </div>
                                          <div class="col-sm-4">
                                              &nbsp;
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Status</label>
                                          <div class="col-sm-4">
                                              {{#if employeeProfile.employment.status}}
                                                <select name="employmentStatus" style="width: 100%" class="form-control dropdown">
                                                    <option value="Active" selected>Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                              {{else}}
                                                <select name="employmentStatus" style="width: 100%" class="form-control dropdown">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive" selected>Inactive</option>
                                                </select>
                                              {{/if}}
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Termination/Resignation Date</label>
                                          <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                              {{#datepicker employeeProfile.employment.terminationDate}}
                                                  <input name="employmentTerminationDate" type="text" class="form-control datepicker" data-field="employmentTerminationDate" />
                                              {{/datepicker}}
                                          </div>
                                          <div class="col-sm-4">
                                              &nbsp;
                                          </div>
                                      </div>
                                  </form>
                              </div><!-- panel-body -->

                              <div class="panel-footer">
                                  <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                  <button class="btn btn-primary mr5 ladda-button" id="saveEmployment">Save</button>
                              </div>
                          </div>
                          <!-- panel -->
                      </div>
                    {{/each}}

                    <div class="tab-pane payroll" id="payroll">
                        <div class="panel">
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <div class="table-responsive">
                                    <table class="table table-primary mb30 calc">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Payment Code</th>
                                            <th>Description</th>
                                            <th>assigned Value</th>
                                            <th>Amount(If Editable per Employee)</th>
                                            <th>Employee Calculated</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each assignable}}
                                            <tr>
                                                <td>{{increment @index}}</td>
                                                <td>{{code}}</td>
                                                <td>{{title}}</td>
                                                <td>{{value}}</td>
                                                <td><input type="text" value="{{inputed}}" class="payAmount form-group" id="{{_id}}" {{disabled _id}}></td>
                                                <td>{{parsedValue}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- panel-body -->

                            <div class="panel-footer">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary mr5 ladda-button" id="saveEmployeePayrollPaytypes">Save</button>
                            </div>
                        </div><!-- panel -->
                    </div><!-- tab-pane -->
                  </div>

                </div>
            </div>
        </div>
    </div>
</template>
