<template name="EmployeeEditEmploymentPayrollModal">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                  <ul class="nav nav-tabs nav-line">
                      <li class="active"><a href=".employment" data-toggle="tab"><strong>Employment Details</strong></a></li>
                      
                      {{#if isEmployeePromotionEnabled}}
                      <li><a href=".promotions" data-toggle="tab"><strong>Promotions</strong></a></li>                      
                      {{/if}}

                      <li><a href=".payroll" data-toggle="tab"><strong>Payroll details</strong></a></li>
                      <li><a href=".netPayAllocation" data-toggle="tab"><strong>Net Pay Currency Allocation</strong></a></li>
                  </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content nopadding noborder">

                    {{#each selectedEmployee}}
                      <div class="tab-pane active employment" id="followers">
                          <div class="panel panel-default">
                              <div class="panel-body nopadding">
                                  <form class="form-horizontal form-bordered">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Position</label>
                                          <div class="col-sm-4">
                                              <select name="employmentPosition" style="width: 100%" class="form-control dropdown">
                                                  <option value="">Unassigned</option>
                                                  {{#each positions}}
                                                      <option value="{{_id}}">{{name}}</option>
                                                  {{/each}}
                                              </select>
                                          </div>
                                          <div class="col-sm-4">
                                              <div>
                                                  <span>Use Org Reassignment</span>
                                              </div>
                                          </div>
                                      </div>
                                      {{#if selectedPosition}}
                                          <div class="form-group">
                                              <label class="col-sm-4 control-label">PayGrade</label>
                                              <div class="col-sm-4">
                                                  {{#each grades}}
                                                      <label class="radio-inline">
                                                          {{#if isEqual ../employeeProfile.employment.paygrade this._id}}
                                                          <input type="radio" name="employmentPayGrade" value="{{_id}}" checked="checked"> {{code}}
                                                          {{else}}
                                                          <input type="radio" name="employmentPayGrade" value="{{_id}}"> {{code}}
                                                          {{/if}}
                                                      </label>
                                                  {{/each}}
                                              </div>
                                              <div class="col-sm-4">
                                                  <div>
                                                  </div>
                                              </div>
                                          </div>
                                      {{/if}}
                                    
                                    
                                    {{#if directEmployeeManagerEnabled}}
                                        <div class="form-group">
                                            {{#if showFirstTabSpinner}}
                                            <div class="row">
                                                <div class="col-sm-offset-5 col-sm-2">
                                                    {{> spinner}}
                                                </div>
                                            </div>
                                            {{/if}}

                                            <div class="row">
                                                <label class="col-sm-4 control-label">Supervisor</label>
                                                <div class="col-sm-4">
                                                    <select name="directSupervisorId" style="width: 100%" class="form-control dropdown">
                                                        <option value=""></option>
                                                        {{#each allEmployees}}
                                                            <option value="{{_id}}">{{profile.fullName}}</option>

                                                            <!-- {{#if isEqual ../directSupervisorId this.directSupervisorId}}
                                                                <option value="{{_id}}" checked="checked"> {{profile.fullName}}</option>
                                                            {{else}}
                                                                <option value="{{_id}}">{{profile.fullName}}</option>
                                                            {{/if}} -->
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Alternate Supervisor</label>
                                            <div class="col-sm-4">
                                                <select name="directAlternateSupervisorId" style="width: 100%" class="form-control dropdown">
                                                    <option value=""></option>
                                                    {{#each allEmployees}}
                                                        <option value="{{_id}}">{{profile.fullName}}</option>

                                                        <!-- {{#if isEqual ../directAlternateSupervisorId this.directAlternateSupervisorId}}
                                                            <option value="{{_id}}" checked="checked"> {{profile.fullName}}</option>
                                                        {{else}}
                                                            <option value="{{_id}}">{{profile.fullName}}</option>
                                                        {{/if}} -->
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/if}}

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Hire Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker employeeProfile.employment.hireDate}}
                                                <input name="employmentHireDate" type="text" class="form-control datepicker" data-field="employmentHireDate" />
                                            {{/datepicker}}
                                        </div>
                                        <div class="col-sm-4">
                                              &nbsp;
                                        </div>
                                    </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Confirmation Date</label>
                                          <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker employeeProfile.employment.confirmationDate}}
                                                <input name="employmentConfirmationDate" type="text" class="form-control datepicker" data-field="employmentConfirmationDate" />
                                            {{/datepicker}}
                                          </div>
                                          <div class="col-sm-4">
                                              &nbsp;
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Status</label>
                                          <div class="col-sm-4">
                                              {{#if employeeProfile.employment.status}}
                                                <select name="employmentStatus" style="width: 100%" class="form-control dropdown">
                                                    <option value="Active" selected>Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                              {{else}}
                                                <select name="employmentStatus" style="width: 100%" class="form-control dropdown">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive" selected>Inactive</option>
                                                </select>
                                              {{/if}}
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Termination/Resignation Date</label>
                                          <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                              {{#datepicker employeeProfile.employment.terminationDate}}
                                                  <input name="employmentTerminationDate" type="text" class="form-control datepicker" data-field="employmentTerminationDate" />
                                              {{/datepicker}}
                                          </div>
                                          <div class="col-sm-4">
                                              &nbsp;
                                          </div>
                                      </div>
                                  </form>
                              </div><!-- panel-body -->

                              <div class="panel-footer">
                                  <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                  <button class="btn btn-primary mr5 ladda-button" id="saveEmployment">Save</button>
                              </div>
                          </div>
                          <!-- panel -->
                      </div>
                    {{/each}}

                    {{#if isEmployeePromotionEnabled}}
                    <div class="tab-pane promotions" id="promotions">
                        <div class="panel">
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <div class="row">
                                  <div class="col-sm-12">
                                        <p class="mb20 pull-right"><button id="newPromotion" class="btn btn-primary">New Promotion</button></p>
                                    </div>
                                </div>
                                <br/>

                                <div class="table-responsive">
                                    <table class="table table-primary mb60 table-hover">                                                
                                        <thead>
                                        <tr>
                                            <th>Pay Grade</th>
                                            <th>Position</th>
                                            <th>Date of Promotion</th>

                                            {{#if isTryingToAddNewPromotion}}
                                                <th></th>                                        
                                            {{/if}}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each promotionsHistory}}
                                            <tr>
                                                <td class="col-md-3">{{payGradeName}}</td>
                                                <td class="col-md-3">{{positionName}}</td>
                                                {{#if date}}
                                                    <td class="col-md-3">{{formatDate date}}</td>
                                                {{else}}
                                                    <td class="col-md-3"></td>
                                                {{/if}}
                                                {{#if isTryingToAddNewPromotion}}
                                                    <td class="col-md-3">
                                                    </td>
                                                {{/if}}
                                            </tr>
                                        {{/each}}
                                        {{#if isTryingToAddNewPromotion}}
                                            <td class="col-md-3">
                                                <select name="newPromotionPayGrade" class="form-control dropdown">
                                                    <option value=""></option>
                                                    {{#each allPayGrades}}
                                                        <option value="{{_id}}">{{code}}</option>
                                                    {{/each}}
                                                </select>
                                            </td>
                                            <td class="col-md-3">
                                                <select name="newPromotionPosition" class="form-control dropdown">
                                                    <option value=""></option>
                                                    {{#each positions}}
                                                        <option value="{{_id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </td>
                                            <td class="col-md-3">
                                                {{#datepicker}}
                                                    <input name="newPromotionDate" type="text" class="form-control datepicker" data-field="newPromotionDate" />
                                                {{/datepicker}}
                                            </td>
                                            <td class="col-md-3">
                                                <button class="btn btn-primary mr5 ladda-button" id="confirmNewPromotion">Confirm</button>
                                                <button type="reset" class="btn btn-danger mr5 ladda-button" id="cancelNewPromotion">Cancel</button>
                                            </td>
                                        {{/if}}
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- panel-body -->

                            <div class="panel-footer">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- panel -->
                    </div><!-- tab-pane -->
                    {{/if}}

                    <div class="tab-pane payroll" id="payroll">
                        <div class="panel">
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <div class="table-responsive">
                                    <table class="table table-primary mb30 calc">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Payment Code</th>
                                            <th>Description</th>
                                            <th>assigned Value</th>
                                            <th>Amount(If Editable per Employee)</th>
                                            <th>Employee Calculated</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each assignable}}
                                            <tr>
                                                <td>{{increment @index}}</td>
                                                <td>{{code}}</td>
                                                <td>{{title}}</td>
                                                <td>{{value}}</td>
                                                <td><input type="text" value="{{inputed}}" class="payAmount form-group" id="{{_id}}" {{disabled _id}}></td>
                                                <td>{{parsedValue}}</td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <form class="form-horizontal form-bordered">
                                            <div class="form-group">
                                                <label class="control-label">    HOURLY RATE</label>
                                            </div>
                                                
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">{{baseCurrency}}</label>
                                                <!--<br/>
                                                <label class="col-sm-4 control-label">e.g If 350 NGN is equal is 1 USD, then enter 350</label>
                                                <br/>-->
                                                <div class="col-sm-4">
                                                    <input name="hourlyRate_NGN" type="text" class="form-control" value="{{hourlyRate 'NGN'}}" {{disableHourlyRate}} />
                                                </div>
                                            </div>
            
                                            {{#if alternateCurrency}}
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">{{alternateCurrency}}</label>
                                                <div class="col-sm-4">
                                                    <input name="hourlyRate_{{alternateCurrency}}" type="text" class="form-control" value="{{hourlyRate (alternateCurrency)}}" {{disableHourlyRate}} />
                                                </div>
                                            </div>
                                            {{/if}}
                                        </form>
                                    </div>
                                </div>
                            </div><!-- panel-body -->

                            <div class="panel-footer">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary mr5 ladda-button" id="saveEmployeePayrollPaytypes">Save</button>
                            </div>
                        </div><!-- panel -->
                    </div><!-- tab-pane -->

                    <div class="tab-pane netPayAllocation" id="netPayAllocation">
                        <div class="panel">
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">
                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Has Net Pay Allocation</label>
                                          <div class="col-sm-4">
                                              <select name="hasNetPayAllocation" style="width: 100%" class="form-control dropdown">
                                                    <option value="">Nothing selected</option>
                                                    <option value="false" {{hasNetPayAllocation}}>No</option>
                                                    <option value="true" {{hasNetPayAllocation}}>Yes</option>
                                              </select>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label class="col-sm-4 control-label">Foreign currency</label>
                                            <div class="col-sm-4">
                                                <select name="foreignCurrencyCode" class="form-control dropdown" style="width: 100%">
                                                    <option value="">None</option>
                                                    {{#each allCurrencies}}
                                                        <option value="{{this}}" {{hasNetPayAllocationCurrency this}}>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                      </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Rate to Base Currency({{baseCurrency}})</label>
                                        <!--<br/>
                                        <label class="col-sm-4 control-label">e.g If 350 NGN is equal is 1 USD, then enter 350</label>
                                        <br/>-->
                                        <div class="col-sm-4">
                                            <input name="rateToBaseCurrency" type="text" class="form-control" value="{{netPayAllocationRateToBaseCurrency}}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Foreign currency amount(per month)</label>
                                        <div class="col-sm-4">
                                            <input name="foreignCurrencyAmount" type="text" class="form-control" value="{{hasNetPayAllocationAmount}}" />
                                        </div>
                                    </div>
                                  </form>
                            </div><!-- panel-body -->

                            <div class="panel-footer">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary mr5 ladda-button" id="saveEmployeeNetPayAllocation">Save</button>
                            </div>
                        </div><!-- panel -->
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</template>
