<template name="EmailSettingEdit">
    <div class="modal fade add-emailsetting" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit emailsetting</h3>
                    </div>
                    <div class="panel-body">
                        {{#unless Template.subscriptionsReady}}
                        <div class="row">
                            <div class="col-sm-12">
                                {{> spinner}}
                            </div>
                        </div>
                        {{/unless}}
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emailsetting-name" class="control-label">Name <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="emailsetting-name" class="form-control" placeholder="Name" ng-model="emailsetting.name" value="{{emailsetting.name}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emailsetting-email" class="control-label">Email <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="emailsetting-email" class="form-control" placeholder="email" ng-model="emailsetting.email" value="{{emailsetting.email}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="emailsetting-department" class="control-label">Department <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="emailsetting-department" class="form-control" placeholder="department" ng-model="emailsetting.department" value="{{emailsetting.department}}" readonly/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                          
                        </div><!-- row -->


                        {{#if errorMessage}}
                          <p class="text-center error">{{errorMessage}}</p>
                        {{/if}}

                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" id="new-emailsetting-close" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary mr5" id="save">Save</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
