.wizard-step {
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
    display: block;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #777;
}

.wizard-header {
    background-color: #d6d9dc;
    padding: 10px 10px 10px 10px;
}

.wizard-row {
    padding: 10px 10px 10px 10px;
}

.wizard-step:hover {
    border-color: #0071cc;
}

.spaced {
    margin-top: 10px;
}

.number-circle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 20px;
    height: 20px;
    padding: 0px;
    background: #999999;
    border: 0px solid black;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    display: inline-block;
}

.number-circle-white {
    background: #fff;
    color: #4d5a64;
    /*border: 1px solid #ccc;*/
}

.number-circle-green {
    background: #4CAF50;
    color: #fff;
}

.btn-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    background-image: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.customer-search {
    position: relative;
}

.customer-search input {
    width: 100%;
}

.customer-search .customer-search-result {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    height: 100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 10;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
}

.customer-search.custom .customer-search-result {
    width: 445px;
}

.customer-search.custom .customer-search-result {
    height: 105px;
}

.customer-search.custom .customer-search-result {
    padding: 3px 0;
}

.customer-search .customer-search-result .customer-search-elem {
    width: 100%;
    display: block;
    padding: 2px 5px;
    color: #484848;
    text-decoration: none;
}

.custom .customer-search-elem {
    padding: 2px 5px;
}

.customer-search .customer-search-result .customer-search-elem:hover {
    background-color: #e0e0e0;
}

@media only screen and (min-width: 960px) {
    .item-fixed {
        width: 400px;
    }
}

@media only screen and (max-width: 560px) {
    .fluid-width-xs {
        width: 100%!important;
    }
    .fast-search.custom .fast-search-result {
        width: 380px!important;
    }
    .customer-search.custom .customer-search-result {
        width: 380px!important;
    }
}

.total-table.dl-horizontal dd {
    padding-right: 5%!important;
}

.btn {
    margin-right: 0px!important;
}

a.glyph-custom {
    pointer-events: auto!important;
    z-index: 1000!important;
}

a.glyph-custom:focus {
    text-decoration: none!important;
    color: #999!important;
}

a.glyph-custom:visited {
    text-decoration: none!important;
}

a.glyph-custom:hover {
    text-decoration: none!important;
    color: #bbb!important;
}

a.glyph-custom:active {
    text-decoration: none!important;
}

.wizard-tip {
    border-radius: 3px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #d6d9dc;
    padding: 10px 10px 10px 10px;
    display: block;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #000;
}

.parameterSetup {
    border: 1px solid #ccc;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 1px 0px #C7C7C7;
    position: relative;
    background-color: rgb(240, 241, 242);
    padding: 10px 10px 10px 10px;
    display: block;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #000;
}

.add-rules-title {
    background-color: #005BA4 !important;
    border: white !important;
}

.paramater {
    background: whitesmoke;
    padding: 10px;
    border-bottom: 1px solid #D6D9DC;
    border-radius: 3px;
}

.parameter-title {
    color: #242F38;
    margin-bottom: 20px;
    font-weight: 600;
}

.add-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cummulative {
    font-size: 14px;
    line-height: 1.42857143;
    display: block;
    width: 100%;
    height: 34px;
}

.remove-rule i {
    background-color: #F0F1F2;
    padding: 2px;
    border-radius: 5px;
}

.remove-reward i {
    background-color: #F0F1F2;
    padding: 2px;
    border-radius: 5px;
}
