<template name="LeaveEntitlementsIndex">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left" style="padding: 9px;">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li>Leave Entitlements</li>
                </ul>
                <h4>Leaves Entitlements<span class="mb20 pull-right" id="createLeaveEntitlement"><a class="btn btn-primary">New Leave Entitlement</a></span></h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="xlg-title">All Leave Entitlements</h3>

                {{#each leaveEntitlements}}
                    {{> LeaveEntitlementEntry }}
                {{else}}
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        <p>No leave entitlements created yet</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div><!-- contentpanel -->
</template>

<template name="LeaveEntitlementEntry">
    <div class="list-group contact-group pointer">
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{name this._id}}</h4>
                    <div class="media-content">
                        <div class="pull-left">
                            <i class="fa fa-calendar-o"></i>Number of Days: <span class="leavedays">{{numberOfLeaveDaysPerAnnum}}</span>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> Date Created: {{formatTime createdAt}}</li>
                            </ul>
                        </div>

                        <div class="pull-right">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm" type="button" id="edit"><i class="fa fa-pencil mr5"></i>Edit</button>
                                    <button class="btn btn-default btn-sm" type="button" id="delete" ><i class="fa fa-trash-o mr5"></i>Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- media -->
        </a><!-- list-group -->
    </div><!-- list-group -->
</template>
