<template name="HmoPlanCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{#autoForm collection="HmoPlans" doc=this id=formType type=formAction }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{#if data}} Update HMO Plan{{else}}Create HMO Plan {{/if}}</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            {{> afQuickField name='businessId' value=businessIdHelper type='hidden'}}

                            <div class="col-sm-3">
                                {{> afQuickField name="name" class="form-control" id="name"}}
                            </div><!-- col-sm-3 -->

                            <div class="col-sm-3">
                                {{> afQuickField name="maximumDurationInMonths" id="maximumDurationInMonths"}}
                            </div><!-- col-sm-3 -->

                            <div class="col-sm-3">
                                {{> afQuickField name="payGradeIds" options=payGrades class="dropdown"}}
                            </div><!-- col-sm-3 -->
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                {{> afQuickField name="positionIds" options=positions class="dropdown"}}
                            </div><!-- col-sm-3 -->

                            <div class="col-sm-3">
                                {{> afQuickField name="status" options=status class="dropdown"}}
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary mr5" id="TimeTypeCreate">Save</button>
                        <button type="reset" class="btn btn-danger" id="new-pay-type-close" data-dismiss="modal">Cancel</button>
                    </div><!-- panel-footer -->
                </div>
               {{/autoForm}}
            </div>
        </div>
    </div>
</template>
