<template name="DistributorOrdersChart">
    <div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">
        <div class="well" id="ordersBarWell">
            <div class="media">
                <div class="media-body">
                    <h4 class="mt0">ORDERS BY MONTHS<br/><small>Total this year: {{formatNumberZ ordersThisYear}} </small>
                        {{#if result.percentage}}
                            <div class="pull-right h6 {{#if result.negative }} text-danger{{else}}text-success {{/if}}">
                                {{formatNumberZ result.percentage}}% <i class="glyphicon {{#if result.negative}}glyphicon-arrow-down{{else}}glyphicon-arrow-up{{/if}}"></i></div>
                        {{/if}}
                    </h4>
                </div>
            </div>
            <div class="chart-responsive">
                <canvas id="ordersBar" style="height: 35px;width: 100%"></canvas>
            </div>
            <div id="chartjs-tooltip-orders" class="chartjs-tooltip"></div>
        </div>
    </div>
</template>
