<template name="EmployeeEntry">
    <div class="list-group contact-group pointer">
        <a href="#" class="list-group-item">
            <div class="media">
                <div class="pull-left">
                    {{#if images employeeProfile.photo._id }}
                        {{#with images employeeProfile.photo._id}}
                            <img src="{{url store='avatarsLarge' }}" class="img-circle" id="avatar-image" /><br/>
                        {{/with}}
                    {{ else }}
                        <img class="img-circle img-online" src="/admin/img/Person.png" alt="...">
                    {{/if}}
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{profile.fullName}} <small> </small> </h4>
                    <div class="media-content">
                        <i class="fa fa-map-marker"></i> Lagos
                        <ul class="list-unstyled">
                            <li><i class="fa fa-skype"></i> {{profile.firstname}}.{{profile.lastname}}</li>
                            <li><i class="fa fa-mobile"></i> {{employeeProfile.phone}}</li>
                            <li><i class="fa fa-envelope-o"></i> {{emails.[0].address}}</li>
                            <li><i class="fa fa-star"></i> {{positionName employeeProfile.employment.position}}</li>
                        </ul>
                    </div>
                </div>
            </div><!-- media -->
        </a><!-- list-group -->
    </div><!-- list-group -->
</template>