<template name="GlobalSearchProductEntry">
    <div class="global-search-product-entry">

        <div class="thumbnail-wrapper d48 circular bg-complete-darker text-white inline m-t-10">
            <div>
                <i class="glyphicon glyphicon-tag"></i>
            </div>
        </div>
        <div class="p-l-10 inline p-t-5">
            <h5 class="m-b-5">
                <span class="semi-bold result-name">{{name}}</span>
            </h5>
            {{#if code}}
                <p class="hint-text small">{{code}}</p>
            {{else}}
                <p class="hint-text small">Unspecified.</p>
            {{/if}}
        </div>

    </div>
</template>
