<template name="PensionCreate">
    <div class="modal fade add-pension" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{#if edit}} Edit Pension - {{code}} {{else }}New Pension Rule{{/if}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pension-code" class="control-label">Code (alphanumeric) <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="pension-code" class="form-control" placeholder="Code" name="code" value="{{code}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="pension-name" class="control-label">Name <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="pension-name" class="form-control" placeholder="Name" name="name" value="{{name}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Pay Types</label>
                                    {{#semanticselect}}
                                        <select name="payTypes" multiple="" style="width: 100%" class="ui fluid search dropdown form-control">
                                            <option value="">Select Pay Type</option>
                                            {{#each paytypes}}
                                                <option value="{{_id}}" {{selectedPaytypes}}>{{code}}</option>
                                            {{/each}}
                                        </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-12 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Employer's Contribution</label>
                                    <input type="number" class="form-control" placeholder="Percentage" name="employerContributionRate" value="{{employerContributionRate}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Employee's Contribution</label>
                                    <input type="number" class="form-control" placeholder="Percentage" name="employeeContributionRate" value="{{employeeContributionRate}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select  name="status" class="form-control dropdown" >
                                        <option value="Active" {{selected "status" "Active"}}>Active</option>
                                        <option value="Inactive" {{selected "status" "Inactive"}}>Inactive</option>
                                    </select>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->

                        </div><!-- row -->
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary mr5" id="Pension">{{#if edit}}Update{{else}}Create{{/if}}</button>
                        <button type="reset" class="btn btn-danger" id="new-pension-close" data-dismiss="modal">Cancel</button>
                        {{#if edit}}<button type="reset" class="btn btn-danger pull-right" id="deletePension">Delete</button>{{/if}}
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
