/*****************************************************************************/
/* EmployeeTimeManagementCreate: Style */
/*****************************************************************************/
.emplist{
    margin-bottom: 5px !important;
}
.approvals{
    margin-top: 10px;
    margin-bottom: 10px;
}
tr, th {
    text-align: center;
}

input[type=checkbox] {
    zoom: 1.5;
}
