<template name="TravelRequisitionBudgetHolderDetail">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="panel-title">Travel Request for {{getEmployeeNameById currentTravelRequest.createdBy}}</h3>
                            </div>
                            <div class="col-sm-4">
                                <h3 class="panel-title pull-right">Status: {{currentTravelRequest.status}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{#unless Template.subscriptionsReady}}
                        <div class="row">
                            <div class="col-sm-12">
                                {{> spinner}}
                            </div>
                        </div>
                        {{/unless}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" class="control-label">Description <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="Description" name="description" value="{{currentTravelRequest.description}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label for="budget-code" class="control-label">Which project is this trip <u>primarily</u> related to?</label>
                                    {{#semanticselect}}
                                    <select id="budget-code" name="budget-code" style="width: 100%" class="form-control">
                                        {{#each budgetList}}
                                        <option value="{{_id}}" {{budgetCodeSelected _id}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                    {{/semanticselect}}
                                    <span class="text-danger"><small>Please verify that the project is correct, this field cannot also be left blank</small></span>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->

                        </div>



                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <ul class="list-inline">
                                        <li><input type="radio" value="Return" name="travelType" {{travelTypeChecked "Return"}} disabled/>&nbsp;&nbsp;Return Trip</li>
                                        <li><input type="radio"  value="Multiple" name="travelType" {{travelTypeChecked "Multiple"}} disabled/>&nbsp;&nbsp;Multiple Trips</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        {{#each currentTravelRequest.trips}}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="fromId_{{this.tripIndex}}" class="control-label">From <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="fromId_{{this.tripIndex}}" class="form-control" placeholder="From City" name="fromId_{{this.tripIndex}}" value="{{getTravelcityName this.fromId}}" disabled />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="toId_{{this.tripIndex}}" class="control-label">To <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="toId_{{this.tripIndex}}" class="form-control" placeholder="To City" name="toId_{{this.tripIndex}}" value="{{getTravelcityName this.toId}}" disabled />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-2">
                                <div class="form-group datetimepicker">
                                    <label class="control-label">Departure<span class="asterisk important-input">*</span></label>
                                    <input class="form-control" type="text" id="departureDate_{{this.tripIndex}}" name="departureDate_{{this.tripIndex}}" placeholder="Departure Date" value="{{formatDate this.departureDate}}" disabled/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">

                                    <label for="departureTime_{{this.tripIndex}}" class="control-label">Time <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="departureTime_{{this.tripIndex}}" class="form-control" placeholder="Departure Time" name="departureTime_{{this.tripIndex}}" value="{{this.departureTime}}" disabled/>
                                </div><!-- form-group -->
                            </div>
                            {{#if isReturnTrip}}
                            <div class="col-sm-2">
                                <div class="form-group datetimepicker">
                                    <label class="control-label">Return <span class="asterisk important-input">*</span></label>
                                    <input class="form-control" type="text" id="returnDate_{{this.tripIndex}}" name="returnDate_{{this.tripIndex}}" placeholder="Return Date" value="{{formatDate this.returnDate}}" disabled/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="returnTime_{{this.tripIndex}}" class="control-label">Time <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="returnTime_{{this.tripIndex}}" class="form-control" placeholder="Return Time" name="returnTime_{{this.tripIndex}}" value="{{this.returnTime}}" disabled/>
                                </div>
                                <!-- form-group -->
                            </div><!-- col-sm-12 -->
                            {{/if}}
                        </div>
                        {{#unless isLastLeg this.tripIndex}}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="transportationMode_{{this.tripIndex}}" class="control-label">Mode of Transport <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="transportationMode_{{this.tripIndex}}" class="form-control" placeholder="Transportation Mode" name="transportationMode_{{this.tripIndex}}" value="{{this.transportationMode}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-5">
                                <div class="form-group">

                                    <div style="display: {{isAirModeOfTransport this.tripIndex}}">
                                        <label for="airlineId_{{this.tripIndex}}" class="control-label">Preferred Airline</label>
                                        <input type="text" id="airlineId_{{this.tripIndex}}" class="form-control" placeholder="Preferred Airline" name="airlineId_{{this.tripIndex}}" value="{{getAirlineName this.airlineId}}" disabled/>
                                    </div>

                                    <div style="display:{{isCarModeOfTransport this.tripIndex}}">

                                        <label for="carOption_{{this.tripIndex}}" class="control-label">Car Options</label>
                                        <input type="text" id="carOption_{{this.tripIndex}}" class="form-control" placeholder="Car Option" name="carOption_{{this.tripIndex}}" value="{{this.carOption}}" disabled/>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>

                                    <div class="ckbox ckbox-success" style="display: {{isAirModeOfTransport this.tripIndex}}">
                                        <input type="checkbox" id="provideAirportPickup_{{this.tripIndex}}" name="provideAirportPickup_{{this.tripIndex}}" value="{{this.tripIndex}}" {{provideAirportPickup this.tripIndex}} disabled/>
                                        <label for="provideAirportPickup_{{this.tripIndex}}">I need for airport taxi</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="ckbox ckbox-success">
                                        <input type="checkbox" id="provideGroundTransport_{{this.tripIndex}}" name="provideGroundTransport_{{this.tripIndex}}" value="{{this.tripIndex}}" {{provideGroundTransport this.tripIndex}} disabled/>
                                        <label for="provideGroundTransport_{{this.tripIndex}}">I need local transportation</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="hotelId_{{this.tripIndex}}" class="control-label">Hotel <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="hotelId_{{this.tripIndex}}" class="form-control" placeholder="Preferred Hotel" name="hotelId_{{this.tripIndex}}" value="{{getHotelName this.hotelId}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="hotelRate_{{this.tripIndex}}" class="control-label">Rate per Night</label>
                                    <input type="text" id="hotelRate_{{this.tripIndex}}" class="form-control" name="hotelRate_{{this.tripIndex}}" value="{{this.hotelRate}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="destinationCityCurrreny_{{this.tripIndex}}" class="control-label">Curr.</label>
                                    <input type="text" id="destinationCityCurrreny_{{this.tripIndex}}" class="form-control" name="destinationCityCurrreny_{{this.tripIndex}}" value="{{this.destinationCityCurrreny}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>My per diem should exclude:</label>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isBreakfastIncluded_{{this.tripIndex}}" {{isBreakfastIncluded this.tripIndex}} disabled/>
                                    <label for="isBreakfastIncluded_{{this.tripIndex}}">Breakfast</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isLunchIncluded_{{this.tripIndex}}" {{isLunchIncluded this.tripIndex}} disabled/>
                                    <label for="isLunchIncluded_{{this.tripIndex}}">Lunch</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isDinnerIncluded_{{this.tripIndex}}" {{isDinnerIncluded this.tripIndex}} disabled/>
                                    <label for="isDinnerIncluded_{{this.tripIndex}}">Dinner</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isIncidentalsIncluded_{{this.tripIndex}}" {{isIncidentalsIncluded this.tripIndex}} disabled/>
                                    <label for="isIncidentalsIncluded_{{this.tripIndex}}">Incidentals</label>
                                </div>
                            </div>
                        </div>


                        <hr/>
                        <div class="row">
                            {{#if this.provideAirportPickup}}
                            <div class="col-sm-6">
                                <span>Airport Taxi: Origin: <strong>{{formatMoney this.originCityAirportTaxiCost this.originCityCurrreny}}</strong> Destination: <strong>{{formatMoney this.destinationCityAirportTaxiCost this.destinationCityCurrreny}}</strong></span>
                            </div>
                            {{/if}}
                            {{#if this.provideGroundTransport}}
                            <div class="col-sm-6">
                                <span>Ground Transportation: <strong>{{formatMoney this.groundTransportCost this.destinationCityCurrreny}}/day</strong></span>
                            </div>
                            {{/if}}
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span>Per Diem Rate: <strong>{{formatMoney this.perDiemCost this.destinationCityCurrreny}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Days: <strong>{{this.totalDuration}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Per Diem: <strong>{{formatMoney this.totalPerDiem this.destinationCityCurrreny}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Hotel: <strong>{{formatMoney this.totalHotelCost this.destinationCityCurrreny}}</strong></span>
                            </div>

                        </div>
                        {{/unless}}
                        <hr/>
                        {{/each}}

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="ckbox ckbox-danger">
                                        <input type="checkbox" id="cashAdvanceNotRequired" name="cashAdvanceNotRequired" value="{{_id}}" {{cashAdvanceNotRequiredChecked}} />
                                        <label for="cashAdvanceNotRequired">I do not need a cash advance (I will simply retire my expenses when i return)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">
                                <span><strong>Trip Summary</strong></span>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-8">
                                <span>Total Estimated Amount Payable to Employee:</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalEmployeeAmountPayableNGN "NGN"}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalEmployeeAmountPayableUSD "USD"}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <span>Total Estimated Hotel Cost:</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalHotelCostNGN "NGN"}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalHotelCostUSD "USD"}}</span>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <span><strong>Total Estimated Trip Cost (Excluding Flights/Car Hire):</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right"><strong>{{formatMoney currentTravelRequest.totalTripCostNGN "NGN"}}</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right"><strong>{{formatMoney currentTravelRequest.totalTripCostUSD "USD"}}</strong></span>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="budgetHolderComment" class="control-label">Budget Holder Comment </label>
                                <input type="text" id="budgetHolderComment" class="form-control" placeholder="Comment" name="budgetHolderComment" value="{{currentTravelRequest.budgetHolderComment}}"/>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>

                        <button class="btn btn-success mr5 pull-right" id="approve" data-dismiss="modal">Approve</button>
                        <button class="btn btn-danger mr5 pull-right" id="reject" data-dismiss="modal">Reject</button>

                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
