/*****************************************************************************/
/* ReturnCreate: Style */
/*****************************************************************************/
a.reason-dropdown {
    pointer-events: auto!important;
    z-index: 1000!important;
}

a.reason-dropdown:focus {
    text-decoration: none!important;
    color: #999!important;
}

a.reason-dropdown:visited {
    text-decoration: none!important;
}

a.reason-dropdown:hover {
    text-decoration: none!important;
    color: #bbb!important;
}

a.reason-dropdown:active {
    text-decoration: none!important;
}