<template name="GlobalSearch">

    <div class="global-search">

        <!-- START OVERLAY -->
        <div class="overlay hide" data-pages="search">
            <!-- BEGIN Overlay Content !-->
            <div class="overlay-content has-results m-t-20">
                <!-- BEGIN Overlay Header !-->
                <div class="container-fluid">
                    <!-- BEGIN Overlay Close !-->
                    <a href="#" class="close-icon-light overlay-close text-black fs-16">
                        <i id="global-search-close" class="pg-close"></i>
                    </a>
                    <!-- END Overlay Close !-->
                </div>
                <!-- END Overlay Header !-->
                <div class="container-fluid">
                    <!-- BEGIN Overlay Controls !-->
                    <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..."
                           autocomplete="off" spellcheck="false">
                    <br>
                    <!-- END Overlay Controls !-->
                </div>

                <div class="container-fluid">
                    <br>
                    <div class="search-instruction">
                        <p class="text-muted">Type at least 3 characters to search</p>
                    </div>
                    <div class="search-loading">
                        <p class="text-muted"><em>Searching for <b>"{{searchText}}"</b>...</em></p>
                    </div>
                    <br>


                    <div class="search-results m-t-40">

                        <p class="bold">Search Results</p>


                        <div class="col-md-4">
                            <div class="row">
                                <div class="">
                                    <h4 class="bold">ORDERS</h4>
                                    {{#if hasResult 'orders'}}
                                        {{> GlobalSearchPagination data=mainSearchResults.orders type='orders'}}
                                    {{else}}
                                        <span>No orders found.</span><br><br><br><br>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
                                <div class="">
                                    <h4 class="bold">RETURNS</h4>
                                    {{#if hasResult 'returnorders'}}
                                        {{> GlobalSearchPagination data=mainSearchResults.returnorders type='returnorders'}}
                                    {{else}}
                                        <span>No return orders found.</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="">
                                    <h4 class="bold">CUSTOMERS</h4>
                                    {{#if hasResult 'customers'}}
                                        {{> GlobalSearchPagination data=mainSearchResults.customers type='customers'}}
                                    {{else}}
                                        <span>No customers found.</span><br><br><br><br>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
                                <div class="">
                                    <h4 class="bold">PROMOTIONS</h4>
                                    {{#if hasResult 'promotions'}}
                                        {{> GlobalSearchPagination data=mainSearchResults.promotions type='promotions'}}
                                    {{else}}
                                        <span>No promotions found.</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="">
                                    <h4 class="bold">INVOICES</h4>
                                    {{#if hasResult 'invoices'}}
                                        {{> GlobalSearchPagination data=mainSearchResults.invoices type='invoices'}}
                                    {{else}}
                                        <span>No invoices found.</span><br><br><br><br>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
                                <div class="">
                                    <h4 class="bold">PRODUCTS</h4>
                                    {{#if hasResult 'productvariants'}}
                                        {{> GlobalSearchPagination data=mainSearchResults.productvariants type='productvariants'}}
                                    {{else}}
                                        <span>No products found.</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
                <!-- END Overlay Search Results !-->
            </div>
            <!-- END Overlay Content !-->
        </div>
        <!-- END OVERLAY -->

    </div>

</template>
