<template name="PromotionEdit">
    <div class="container-fluid promotion-edit">
        <section class="row content-header inverse z_index_99 bg-info">
            <div class="container-fluid ">
                <div class="col-sm-8">
                    <h1 class="pull-left">
                        Edit Promotion
                        <small>&nbsp;</small>
                    </h1>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <ol class="breadcrumb">
                        <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-order"
                                                            style="color: #fff"></i>Home</a></li>
                        <li class="active">Edit Promotion</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="col-sm-12">
            <section class="content not_margin_head">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row wizard-step spaced">
                                <div class="col-md-12 wizard-action wizard-row {{#if isActiveWizardStep 1}} wizard-header {{/if}}" id="wizard-step-1">
                                    <span class="number-circle {{#if isActiveWizardStepComplete 1}} number-circle-green {{/if}} {{#if isActiveWizardStep 1}} number-circle-white {{/if}}">1</span>
                                    <span class="text-default">&nbsp;&nbsp;Initialize your promotion</span> {{#if isActiveWizardStep 1}} {{else}} {{#if isActiveWizardStepComplete 1}}
                                    <br>
                                    <div class="tab">
                                        <small>{{capitalize promotion.name}}&nbsp;from&nbsp;{{prettyDate promotion.startDate}}&nbsp;to&nbsp;{{prettyDate promotion.endDate}}&nbsp;with a &nbsp;{{promotion.priority}}&nbsp;priority {{#if promotion.exclusive}}&nbsp;and is exclusive&nbsp;of other promotions{{/if}}</small>
                                    </div>
                                    {{/if}}{{/if}}
                                </div>
                                <div class="col-md-12 wizard-row {{#if isActiveWizardStep 1}}  {{else}} hidden {{/if}}" id="wizard-row-1">
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-4  control-label text-muted text-left">Name</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control name" id="reference" placeholder=" Promotion Name" value="{{promotion.name}}" data-field="name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-sm-5 control-label text-muted text-right">Start Date</label>
                                                    <div class="date col-sm-7 date">
                                                        <div class="inner-addon left-addon">
                                                            <i class="glyphicon icon-calendar"></i> {{#datepicker promotion.startDate}}
                                                            <input type="text" class="form-control datepicker step1" size="8" data-field="startDate" /> {{/datepicker}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-sm-5  control-label text-muted text-right">End Date</label>
                                                    <div class="date col-sm-7 date">
                                                        <div class="inner-addon left-addon">
                                                            <i class="glyphicon icon-calendar"></i> {{#datepicker promotion.endDate}}
                                                            <input type="text" class="form-control datepicker step1" size="8" data-field="endDate" /> {{/datepicker}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label text-muted text-left">Priority</label>
                                                    <div class="col-md-8">
                                                        <select class="selectpicker form-control priority" disabled>
                                                            <option value="high" selected="{{equal promotion.priority 'high'}}">high</option>
                                                            <option value="low" selected="{{equal promotion.priority 'normal'}}">normal</option>
                                                            <option value="low" selected="{{equal promotion.priority 'low'}}">low</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-sm-5 control-label text-muted text-right">Currency</label>
                                                    <div class="col-md-7 inner-addon left-addon">
                                                        <select name="" class="selectpicker currency form-control" data-size="5" data-selected-text-format="count">
                                                            {{#each currencies}}
                                                            <option value="{{this}}" selected="{{equal promotion.currency this}}">{{this}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-5 control-label text-muted text-right">Exclusive</label>
                                                    <div class="col-sm-7">
                                                        <div class="onoffswitch-edit">
                                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox exclusive" id="myonoffswitch" checked={{promotion.exclusive}} disabled>
                                                            <label class="onoffswitch-label" for="myonoffswitch"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row wizard-step spaced">
                                <div class="col-md-12 wizard-action  wizard-row {{#if isActiveWizardStep 2}} wizard-header {{/if}}" id="wizard-step-2"><span class="number-circle {{#if isActiveWizardStepComplete 2}} number-circle-green {{/if}} {{#if isActiveWizardStep 2}} number-circle-white {{/if}}">2</span>&nbsp;&nbsp;
                                    <span class="text-default">Add qualifications criteria</span> {{#if isActiveWizardStep 2}} {{else}} {{#if isActiveWizardStepComplete 2}}
                                    <br>
                                    <br>
                                    <div class="tab">If {{#each promotion.rules}}
                                        <span>the {{name}} {{#if subParamPreview}} <strong>of</strong> {{subParamPreview}} {{/if}}<strong>{{#if equal operator 'is'}} is {{else}} is {{operator}}  {{/if}}</strong>  {{#if previewVal}} {{previewVal}} {{else}} {{value}} {{/if}}</span>{{#if hasNext promotion.rules @index}}
                                        <br>
                                        <strong>AND</strong>
                                        <br> {{/if}} {{/each}}
                                    </div>
                                    {{/if}}{{/if}}
                                </div>
                                <div class="col-md-12 wizard-row {{#if isActiveWizardStep 2}}  {{else}} hidden {{/if}}" id="wizard-row-2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Match rules</div>
                                        <div class="panel-body">
                                            {{#each selectedParameters}}
                                            <div class="col-md-offset-1 col-md-10">
                                                <div class="row parameter">
                                                    <div class="parameter-title">
                                                        <span class="pull-left">{{data.name}}</span>
                                                        <a class="text-danger remove-rule" data-index="{{@index}}">
                                                            <i class="glyphicon glyphicon-remove pull-right"></i>
                                                        </a>
                                                    </div>
                                                    {{> Template.dynamic template=template data=data}}
                                                </div>
                                                {{#if hasNext selectedParameters @index}}
                                                <div class="add-divider text-center">
                                                    <strong>AND</strong>
                                                </div>
                                                {{/if}}
                                            </div>
                                            {{else}} Please, add new rules. {{/each}}
                                        </div>
                                        <div class="list-group">
                                            <a class="list-group-item active add-rules-title">
                                                <div class="row">
                                                    <span class="col-md-6 control-label"> Add rules</span>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control search-param" id="reference" placeholder="Search for a parameter" value="{{searchParam}}">
                                                    </div>
                                                </div>
                                            </a> {{#each promotionParameters}}
                                            <a data-field="{{_id}}" class="list-group-item parameter-add">
                                                <span class="glyphicon icon-add pull-left">&nbsp;&nbsp;</span>{{name}}
                                            </a>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row wizard-step spaced">
                                <div class="col-md-12 wizard-action wizard-row {{#if isActiveWizardStep 3}} wizard-header {{/if}}" id="wizard-step-3"><span class="number-circle {{#if isActiveWizardStepComplete 3}} number-circle-green {{/if}} {{#if isActiveWizardStep 3}} number-circle-white {{/if}}">3</span>&nbsp;&nbsp;<span class="text-default">Add rewards</span> {{#if isActiveWizardStep 3}} {{else}} {{#if isActiveWizardStepComplete 3}}
                                    <br>
                                    <br>
                                    <div class="tab">This promotion is entitled <strong>to</strong> {{#each promotion.rewards}}
                                        <span>{{type}} {{#if previewSubType}} <strong>on</strong> {{previewSubType}} {{else}} on {{subType}} {{/if}} {{#if previewSubTypeValue}} {{previewSubTypeValue}} {{else}} {{subTypeValue}} {{/if}} <strong>by</strong> {{#if previewUom}} {{previewUom}} {{else}} {{uom}} {{/if}} <strong>of</strong> {{value}} </span>{{#if hasNext promotion.rewards @index}}
                                        <br>
                                        <strong>AND</strong>
                                        <br> {{/if}} {{/each}}
                                    </div>
                                    {{/if}}{{/if}}
                                </div>
                                <div class="col-md-12 wizard-row {{#if isActiveWizardStep 3}}  {{else}} hidden {{/if}}" id="wizard-row-1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Promotion rewards</div>
                                        <div class="panel-body">
                                            {{#each selectedRewards}}
                                            <div class="col-md-offset-1 col-md-10">
                                                <div class="row parameter">
                                                    <div class="parameter-title">
                                                        <span class="pull-left">{{data.name}}</span>
                                                        <a class="text-danger remove-reward" data-index="{{@index}}">
                                                            <i class="glyphicon glyphicon-remove pull-right"></i>
                                                        </a>
                                                    </div>
                                                    {{> Template.dynamic template=template data=data}}
                                                </div>
                                                {{#if hasNext selectedRewards @index}}
                                                <div class="add-divider text-center">
                                                    AND
                                                </div>
                                                {{/if}}
                                            </div>
                                            {{else}} Please, add new rewards. {{/each}}
                                        </div>
                                        <div class="list-group">
                                            <a class="list-group-item active add-rules-title">
                                                Add rewards
                                            </a> {{#each promotionRewards}}
                                            <a data-field="{{_id}}" class="list-group-item reward-add">
                                                <span class="glyphicon icon-add pull-left">&nbsp;&nbsp;</span>{{name}}
                                            </a>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row wizard-step spaced">
                                <div class="col-md-12 wizard-action wizard-row {{#if isActiveWizardStep 4}} wizard-header {{/if}}" id="wizard-step-4"><span class="number-circle {{#if isActiveWizardStepComplete 4}} number-circle-white {{/if}}">4</span>&nbsp;&nbsp;<span class="text-default">Finalize</span></div>
                                <div class="col-md-12 wizard-row {{#if isActiveWizardStep 4}}  {{else}} hidden {{/if}}" id="wizard-row-1">
                                    {{#if isComplete}}
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-offset-0 col-xs-12">
                                            <div class="pull-right">
                                                <button class="btn btn-success" id="create-promotion">Update Promotion <span class="glyphicon icon-order"></span></button>
                                                <button class="btn btn-danger btn-sm" id="cancel-promotion">&nbsp;&nbsp;Cancel Edit&nbsp;&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="">
                                        <span class="text-center">Please, complete all the steps above </span>
                                        <button class="btn btn-danger btn-sm pull-right" id="cancel-promotion">&nbsp;&nbsp;Cancel Edit&nbsp;&nbsp;</button>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="wizard-tip spaced">
                                <!--  <p>Firstly, a distributor’s monthly total/global volume target across all Brands is GHC 10,000 therefore 90% is 9,000. 9,000 will be used as the first criteria to determine eligibility for the Promotion Reward for each month in a 3-month Period
                </p>
                <p> Secondly, a distributor’s monthly total target for Cowbell Blue as part of a selected range of product variants is GHC 2,000 therefore 90% is 1,800. 1,800 will be used as the second criteria to determine eligibility for the Promotion Reward for each month in a 3-month Period
                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
