<template name="BudgetCreate">
    <div class="modal fade add-budget" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{#if edit}} Edit Budget Holder - {{budget}} {{else }}New Budget Holder{{/if}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="code" class="control-label">Code <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="code" class="form-control" placeholder="Code" ng-model="code" value="{{code}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="control-label">Name <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" value="{{name}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Budget Holder</label>
                                    {{#semanticselect}}
                                    <select name="employeeId" style="width: 100%" class="ui fluid search dropdown form-control">
                                        <option value="" >Employees</option>
                                        {{#each employees}}
                                            {{#if isEqual _id (checked 'employeeId')}}
                                            <option value="{{_id}}" selected>{{employeeProfile.employeeId}} - {{profile.fullName}}</option>
                                            {{else}}
                                            <option value="{{_id}}">{{employeeProfile.employeeId}} - {{profile.fullName}}</option>
                                            {{/if}}
                                        {{/each}} 
                                    </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Finance Approver</label>
                                    {{#semanticselect}}
                                    <select name="financeApproverId" style="width: 100%" class="ui fluid search dropdown form-control">
                                        <option value="" >Employees</option>
                                        {{#each employees}}
                                            {{#if isEqual _id (checked 'financeApproverId')}}
                                            <option value="{{_id}}" selected>{{employeeProfile.employeeId}} - {{profile.fullName}}</option>
                                            {{else}}
                                            <option value="{{_id}}">{{employeeProfile.employeeId}} - {{profile.fullName}}</option>
                                            {{/if}}
                                        {{/each}}     
                                     </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="externalNotificationEmail" class="control-label">External Notification Emails <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="externalNotificationEmail" class="form-control" placeholder="Notification Email List" ng-model="externalNotificationEmail" value="{{externalNotificationEmail}}"/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                        </div><!-- row -->
                        {{#if errorMessage}}
                        <p class="text-center error">{{errorMessage}}</p>
                        {{/if}}

                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" id="new-budget-close" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary mr5" id="Budget">{{#if edit}}Update{{else}}Create{{/if}}</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
