<template name="navigator">
    <div class="media profile-left">
        <a class="pull-left profile-thumb" href="profile.html">
            <img class="img-circle" src="/images/photos/avatar.jpg" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Michael Ocheje</h4>
            <small class="text-muted"> Mocheje </small>
        </div>
    </div><!-- media -->

    <h5 class="leftpanel-title">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">
        <li><a href=""><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li class="parent"><a href=""><i class="fa fa-university"></i> <span>Business</span></a>
            <ul class="children">
                <li><a href="#">Update Business Info</a></li>
                <li><a href="{{pathFor route='businessunits'}}">Business Units</a></li>
                <li><a href="#">Divisions</a></li>
                <li><a href="#">Departments</a></li>
                <li><a href="#">Positions</a></li>
                <li><a href="#">Jobs</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-money"></i> <span>Pay Rules</span></a>
            <ul class="children">
                <li><a href="#">Pay Groups</a></li>
                <li><a href="#">Pay Types</a></li>
                <li><a href="#">Pay Grades</a></li>
                <li><a href="#">Taxes</a></li>
                <li><a href="#">Pensions</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-users"></i> <span>Employees</span></a>
            <ul class="children">
                <li><a href="#">New Employee</a></li>
                <li><a href="#">Manage Employees</a></li>
                <li><a href="#">Employees Expenses</a></li>
                <li><a href="#">Employees Leave</a></li>
                <li><a href="#">Employees Time</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-refresh"></i> <span>Pay Runs</span></a>
            <ul class="children">
                <li><a href="#">New Pay Run</a></li>
                <li><a href="#">One Off Payments</a></li>
                <li><a href="#">Pay Runs</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-file-archive-o" aria-hidden="true"></i> <span>Loan Management</span></a>
            <ul class="children">
                <li><a href="#">New Loan Application</a></li>
                <li><a href="#">Manage Loans</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-file-archive-o" aria-hidden="true"></i> <span>Reports</span></a>
            <ul class="children">
                <li><a href="#">Salary Register</a></li>
                <li><a href="#">Pension Report</a></li>
            </ul>
        </li>
        <li class="parent"><a href=""><i class="fa fa-archive" aria-hidden="true"></i> <span>Pension Reports</span></a>
            <ul class="children">
                <li><a href="#">Pensioners</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-angle-double-left"></i> <span>Back to Home</span></a></li>
    </ul>

</template>