<template name="navigator">
    <div class="media profile-left">
        <a class="pull-left profile-thumb" href="profile.html">
            <img class="img-circle" src="/images/photos/avatar.jpg" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{currentUser.profile.fullName}}</h4>
            <small class="text-muted"> {{currentUserEmail}} </small>
        </div>
    </div><!-- media -->

    <h5 class="leftpanel-title">Navigation</h5>
    <ul class="nav nav-pills nav-stacked">
        {{#if context}}
            {{> navlist}}
        {{/if}}
        <li class="{{active "home"}}"><a href="{{pathFor route='home'}}"><i class="fa fa-angle-double-left"></i> <span>Dashboard</span></a></li>
    </ul>

</template>

<template name="navlist">
    {{#if hasAdminAccess}}
        <li class="parent"><a href=""><i class="fa fa-university"></i> <span>Company</span></a>
            <ul class="children">
                <li class="{{active "bu.details"}}"><a href="{{pathFor 'bu.details'}}">Org Chart</a></li>
            </ul>
        </li>
    {{/if}}
    {{#if hasPayrollAccess}}
        <li class="parent"><a href=""><i class="fa fa-money"></i> <span>Pay Rules</span></a>
            <ul class="children">
                <li class="{{active "paytypes"}}"><a href="{{pathFor 'paytypes'}}">Pay Types</a></li>
                <li class="{{active "constant.list"}}"><a href="{{pathFor 'constant.list'}}">Constants</a></li>
                <li class="{{active "pensions"}}"><a href="{{pathFor 'pensions'}}">Pensions</a></li>
                <li class="{{active "taxes"}}"><a href="{{pathFor 'taxes'}}">Taxes</a></li>
                <li class="{{active "paygroups"}}"><a href="{{pathFor 'paygroups'}}">Pay Groups</a></li>
                <li class="{{active "paygrades"}}"><a href="{{pathFor 'paygrades'}}">Pay Grades</a></li>
            </ul>
        </li>
    {{/if}}
    {{#if hasEmployeeAccess}}
        <li class="parent"><a href=""><i class="fa fa-users"></i> <span>Administration</span></a>
            <ul class="children">
                <li class="{{active "employees"}}"><a href="{{pathFor 'employees'}}">Manage Employees</a></li>
                <!--<li class="{{!active "employee.expense"}}"><a href="{{!pathFor 'employee.expense'}}">Employees Expenses</a></li>-->
                <li class="{{active "employee.leave"}}"><a href="{{pathFor 'leavetypes'}}">Manage Leave Types</a></li>
                <li class="{{active "employee.time"}}"><a href="{{pathFor 'employee.time'}}">Employees Time</a></li>
                <li class="{{active "project.list"}}"><a href="{{pathFor 'project.list'}}">Create/Assign Projects</a></li>
            </ul>
        </li>
    {{/if}}
    {{#if hasPayrollAccess}}
        <li class="parent"><a href=""><i class="fa fa-refresh"></i> <span>Pay Runs</span></a>
            <ul class="children">
                <li class="{{active "payrun.new"}}"><a href="{{pathFor route='payrun.new'}}">New Pay Run</a></li>
                <li class="{{active "additional.pay"}}"><a href="{{pathFor route='additional.pay'}}">Additional Payment/ Deduction</a></li>
                <li class="{{active "oneoff"}}"><a href="{{pathFor route='oneoff'}}">One Off Payments</a></li>
                <li class="{{active "payruns"}}"><a href="{{pathFor route='payruns'}}">Pay Results</a></li>
            </ul>
        </li>
    {{/if}}
    {{#if hasSelfServiceAccess}}
    <li class="parent"><a href=""><i class="fa fa-file-archive-o" aria-hidden="true"></i> <span>Self Service</span></a>
        <ul class="children">
            <li class="{{active "employee.time"}}"><a href="{{pathFor 'employee.time'}}">Record Time</a></li>
            <li class="{{active "leave.list"}}"><a href="{{pathFor 'leave.list'}}">Request Leave </a></li>
            <li class="{{active "payslip"}}"><a href="{{pathFor 'payslip'}}">View Pay Slip</a></li>
        </ul>
    </li>
    {{/if}}
    {{#if hasPayrollAccess}}
        <!--<li class="parent"><a href=""><i class="fa fa-file-archive-o" aria-hidden="true"></i> <span>Reports</span></a>-->
            <!--<ul class="children">-->
                <!--<li><a href="#">Salary Register</a></li>-->
                <!--<li><a href="#">Pension Report</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="parent"><a href=""><i class="fa fa-archive" aria-hidden="true"></i> <span>Pension Reports</span></a>-->
            <!--<ul class="children">-->
                <!--<li><a href="#">Pensioners</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    {{/if}}

</template>