<template name="GlobalSearchPromotionEntry">
    <div class="global-search-promotion-entry">

        <div class="thumbnail-wrapper d48 circular bg-warning-dark text-white inline m-t-10">
            <div>
                <i class="glyphicon icon-gift"></i>
            </div>
        </div>
        <div class="p-l-10 inline p-t-5">
            <h5 class="m-b-5">
                <span class="semi-bold result-name">{{#linkTo route="promotions.detail" class="view-search-document" _id=_id}}{{name}}{{/linkTo}}</span>
                <span class="{{promotionStatusStyle status}} small-text-global">  &bull;
                    {{capitalize status}} </span><span class="small">{{statusLabel}} {{formatTime statusDate}}</span>
            </h5>
            <p class="hint-text small">...</p>
        </div>

    </div>
</template>
