<template name="EmployeeProfile">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Employee Profile</li>
                </ul>
                <h4>Employee Profile</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    {{#each currentEmployee}}
    <div class="contentpanel">
      <div class="row">
          <div class="col-sm-4 col-md-3">
              <div class="text-center">
                  {{#if profile.photo}}
                    <img src="{{profile.photo}}" id="profile-img" class="img-circle img-offline img-responsive img-profile" alt=""/>
                  {{else}}
                  <img src="/images/photos/avatar.jpg" id="profile-img" class="img-circle img-offline img-responsive img-profile" alt=""/>
                  {{/if}}
                  <!-- <img src="images/photos/profile-big.jpg" class="img-circle img-offline img-responsive img-profile" alt="" /> -->

                  <h4 class="profile-name mb5">{{profile.fullName}}</h4>
                  <div>
                      <!-- <i class="fa fa-map-marker"></i> -->
                      {{#if employeeProfile.employment.position}}
                          <i class="fa fa-star"></i> {{positionName employeeProfile.employment.position}}
                      {{/if}}
                  </div>
                  <!-- <div><i class="fa fa-briefcase"></i> Total</div> -->
                  <div class="mb20"></div>
              </div>
              <!-- text-center -->
          </div>
          <!-- col-sm-4 col-md-3 -->

                      <div class="col-sm-8 col-md-9">

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs nav-line">
                              <li class="active"><a href="#activities" data-toggle="tab"><strong>Personal Details</strong></a></li>
                              <li><a href="#followers" data-toggle="tab"><strong>Employment Details </strong></a></li>
                              <li><a href="#following" data-toggle="tab"><strong>Payment Details</strong></a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content nopadding noborder">
                              <div class="tab-pane active" id="activities">
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <div class="panel-btns">
                                              <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                              <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                                          </div>
                                          <!-- panel-btns -->
                                          <h4 class="panel-title">Personnal Details</h4>
                                      </div>
                                      <!-- panel-heading -->
                                      <div class="panel-body nopadding">
                                          <form class="form-horizontal form-bordered">
                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Employee ID</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.employeeId}}" disabled/>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">First Name</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{profile.firstname}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Last Name</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{profile.lastname}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Other Names</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{profile.othernames}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>



                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Date of Birth</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{formatDate employeeProfile.dateOfBirth}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>



                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Gender</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.gender}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>


                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Marital Status</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.maritalStatus}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>


                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Email</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{emails.[0].address}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>


                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Phone Number</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.phone}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>


                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Address</label>
                                                  <div class="col-sm-4">
                                                      <textarea class="form-control" rows="5" value="{{employeeProfile.address}}" disabled></textarea>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">State</label>
                                                  <div class="col-sm-4">
                                                        <input type="text" placeholder="" class="form-control" value="{{employeeProfile.state}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                      <h5>Next of Kin/Guarantor</h5></div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Full Name</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.guarantor.fullName}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Email</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.guarantor.email}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>


                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Phone Number</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.guarantor.phone}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>


                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Address</label>
                                                  <div class="col-sm-4">
                                                      <textarea class="form-control" rows="5" value="{{employeeProfile.guarantor.address}}" disabled></textarea>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">City</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.guarantor.city}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">State</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.guarantor.state}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                          </form>
                                      </div>

                                      <!-- panel-body -->
                                  </div>
                                  <!-- panel -->

                              </div>
                              <!-- tab-pane -->

                              <div class="tab-pane" id="followers">
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <div class="panel-btns">
                                              <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                              <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                                          </div>
                                          <!-- panel-btns -->
                                          <h4 class="panel-title">Employment Details</h4>
                                      </div>
                                      <!-- panel-heading -->
                                      <div class="panel-body nopadding">
                                          <form class="form-horizontal form-bordered">
                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Position</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{positionName employeeProfile.employment.position}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>
                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Supervisor</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{supervisorName employeeProfile.employment.position}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Hire Date</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{formatDate employeeProfile.employment.hireDate}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Confirmation Date</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{formatDate employeeProfile.employment.confirmationDate}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>
                                          </form>
                                      </div>

                                      <!-- panel-body -->
                                  </div>
                                  <!-- panel -->
                              </div>
                              <!-- tab-pane -->

                              <div class="tab-pane" id="following">
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <div class="panel-btns">
                                              <a href="" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                              <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                                          </div>
                                          <!-- panel-btns -->
                                          <h4 class="panel-title">Payment Details</h4>
                                      </div>
                                      <!-- panel-heading -->
                                      <div class="panel-body nopadding">
                                          <form class="form-horizontal form-bordered">

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Payment Method</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.paymentMethod}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Bank</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.bank}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Bank Account No.</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.accountNumber}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Bank Account Name</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.accountName}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Tax Payer ID</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.pensionmanager}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">RSA Number</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.RSAPin}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <label class="col-sm-4 control-label">Tax Payer ID</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" placeholder="" class="form-control" value="{{employeeProfile.payment.taxPayerId}}" disabled />
                                                  </div>
                                                  <div class="col-sm-4">
                                                      &nbsp;
                                                  </div>
                                              </div>
                                          </form>
                                      </div><!-- panel-body -->
                                  </div><!-- panel -->
                              </div><!-- tab-pane -->
                          </div><!-- tab-content -->
                      </div><!-- col-sm-9 -->
                  </div><!-- row -->
    </div><!-- contentpanel -->
    {{/each}}
</template>
