<template name="login">
    <section>
    <div class="panel panel-signin">
        <div class="panel-body">
            <div class="logo text-center">
                <span class="login-header">Hub825</span><span class="login-small-header">Travel</span>
            </div>
            <br />
            <p class="text-center">Sign in to your account</p>

            <div class="mb30"></div>

            <form>

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div><!-- input-group -->
                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" name="password" >
                </div><!-- input-group -->

                <div class="text-center">
                    <img alt="" >
                </div>

                <div class="alert alert-danger text-center hide" id="login_error">
                </div>

                <div class="clearfix">
                    <div class="pull-left">
                        <div class="ckbox ckbox-primary mt10">
                            <input type="checkbox" id="rememberMe" value="1">
                            <label for="rememberMe">Remember Me</label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </div>

            </form>

        </div><!-- panel-body -->

        <div class="text-center">
            New Member?<a href="{{pathFor 'new.tenant'}}" name="signup"> Sign Up</a>
            <br/><br/>
            <a href="{{pathFor 'send.reset-passwordlink'}}" name="signup">Forgot password?</a>
        </div><!-- panel-footer -->
    </div><!-- panel -->
</section>
<!---->

<!--<div class="row">-->
    <!--<div class="container-fluid">-->
        <!--<div class="modal modal-emulator modal-info" id="clientSignin" tabindex="-1" role="dialog">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-body">-->
                        <!--<div class="container-fluid">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-8 col-sm-offset-2">-->
                                    <!--<form class="form-horizontal signin_client">-->
                                        <!--<div class="form-group signin_email">-->
                                            <!--<span class="help-block hidden-nerr"></span>-->
                                            <!--<div class="inner-addonx left-addonx" style="color: #b1b1b1">-->
                                                <!--<i class="glyphicon icon-user"></i>-->
                                                <!--<input type="email" class="form-control signin_email icon" placeholder="Email address" required>-->
                                                <!--<i class="glyphicon icon-pass signin_paswword"></i>-->
                                                <!--<input type="password" class="form-control signin_paswword icon" placeholder="Password" required>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                            <!--<button type="submit" id="btn-login" class="btn btn-info btn-block ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">Sign in</span></button>-->
                                        <!--</div>-->
                                        <!--<br/>-->
                                        <!--<br/>-->
                                    <!--</form>-->
                                <!--</div>-->
                                <!--<div class="col-sm-12" style="">-->
                                    <!--<div class="row footer_modal">-->
                                        <!--<div class="pull-left">-->
                                            <!--<label>-->
                                                <!--<input type="checkbox"> Remember me-->
                                            <!--</label>-->
                                        <!--</div>-->
                                        <!--<div class="pull-right">-->
                                            <!--<a id="reset-password-l" href="#">Forgot Your Password?</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<br/>-->
<!--<p class="text-center" style="margin-top: 10px">-->
    <!--To start using TradeDepot, you'll need to be invited by your organization's administrator-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<a href="#" class="big_link">Sign in to a different team</a>-->
<!--</p>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->

</template>
