<template name="TimeCreate2">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enter Time Data</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Cost Element</label>
                                <div class="col-sm-8">

                                    <div class="radio radio-default">
                                        <input type="radio" name="costElement" value="project" id="Project" checked="checked">
                                        <label for="Project">Project</label>
                                    </div>

                                    <div class="radio radio-primary">
                                        <input type="radio" name="costElement" value="costCenter" id="costCenter">
                                        <label for="costCenter">Cost Center</label>
                                    </div>

                                    <div class="radio rdio-primary">
                                        <input type="radio" name="costElement" value="leave" id="leave">
                                        <label for="leave">Leave</label>
                                    </div>
                                </div><!-- col-sm-8 -->
                            </div>
                        </div> <!-- row -->
                        <div class="row">
                            {{#if projectSelected}}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Projects</label>
                                        <select name="projects" class="form-control dropdown" id="projects">
                                            <option value=""></option>
                                            {{#each projects}}
                                                <option value="{{value}}">{{label}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Activities</label>
                                        <select name="activities" class="form-control dropdown" id="activities">
                                            <option value=""></option>
                                            {{#each projectActivities}}
                                                <option value="{{value}}">{{label}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            {{/if}}
                             {{#if costCenterSelected}}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Cost center</label>
                                        <select name="costCenters" class="form-control dropdown" id="costCenters">
                                            <option value=""></option>
                                            {{#each costCenters}}
                                                <option value="{{value}}">{{label}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div><!-- col-sm-3 -->

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Activities</label>
                                        <select name="activities" class="form-control dropdown" id="activities">
                                            <option value=""></option>
                                            {{#each costCenterActivities}}
                                                <option value="{{value}}">{{label}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div><!-- col-sm-3 -->
                             {{/if}}

                            <div class="col-sm-12">
                                <label>Week days of selected period</label>                                
                                <div class="">
                                    {{#each datesForTimeWriting}}
                                        <ul class="pagination pagination-split pagination-sm pagination-contact pull-left">
                                            {{#if condition currentDayIndex '==' @index}}
                                                <li class="active">
                                                    <a class="goToPage datesForTimeWriting" data-dayNum="{{@index}}">{{getDayFromDate this}}</a>
                                                </li>
                                            {{else}}
                                                <li>
                                                    <a class="goToPage datesForTimeWriting" data-dayNum="{{@index}}">{{getDayFromDate this}}</a>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    {{/each}}
                                </div>
                            </div>

                            <!--<div class="col-sm-8">
                                <div class="col-sm-6">
                                    {{> afQuickField name="duration" id="duration" title="(in hours)" placeholder="Duration(in hours)"}}
                                    <label>Hours left for current day: {{hoursToTimeWriteForCurrentDay}}</label> 
                                </div>
                            </div>-->

                            <div class="col-sm-4">
                                <label for="duration" class="control-label">Duration (in hours)</label>
                                <input type="number"  class="form-control" name="duration" id="duration" value="" min="1" max="8"/>
                                <label>Hours left for current day: {{hoursToTimeWriteForCurrentDay}}</label>
                            </div>

                            {{#if maxHoursInDayForTimeWritingPerLocationEnabled}}
                            <!-- <div class="col-sm-4">
                                <label for="duration" class="control-label">Duration (in hours)</label>
                                <input type="number"  class="form-control" name="duration" id="duration" value="" min="1" max="8"/>
                                <label>Hours left for current day: {{hoursToTimeWriteForCurrentDay}}</label>
                            </div> -->

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Location</label>
                                    <select name="locations" class="form-control dropdown" id="locations">
                                        <option value=""></option>
                                        {{#each locationsWithMaxHoursSet}}
                                            <option value="{{_id}}" {{employeeLocationWithMaxHourSet _id}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{/if}}
                        </div><!-- row -->
                        
                        {{#if isOvertimeEnabled}}
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="checkbox" id="allowOvertime" name="allowOvertime" />
                                <label for="allowOvertime" class="control-label">Allow overtime</label>
                            </div>
                        </div>
                        {{/if}}
                        
                        <div class="row">
                            <br/>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="duration" class="control-label">Note</label>
                                    <textarea rows="3" class="form-control" name="note" id="note" value=""></textarea>
                                </div><!-- form-group -->
                            </div>
                        </div><!-- row -->

                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary mr5" id="TimeCreate">Save</button>

                        <!--<button class="btn btn-primary mr5 pull-right" id="NextDurationForDay">Go to Next day</button>-->
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
