<template name="RebatesList">
    <div class="container-fluid">
        <section class="row content-header">
            <div class="container-fluid">
                <div class="col-sm-6">
                    <h1 class="pull-left">
                        Rebates
                    </h1>
                    <form role="search" id="rebate-search-form" class="hidden-sm hidden-md hidden-xs"
                          style="display: inline-block;padding-top: 20px;max-width:300px;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="inner-addon right-addon">
                                    <i class="glyphicon icon-search"></i>
                                    <input type="text" id="rebate-search" class="form-control"
                                           placeholder="Search Rebates">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ol class="breadcrumb">
                        <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-gift"></i>Home</a></li>
                        <li><a href="{{pathFor 'promotions.list'}}">Promotions</a></li>
                        <li class="active">Rebates</li>
                    </ol>
                </div>
            </div>
        </section>
        <div class="col-sm-12">
            <section class="content">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="{{tabClass true}}"><a href="#active" role="tab"
                                                                             data-toggle="tab">Applied</a></li>
                        <li role="presentation" class="{{tabClass false}}"><a href="#pending" role="tab"
                                                                              data-toggle="tab">Pending <span
                                class="label label-info">{{pendingPromotionCount}}</span></a></li>
                        <div class="clearfix hidden-md hidden-lg"></div>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active no_mobile">
                            <br/>
                            <table class="table table-hover tr_pointer">
                                <thead>
                                <tr>
                                    <td><a href="#sort" class="text-muted" data-key="add @index 1"> #
                                        <small><i class="{{sortedBy '@index'}}"></i></small>
                                    </a></td>
                                    <td><a href="#sort" class="text-muted" data-key="promotionName">Promotion Name
                                        <small><i class="{{sortedBy 'promotionName'}}"></i></small>
                                    </a>
                                    </td>
                                    <td><a href="#sort" class="text-muted" data-key="customerName">Customer
                                        <small><i class="{{sortedBy 'customerName'}}"></i></small>
                                    </a></td>
                                    <td><a href="#sort" class="text-muted" data-key="orderNumber">Order Number
                                        <small><i class="{{sortedBy 'orderNumber'}}"></i></small>
                                    </a></td>
                                    <td><a href="#sort" class="text-muted" data-key="value">Amount
                                        <small><i class="{{sortedBy 'value'}}"></i></small>
                                    </a></td>
                                    <td><a href="#sort" class="text-muted" data-key="createdAt">Date Added
                                        <small><i class="{{sortedBy 'createdAt'}}"></i></small>
                                    </a></td>
                                    <td>Applied</td>
                                </tr>
                                </thead>
                                <tbody>


                                {{#if searchActive}}
                                    {{#if searchQueryReturned}}
                                        {{#each searchRebates}}
                                            <tr>
                                                <td class="promotion-line">{{add @index 1}}</td>
                                                <td class="text-info promotion-line">{{promotionName}}</td>
                                                <td> {{#linkTo route="distributors.detail"
                                                    _id=customerId}}{{customerName}}{{/linkTo}} <span class="small text-muted">{{customerNumber}}</span>
                                                </td>
                                                <td>{{#linkTo route="orders.detail" _id=orderId}} {{orderNumber}}{{/linkTo}}</td>
                                                <td class="promotion-line">{{formatMoneyD value}}</td>
                                                <td class="promotion-line">{{prettyCreatedAt}}</td>
                                                <td>
                                                    <div class="col-sm-7">
                                                        <div class="onoffswitch-edit">
                                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                                   id="myonoffswitch-{{_id}}" checked={{applied status}}
                                                                   disabled={{applied status}}>
                                                            <label class="onoffswitch-label" for="myonoffswitch-{{_id}}"></label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{else}}
                                            <tr>
                                                <td colspan="8">
                                                    No <span class="text-lowercase">{{activeStatus}}</span> rebate match your
                                                    search terms
                                                </td>
                                            </tr>
                                        {{/each}}
                                    {{else}}
                                        <tr>
                                            <td colspan="9">
                                                <em>Searching for <b>"{{searchText}}"</b>...</em>
                                            </td>
                                        </tr>
                                    {{/if}}
                                {{else}}
                                    {{#each rebates}}
                                        <tr>
                                            <td class="promotion-line">{{add @index 1}}</td>
                                            <td class="text-info promotion-line">{{promotionName}}</td>
                                            <td> {{#linkTo route="distributors.detail"
                                                _id=customerId}}{{customerName}}{{/linkTo}} <span class="small text-muted">{{customerNumber}}</span>
                                            </td>
                                            <td>{{#linkTo route="orders.detail" _id=orderId}} {{orderNumber}}{{/linkTo}}</td>
                                            <td class="promotion-line">{{formatMoneyD value}}</td>
                                            <td class="promotion-line">{{prettyCreatedAt}}</td>
                                            <td>
                                                <div class="col-sm-7">
                                                    <div class="onoffswitch-edit">
                                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                               id="myonoffswitch-{{_id}}" checked={{applied status}}
                                                               disabled={{applied status}}>
                                                        <label class="onoffswitch-label" for="myonoffswitch-{{_id}}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {{else}}
                                        <tr>
                                            <td colspan="8">
                                                No rebate is {{activeStatus}} at the moment.
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{/if}}

                                <!-- {{/if}} -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{#if Template.subscriptionsReady}} {{#if hasMorePromotions}}
                    <div id="showMoreResults" href="#">&nbsp;</div>
                    {{/if}} {{#if hasMoreSearchResults}}
                    <div id="showMoreResults" href="#">&nbsp;</div>
                    {{/if}} {{else}}
                    <div class="col-xs-12">
                        <div class="loading">{{> spinner}}</div>
                    </div>
                    {{/if}}
                </div>
            </section>
        </div>
    </div>
</template>
