<template name="ResetMyPassword">
    <section>
    <div class="panel panel-signin">
        <div class="panel-body">
            <div class="logo text-center" style="display: flex;justify-content: center;align-items: center;">
                <img src="https://res.cloudinary.com/deqt3envc/image/upload/v1631529352/logo-dark.png" class="img-responsive mb10" alt="" style="height: 60px; margin: 0; margin-bottom: -26px;"/>
                <span class="login-small-header" style="margin-bottom: -26px;">TRIPS</span>
                <!-- <span class="login-header">Hub825</span><span class="login-small-header">Travel</span> -->
            </div>
            <br />
            <p class="text-center">Reset password</p>

            <div class="mb30"></div>

            <form>
                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="New password" name="newPassword">
                </div><!-- input-group -->

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Confirm new password" name="confirmPassword">
                </div><!-- input-group -->

                <div class="alert alert-danger text-center hide signin_email">
                    <span></span>
                </div>

                <div class="clearfix">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success" id="btn-send">Reset</button>
                    </div>
                </div>
            </form>
        </div><!-- panel-body -->
        
        <div class="text-center">
            <a href="{{pathFor 'home'}}" name="signin">Sign in</a>
        </div><!-- panel-footer -->
    </div><!-- panel -->
</section>

</template>
