<template name="ProcurementRequisitionIndex">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left" style="padding: 9px;">
                <i class="fa fa-fax"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Procurement Requisitions</li>
                </ul>
                <h4>Procurement Requisitions
                    <span class="mb20 pull-right" id="createProcurementRequisition">
                        <a class="btn btn-primary">New Procurement Requisition</a>
                    </span>
                </h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="panel">
            <div class="panel-body">
                <div class="row">


                </div><!-- row -->
            </div>
        </div>
    </div><!-- contentpanel -->
</template>

