<template name="ProcurementRequisitionIndex">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left" style="padding: 9px;">
                <i class="fa fa-fax"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Procurement Requisitions</li>
                </ul>
                <h4>Procurement Requisitions
                    <span class="mb20 pull-right" id="createProcurementRequisition">
                        <a class="btn btn-primary">New Procurement Requisition</a>
                    </span>
                </h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{#if procurementsICreated}}
                            <div class="panel panel-default">
                                <table class="table table-striped table-bordered result" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Unit</th>
                                        <th>Date required</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each procurementsICreated}}
                                        <tr>
                                            <td>{{description}}</td>
                                            <td>{{unitId}}</td>
                                            <td>{{formatDate dateRequired}}</td>
                                            <td>{{status}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div><!-- panel -->

                            <div class="row">
                                <div class="row">
                                    <div class="pull-right">
                                        <ul class="pagination pagination-split pagination-sm pagination-contact">
                                            <li class="disabled">
                                                <a href="#"><i class="fa fa-angle-left"></i></a>
                                            </li>
                                            {{#each (repeat numberOfPages)}}
                                                {{#if condition currentPage 'eq' this}}
                                                <li class="active"><a class="goToPage" data-pageNum="{{this}}">{{this}}</a></li>
                                                {{else}}
                                                <li><a class="goToPage" data-pageNum="{{this}}">{{this}}</a></li>
                                                {{/if}}
                                            {{/each}}
                                            <li>
                                                <a href="#"><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div><!-- row -->
            </div>
        </div>
    </div><!-- contentpanel -->
</template>

