<template name="OrdersList">
   <div class="container-fluid">
      <section class="row content-header">
          <div class="container-fluid">
              <div class="col-sm-6">
                  <h1 class="pull-left">
                      Orders
                  </h1>
                  <form role="search" id="order-search-form" class="hidden-sm hidden-md hidden-xs" style="display: inline-block;padding-top: 20px;max-width:300px;">
                      <div class="form-group">
                          <div class="col-sm-12">
                              <div class="inner-addon right-addon">
                                  <i class="glyphicon icon-search"></i>
                                  <input type="text" id="orderSearch" class="form-control" placeholder="Search Orders">
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-sm-6 hidden-xs">
                  <ol class="breadcrumb">
                      <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-orderslist"></i>Home</a></li>
                      <li class="active">Orders</li>
                  </ol>
              </div>
          </div>

      </section>
      <div class="col-sm-12">

          <section class="content">

              <div>

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="{{tabClass 'open'}}"><a href="#open" role="tab" data-toggle="tab">Open <span class="label label-info">{{openOrderCountFiltered}}</span></a></li>
                      <li role="presentation" class="{{tabClass 'accepted'}}"><a href="#accepted" role="tab" data-toggle="tab">Accepted</a></li>
                      <li role="presentation" class="{{tabClass 'shipped'}}"><a href="#shipped" role="tab" data-toggle="tab">Shipped</a></li>
                      <li role="presentation" class="{{tabClass 'cancelled'}}"><a href="#cancelled" role="tab" data-toggle="tab">Cancelled</a></li>
                      <div class="clearfix hidden-md hidden-lg"></div>
                      <li class="navbar-right">
                          <br class="hidden-md hidden-lg hidden-sm" />
                          <form class="form-inline no_wrap">
                              <div class="form-group">
                                  <label for="filter"><!--<strong>{{orderCount}}</strong>--> Orders in the</label>&nbsp;
                                  <select class="form-control" id="dfilter">
                                      <option value="1">past month</option>
                                      <option value="3">past 3 months</option>
                                      <option value="6">past 6 months</option>
                                      <option value="12">past 12 months</option>
                                  </select>
                              </div>
                          </form>
                      </li>
                  </ul>
{{#if openTabstatus }}
                  <ul class="nav nav-tabs">
                      <li role="presentation" class="{{tabClass 'approved'}}"><a href="#approved" role="tab" data-toggle="tab">Approved</a></li>
                      <li role="presentation" class="{{tabClass 'rejected'}}"><a href="#rejected" role="tab" data-toggle="tab">Rejected</a></li>
                      <li role="presentation" class="{{tabClass 'pending'}}"><a href="#pending" role="tab" data-toggle="tab">Pending</a></li>
                  </ul>
{{/if}}

                  <!-- Tab pane -->
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active no_mobile">
                          <br/>
                          <table class="table table-hover tr_pointer">
                              <thead>
                              <tr>
                                  <td><a href="#sort" class="text-muted" data-key="orderNumber">Order # <small><i class="{{sortedBy 'orderNumber'}}"></i></small></a></td>
                                  <td>Sales Location </td>
                                  <td><a href="#sort" class="text-muted" data-key="issuedAt">Date Posted <small><i class="{{sortedBy 'issuedAt'}}"></i></small></a></td>
                                  <td><a href="#sort" class="text-muted" data-key="total">Total <small><i class="{{sortedBy 'total'}}"></i></small></a></td>
                                  <td><a href="#sort" class="text-muted" data-key="orderType">Order Type <small><i class="{{sortedBy 'orderType'}}"></i></small></a></td>
                                  <td>Status</td>
                                  <td><a href="#sort" class="text-muted" data-key="customerName">Customer <small><i class="{{sortedBy 'customerName'}}"></i></small></a></td>
                              </tr>
                              </thead>
                              <tbody>
                              {{#if searchActive}}
                                  {{#if searchQueryReturned}}
                                      {{#each searchOrders}}
                                            {{> OrderEntry}}
                                      {{else}}
                                          <tr>
                                              <td colspan="7">
                                                  No {{activeStatus}} orders in the {{currentDuration}} match your search term
                                              </td>
                                          </tr>
                                      {{/each}}
                                    {{else}}
                                      <tr>
                                          <td colspan="7">
                                              <em>Searching for <b>"{{searchText}}"</b>...</em>
                                          </td>
                                      </tr>
                                  {{/if}}
                              {{else}}
                                  {{#each orders}}
                                      {{> OrderEntry}}
                                  {{else}}
                                      <tr>
                                          <td colspan="7">
                                              No orders were {{activeStatus}} in the {{currentDuration}}
                                          </td>
                                      </tr>
                                  {{/each}}
                              {{/if}}
                              </tbody>
                          </table>
                      </div>
                  </div>


                  {{#if Template.subscriptionsReady}}
                      {{#if hasMoreOrders}}
                          <div id="showMoreResults" href="#">&nbsp;</div>
                      {{/if}}
                      {{#if hasMoreSearchResults}}
                          <div id="showMoreResults" href="#">&nbsp;</div>
                      {{/if}}
                  {{else}}
                      <div class="col-xs-12">
                          <div class="loading">{{> spinner}}</div>
                      </div>
                  {{/if}}

              </div>

          </section>

      </div>

  </div>
</template>
