<template name="OrderDetail">
  <div class="container-fluid">
    {{#if documentAvailable}}
    <section class="row content-header">
        <div class="container-fluid">
            <div class="col-sm-6">
                <h1 class="pull-left">
                    Orders
                    <small>
                        {{orderNumber}}
                        <span class="fs12 p15 {{orderStatusStyle status}}">
                            <i class="glyphicon icon-circle {{orderStatusStyle status}}" style="font-size: 6px;margin-top: -6px;vertical-align: middle"></i> {{capitalize status}}
                            {{#if isSame status 'accepted'}}
                                {{#if isSame shippingStatus 'processing'}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hourglass {{orderStatusStyle status}}"></span> Processing for 
                                    {{#if isPickup}} 
                                        pickup
                                    {{else}}
                                        delivery
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </span>
                    </small>
                </h1>
            </div>
            <div class="col-sm-6 hidden-xs">
                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-orderslist"></i>Home</a></li>
                    <li><a href="{{pathFor 'orders.list'}}">Orders</a></li>
                    <li class="active">{{orderNumber}}</li>
                </ol>
            </div>
        </div>
        <div class="sub-content-header border">
            <div class="container-fluid">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <span><i class="{{paymentStatusStyle paymentStatus}} glyphicon icon-order"></i> <b class="fs16 f_helvetcia">Payments</b>&nbsp;&nbsp;&nbsp;<span class="{{paymentStatusStyle paymentStatus}}">{{capitalize paymentStatus}}</span></span>
                        &nbsp; 
                        {{#if creditCleared}}
                        | &nbsp; <span><b class="fs16 f_helvetcia">Credit Check</b>&nbsp;&nbsp;&nbsp;<span class="text-success">Cleared</span></span>&nbsp;&nbsp;  
                        {{/if}}
                        | &nbsp; <span><b class="fs16 f_helvetcia">Approvals</b>&nbsp;&nbsp;&nbsp;<span class="{{approvalStatusStyle approvalStatus}}">{{capitalize approvalStatus}}</span></span>
                        <br/>
                        <span class="sub-content-payments">
                            <span>Applied Balance&nbsp;&nbsp;<b class="f_helvetcia">{{formatMoney appliedCredits currency}}</b></span>&nbsp;&nbsp;
                            <span>Payments&nbsp;&nbsp;<b class="f_helvetcia">{{currency.symbol}} {{formatMoney payments}}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{#if hasInvoices}}
                            &nbsp;&nbsp;&nbsp;
                            <span style="display: inline-block;">
                                <div class="dropdown">
                                <a href="#" class="small text-info dropdown-toggle link-noline" data-toggle="dropdown"><i class="glyphicon icon-lilist"></i> Invoices <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {{#each invoices}}
                                    <li><span class="small text-nowrap">&nbsp;&nbsp;&nbsp;<a href="{{pathFor 'invoices.detail'}}" class="text-info">{{invoiceNumber}}</a>&nbsp;&nbsp;&nbsp; {{formatTime issuedAt}}&nbsp;&nbsp;&nbsp; {{formatMoney total ../currency}}</span>&nbsp;&nbsp;&nbsp;</li>
                                    {{/each}}
                                </ul>
                                </div>
                            </span>
                            {{/if}}
                            {{#if hasReturns}}
                            &nbsp;&nbsp;&nbsp;
                            <span style="display: inline-block;">
                                <div class="dropdown">
                                <a href="#" class="small text-info dropdown-toggle link-noline" data-toggle="dropdown"><i class="glyphicon icon-return"></i> Returns <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {{#each returnOrders}}
                                    <li><span class="small text-nowrap">&nbsp;&nbsp;&nbsp;<a href="{{pathFor 'returns.detail'}}" class="text-info">{{returnOrderNumber}}</a>&nbsp;&nbsp;&nbsp; {{formatTime issuedAt}}&nbsp;&nbsp;&nbsp; {{formatMoney total ../currency}}</span>&nbsp;&nbsp;&nbsp;</li>
                                    {{/each}}
                                </ul>
                                </div>
                            </span>
                            {{/if}}
                        </span>
                    </div>
                    <div class="pull-right">
                        <div class="hidden-xs hidden-sm">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {{#if isDifferent status 'cancelled'}}
                                        {{#if hasApprovalRights}}
                                            {{#if canApproveOrReject}}
                                               <li><a href="#" id="approve">Approvals... <i class="glyphicon glyphicon-modal-window pull-right"></i></a></li>
                                            {{/if}} 
                                        {{/if}}
                                        <li>
                                            <a href="#" id="print-button">Print Order<i class="glyphicon icon-print pull-right"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" id="warehouseSlip-button">Warehouse Slip <i class="glyphicon icon-print pull-right"></i></a>
                                        </li>
                                    {{/if}}
                                    {{#if canManageAnyOrder}}
                                    <li>
                                        <a href="#" id="clone-button">Clone <i class="glyphicon glyphicon-duplicate pull-right"></i></a>
                                    </li>
                                    {{/if}}
                                    {{#if canManageOrder}}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#" id="attachments">Attachments <i class="glyphicon glyphicon-file pull-right"></i></a>
                                    </li>
                                    {{#if isDifferent status 'cancelled'}}
                                        {{#if isSame shippingStatus 'pending'}}
                                            <li role="separator" class="divider"></li>
                                            {{#if isSame status 'open'}}
                                            <li><a href="{{pathFor 'orders.edit'}}" disabled="">Edit <i class="icon-edit pull-right"></i></a></li>
                                            {{/if}}
                                            <li><a href="#" name="cancelOrder">Cancel Order <i class="glyphicon glyphicon-remove pull-right"></i></a></li>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                                {{#if hasHolds}}
                                    {{#if canRemoveHolds}}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#" name="removeHolds">Remove Holds <i class="glyphicon glyphicon-flag pull-right"></i></a></li>
                                    {{/if}}
                                {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-sm-12">
        <section class="content sub-content-sec">
            <div class="">
                <div class="col-sm-12 {{cancelledWatermark}}">
                    <div class="well-custom bg-white col-lg-12 bg_white ptop20 pbottom20 mb">
                        <form class="form-horizontal form-empty">
                            <div class="col-sm-12 col-md-4 col-lg-4">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Customer</label>
                                    {{#popover 'focus'}}
                                    <div class="col-sm-6">
                                        <p class="form-control-static"><a href="#" tabindex="0" data-toggle="popover" data-html="true" title="{{customerName}}" 
                                           data-content="<i class='glyphicon glyphicon-barcode'></i> <span class='small'>{{customerNumber}}</span><br/>
                                                         <i class='glyphicon glyphicon-level-up'></i> {{customerGroup}}<br/>
                                                         <a href={{pathFor 'distributors.detail' _id=customerId}} class='small'>View Details</a>">
                                                         {{customerName}}</a></p>
                                    </div>
                                    {{/popover}}
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Bill To</label>
                                    {{#popover 'focus'}}
                                    <div class="col-sm-6">
                                        <a href="#" class="form-control-static" tabindex="0" data-toggle="popover" data-html="true" title="{{billingAddress.company}}" 
                                            data-content="{{billingAddress.address1}}<br/> 
                                                          {{#if billingAddress.address2}}  
                                                            {{billingAddress.address2}}<br/> 
                                                          {{/if}}
                                                          {{#if billingAddress.city}}  
                                                            {{billingAddress.city}} 
                                                          {{/if}}
                                                          {{#if billingAddress.state}}  
                                                            {{#if billingAddress.city}}  
                                                            ,  
                                                            {{/if}}
                                                            {{billingAddress.state}} 
                                                          {{/if}}
                                                          {{#if billingAddress.country}}  
                                                            {{#if billingAddress.state}}  
                                                            ,   
                                                            {{/if}}
                                                            {{billingAddress.country}} 
                                                          {{/if}}">
                                            {{prune billingAddress.company 40}}</a>
                                    </div>
                                    {{/popover}}
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Ship To</label>
                                    {{#popover 'focus'}}
                                    <div class="col-sm-6">
                                        <a href="#" tabindex="0" class="form-control-static" data-toggle="popover" data-html="true" title="{{shippingAddress.company}}" 
                                        data-content="{{shippingAddress.address1}}<br/> 
                                                          {{#if shippingAddress.address2}}  
                                                            {{shippingAddress.address2}}<br/> 
                                                          {{/if}}
                                                          {{#if shippingAddress.city}}  
                                                            {{shippingAddress.city}} 
                                                          {{/if}}
                                                          {{#if shippingAddress.state}}  
                                                            {{#if shippingAddress.city}}  
                                                            ,  
                                                            {{/if}}
                                                            {{shippingAddress.state}} 
                                                          {{/if}}
                                                          {{#if shippingAddress.country}}  
                                                            {{#if shippingAddress.state}}  
                                                            ,   
                                                            {{/if}}
                                                            {{shippingAddress.country}} 
                                                          {{/if}}">
                                            {{prune shippingAddress.company 40}}</a>
                                    </div>
                                    {{/popover}}
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Order Type</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{printOrderType orderType}}</p>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Reference</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{reference}}</p>
                                    </div>
                                </div>
                                -->
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Posting Date</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{formatTime issuedAt}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Sales Location</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{printLocation salesLocationId}}</p>
                                    </div>    
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Ship From</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{printLocation stockLocationId}}</p>
                                    </div>    
                                </div>
                                <!--
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Email</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{contactEmail}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Phone</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{contactPhone}}</p>
                                    </div>
                                </div>
                                -->
                                
                                
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Currency</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{currency.iso}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">PriceList</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{priceListName}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Pickup?</label>
                                    <div class="col-sm-6">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked="{{isPickup}}" disabled>
                                            <label class="onoffswitch-label" for="myonoffswitch"></label>
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Sold By</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{userFullName assigneeId}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                

                <div class="col-sm-12">
                    <div class="module-block no_mobile width_700 no-border">
                        <div class="fix_width">
                            <table class="table table-create">
                                <thead style="color: #999999;">
                                <tr>
                                    <td></td>
                                    <td>Item Code</td>
                                    <td>Description</td>
                                    <td>Unit</td>
                                    <td class="text-right text-nowrap">Price ({{currency.symbol}})</td>
                                    <td class="text-right">
                                        {{#if canApproveOrReject}}
                                         Qty / Avl
                                        {{else}}
                                            Quantity
                                        {{/if}}
                                            </td>
                                    <td class="text-right text-nowrap">Discounts (%)</td>
                                    <td class="text-right text-nowrap">Tax (%)</td>
                                    <td class="text-right text-nowrap">Total ({{currency.symbol}})</td>
                                    <td>&nbsp;</td>
                                </tr>
                                </thead>
                                <tbody style="background-color: #fff;">
                               
                            {{#each standardItems}}
                                {{#unless isSame status 'deleted'}}
                                <tr>
                                    {{#if isSame status 'shipped'}}
                                    <td data-toggle="tooltip" title="Items shipped"><span class="glyphicon glyphicon-ok text-muted" style="padding-left:3px;"></span></td>
                                    {{else}}
                                         {{#if isSame status 'returned'}}
                                    <td data-toggle="tooltip" title="Items returned"><span class="glyphicon icon-return text-muted" style="padding-left:3px;"></span></td>
                                         {{else}}           
                                    <td data-toggle="tooltip" title="Open"><span class="glyphicon glyphicon-hourglass text-muted" style="padding-left:3px;"></span></td>
                                         {{/if}}
                                    {{/if}}
                                    <td>{{variantInfo variantId 'code'}}</td>
                                    <td data-toggle="tooltip" title="{{variantInfo variantId 'code'}}">{{variantInfo variantId 'name'}} </td>
                                    <td>{{variantInfo variantId 'uom'}}</td>
                                    <td class="text-right">{{formatMoneyD price}}</td>
                                    <td class="text-right">{{quantity}}
                                    {{#if canApproveOrReject}}
                                        / <span class="text-default">{{variantStockInfo variantId ../stockLocationId}}</span>
                                    {{/if}}
                                    </td>
                                    <td class="text-right">{{discount}}</td>
                                    <td class="text-right">{{taxRateOverride}}</td>
                                    <td class="td-gray f_helvetcia text-right text-nowrap"><b>{{formatMoneyD itemTotal}}</b></td>
                                    <td class="td-gray">
                                    <!--
                                    {{#if isSame ../status 'open'}}
                                        {{#if isSame status 'open'}}
                                        <a href="#" class="text-danger" name="removeItem" data-id="{{_id}}"><span class="glyphicon glyphicon-remove"></span></a>
                                        {{/if}}
                                    {{/if}}
                                    -->
                                    </td>
                                </tr>
                                {{/unless}}
                            {{/each}}
                                
                            {{#each promoItems}}
                                {{#unless isSame status 'deleted'}}
                                <tr>
                                    {{#if isSame status 'shipped'}}
                                    <td data-toggle="tooltip" title="Items shipped"><span class="glyphicon glyphicon-ok text-muted" style="padding-left:3px;"></span></td>
                                    {{else}}
                                         {{#if isSame status 'returned'}}
                                    <td data-toggle="tooltip" title="Items returned"><span class="glyphicon icon-return text-muted" style="padding-left:3px;"></span></td>
                                         {{else}}           
                                    <td data-toggle="tooltip" title="Open"><span class="glyphicon glyphicon-hourglass text-muted" style="padding-left:3px;"></span></td>
                                         {{/if}}
                                    {{/if}}
                                    <td>{{variantInfo variantId 'code'}}</td>
                                    <td data-toggle="tooltip" title="{{variantInfo variantId 'code'}}">{{variantInfo variantId 'name'}} </td>
                                    <td>{{variantInfo variantId 'uom'}}</td>
                                    <td class="text-right">{{formatMoneyD price}}</td>
                                    <td class="text-right">{{quantity}}</td>
                                    <td class="text-right">{{discount}}</td>
                                    <td class="text-right">{{taxRateOverride}}</td>
                                    <td class="td-gray text-right" style="color: #949e00;"><span class="icon-gift"></span> Promo</td>
                                    <td class="td-gray"></td>
                                </tr>
                                {{/unless}}
                            {{/each}}
                            
                                </tbody>
                            </table>
                            <div class="pull-left">
                            {{#if canBeReturned}}
                                {{#if canManageReturns}}
                                    <button class="btn btn-danger" id="returns-button">Return Items <span
                                            class="glyphicon icon-return"></span></button>
                                {{/if}}
                            {{/if}}
                            {{#if canBeInvoiced}}
                                {{#if canManageInvoices}}
                                    <button class="btn btn-info" id="invoice-button"><span class="glyphicon icon-add"></span> &nbsp;&nbsp;Manual Invoice&nbsp;&nbsp; <span
                                            class="glyphicon icon-lilist"></span></button>
                                {{/if}}

                            {{/if}}
                            </div>

                            <div class="pull-right container-fluid total-block-wrapper">
                                <div class="clearfix hidden-lg"></div>
                                <br class="hidden-lg">

                                <div class="clearfix fix_width">
                                    <dl class="dl-horizontal padd_l40px total-table">
                                        <dt class="text-muted">Shipping:</dt>
                                        <dd class="f_helvetcia text-right"><b>{{formatMoney shippingCosts currency}}</b></dd>
                                        <dt class="text-muted">Discounts:</dt>
                                        <dd class="f_helvetcia text-right text-danger"><b>{{openP}}{{formatMoney discounts currency}}{{closeP}}</b></dd>
                                        <dt class="text-muted">Sub Total:</dt>
                                        <dd class="f_helvetcia text-right"><b>{{formatMoney subTotal currency}}</b></dd>
                                        <dt class="text-muted">Taxes (VAT):</dt>
                                        <dd class="f_helvetcia text-right"><b>{{formatMoney taxes currency}}</b></dd>
                                        <dt><b>TOTAL:</b></dt>
                                        <dd class="f_helvetcia"><b>{{formatMoney total currency}}</b></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

                <div class="clearfix"></div>
                
                
                {{#if isDifferent status 'cancelled'}}
                <div class="clearfix"></div>

                    <div class="col-sm-12">
                        <div class="module-block">
                            <p class="lead text-uppercase">ATTACHMENTS</p>

                            <table class="table">
                                <thead style="color: #999999;">
                                <tr>
                                    <td>File name</td>
                                    <td>Date</td>
                                </tr>
                                </thead>
                                <tbody class="bg_white">
                                {{#each assets}}
                                    <tr>
                                        <td class="">
                                            <a download href="{{this.url}}" target="_parent" class="download-link">
                                                <i class="glyphicon glyphicon-download"></i> {{name}}
                                            </a>
                                        </td>
                                        <td class="">{{formatTime uploadedAt 'withTime'}}</td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <td colspan="6">
                                            No attachments available.
                                        </td>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                <div class="col-sm-12 col-xs-12">
                    <div class="module-block messages-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="lead text-uppercase">Messages</p>
                            </div>
                            <div class="el">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <span class="glyphicon glyphicon-mail icon-mailarrow message_ico text-warning"></span>
                                        <a href="#" class="user-link">
                                            {{#if currentUserAvatar }}
                                               <img class="img-circle" src="{{currentUserAvatar.url store='avatarsSmall'}}" alt="">
                                            {{else}}
                                                <img class="img-circle" src="/img/guest.png" alt="">
                                            {{/if}}
                                            <span>{{userFullName Meteor.userId}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-12 message">
                                    <div class="col-sm-12 text_block">
                                        <form id="order-note">
                                            <div class="input-group">
                                                <input type="text" name='txtNote' class="form-control"
                                                placeholder="Enter a message"/>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"
                                                    style="margin-left: 12px;"><span
                                                    class="glyphicon icon-smallright"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {{#each orderNotes}}
                            <div class="el">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <span class="glyphicon icon-mail message_ico"></span>
                                        <a href="#" class="user-link">
                                            {{#if avatar }}
                                                <img class="img-circle" src="{{avatar.url store='avatarsSmall'}}" alt="">
                                             {{else}}
                                                <img class="img-circle" src="/img/guest.png" alt="">
                                            {{/if}}
                                                    <span>{{userFullName userId}}</span>
                                        </a>
                                        <span class="date">{{formatTime createdAt 'fromNow'}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 message">
                                    <div class="col-sm-12 text_block">
                                        {{body}}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{/if}}
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="module-block">
                        <p class="lead text-uppercase">RECENT ACTIVITIES</p>

                        <table class="table">
                            <thead style="color: #999999;">
                            <tr>
                                <td>Date</td>
                                <td>Details</td>
                            </tr>
                            </thead>
                            <tbody class="bg_white">
                            {{#each history}}
                                <tr>
                                    <td class="">{{formatTime createdAt 'withTime'}}</td>
                                    <td class="">{{textFormat event}}</td>
                                </tr>
                            {{ else }}
                                <tr>
                                    <td colspan="6">
                                        No activities available.
                                    </td>
                                </tr>
                            {{/each}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </section>

    </div>
    {{else}}
    <section class="row content-header">
        <div class="container-fluid">
            <div class="col-sm-6">
                <h1 class="pull-left">
                    Orders
                </h1>
            </div>
            <div class="col-sm-6 hidden-xs">
                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-orderslist"></i>Home</a></li>
                    <li><a href="{{pathFor 'orders.list'}}">Orders</a></li>
                </ol>
            </div>
        </div>
    </section>
    
        {{>DocumentNotFound}}
    {{/if}}

</div>
</template>

