<template name="CurrencyList">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-money"></i>
            </div>

            <div class="media-body">
                <div class="row">
                    <ul class="breadcrumb">
                        <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                        <li><a ui-sref="business.overview">Business</a></li>
                        <li>{{name}}</li>
                        <li>Currency</li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4>Currency</h4>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary pull-right" id="uploadCurrencies">Upload Currencies</button>
                            <span class="mb20 pull-right">&nbsp; &nbsp;</span>
                            <button class="btn btn-primary pull-right" id="newCurrency">Add Currency</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Period Month</label>
                    <select name="periodMonth" class="form-control dropdown" style="width: 100%">
                        {{#each month}}
                            <option value="{{period}}" {{selectedMonth this.period}}>{{name}}</option>
                        {{/each}}
                    </select>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Period Year</label>
                    <select name="periodYear" class="form-control dropdown" style="width: 100%">
                        {{#each years}}
                            <option value="{{this}}" {{selectedYear this}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div><!-- form-group -->
            </div><!-- col-sm-3 -->
        </div>

        <div class="row" style="margin-left: 10px; margin-right: 10px;">
            {{#if condition currenciesCount 'eq' 0}}
                <div class="col-md-6">
                    <div class="alert alert-danger text-center">
                        <p>No currencies were created for the selected period</p>
                    </div>
                </div>
            {{else}}
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-primary mb60 table-hover">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Code</th>
                                <th>Exchange rate to Base currency</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each currencies}}
                                    {{> CurrencyEntry index=@index data=this}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
