<template name="EmployeeNextOfKinDataModal">
{{#each selectedEmployee}}
  <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Next of Kin/Guarantor</h4>
              </div>

              <div class="panel-body nopadding">
                  <form class="form-horizontal form-bordered">
                      <div class="form-group">
                          <label for="employee-guarantor-name" class="col-sm-4 control-label">Full Name</label>
                          <div class="col-sm-4">
                              <input name="guarantorFullName" id="employee-guarantor-name" type="text" placeholder="Guarantor's Full Name" class="form-control"
                                value="{{employeeProfile.guarantor.fullName}}"/>
                          </div>
                          <div class="col-sm-4">
                              &nbsp;
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="employee-guarantor-email"
                                 class="col-sm-4 control-label">Email</label>
                          <div class="col-sm-4">
                              <input name="guarantorEmail" id="employee-guarantor-email" type="email" placeholder="Guarantor's Email" class="form-control"
                                value="{{employeeProfile.guarantor.email}}" />
                          </div>
                          <div class="col-sm-4">
                              &nbsp;
                          </div>
                      </div>


                      <div class="form-group">
                          <label for="employee-guarantor-phone" class="col-sm-4 control-label">Phone Number</label>
                          <div class="col-sm-4">
                              <input name="guarantorPhone" id="employee-guarantor-phone" type="tel" placeholder="Guarantor's Phone" class="form-control"
                                value="{{employeeProfile.guarantor.phone}}"/>
                          </div>
                          <div class="col-sm-4">
                              &nbsp;
                          </div>
                      </div>


                      <div class="form-group">
                          <label for="employee-guarantor-address" class="col-sm-4 control-label">Address</label>
                          <div class="col-sm-4">
                              <textarea name="guarantorAddress" id="employee-guarantor-address" class="form-control" rows="5"
                                value="{{employeeProfile.guarantor.address}}"></textarea>
                          </div>
                          <div class="col-sm-4">
                              &nbsp;
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="employee-guarantor-city" class="col-sm-4 control-label">City</label>
                          <div class="col-sm-4">
                              <input name="guarantorCity" id="employee-guarantor-city" type="text" placeholder="Guarantor's City" class="form-control"
                                value="{{employeeProfile.guarantor.city}}"/>
                          </div>
                          <div class="col-sm-4">
                              &nbsp;
                          </div>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-4 control-label">State</label>
                          <div class="col-sm-4">
                              <select name="guarantorState" class="form-control selectpicker dropdown" data-live-search="true">
                                  {{#each states}}
                                    {{#if condition code "eq" employeeProfile.guarantor.state}}
                                        <option value="{{code}}" selected>{{name}}</option>
                                    {{else}}
                                        <option value="{{code}}">{{name}}</option>
                                    {{/if}}
                                  {{/each}}
                              </select>
                          </div>
                          <div class="col-sm-4">
                              &nbsp;
                          </div>
                      </div>
                  </form>
              </div><!-- End of panel-body -->

              <div class="panel-footer">
                  <button type="reset" class="btn btn-danger" id="save-close" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary mr5 ladda-button" id="save">Save</button>
              </div>
          </div>
      </div>
  </div>
{{/each}}
</template>
