<template name="GlobalSearchInvoiceEntry">
    <div class="global-search-invoice-entry">
        <div class="thumbnail-wrapper d48 circular bg-warning-light text-white inline m-t-10">
            <div>
                <i class="glyphicon icon-lilist"></i>
            </div>
        </div>
        <div class="p-l-10 inline p-t-5">
            <h5 class="m-b-5">
                <span class="semi-bold result-name">{{#linkTo route="invoices.detail" class="view-search-document" _id=_id}}{{invoiceNumber}}{{/linkTo}}</span>
                <span class="{{orderStatusStyle status}} small-text-global">  &bull; {{capitalize status}}</span>
            </h5>
            {{#if customerName}}
                <p class="hint-text small">{{customerName}}</p>
            {{else}}
                <p class="hint-text small">Unspecified.</p>
            {{/if}}
        </div>
    </div>
</template>
