<template name="SapB1Config">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>SAP BusinessOne Setup</li>
                </ul>
                <h4>SAP BusinessOne Setup</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <!-- PROGRESS WIZARD -->
                        <div id="progress-wizard-new" class="panel-wizard form-horizontal form-bordered">
                            <ul class="nav nav-justified nav-wizard nav-disabled-click">
                                <li><a href="#new-tab1" data-toggle="tab" id="step1"><strong></strong> Company</a></li>
                                <li><a href="#new-tab2" data-toggle="tab"><strong></strong> Units</a></li>
                                <li><a href="#new-tab3" data-toggle="tab"><strong></strong> Projects</a></li>
                                <li><a href="#new-tab4" data-toggle="tab"><strong></strong> PayTypes </a></li>
                            </ul>

                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>


                            <div class="tab-content">
                                <div class="tab-pane" id="new-tab1">
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <p>
                                                <b>Please ensure that BULKPay is allowed to make requests to your SAP BusinessOne server.</b>
                                            </p>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>IP Address</b></div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="sapServerIpAddress"
                                                                       placeholder="Example: www.yourdomain.com or 172.2.2.1"
                                                                       title="Example: www.yourdomain.com or 172.2.2.1"
                                                                       value="{{companyConnectionInfo.ipAddress}}"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4 text-right" for-name="protocol"><b>Protocol</b></div>
                                                            <div class="col-sm-4">
                                                                <label>
                                                                    <input type="radio" name="protocol" value="http" checked="checked"/>http
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="protocol" value="https" />https
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row"><br/></div>
                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>SAP Server name</b></div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="sapServername"
                                                                       placeholder="SAP Server name"
                                                                       title=""
                                                                       value="{{companyConnectionInfo.sapServername}}"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>SAP Username</b></div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="sapUsername"
                                                                       placeholder="SAP Username"
                                                                       title=""
                                                                       value="{{companyConnectionInfo.sapUsername}}"/>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>SAP User password</b></div>
                                                            <div class="col-md-3">
                                                                <input type="password" class="form-control" id="sapUserPassword"
                                                                       placeholder="SAP User password"
                                                                       title=""
                                                                       value="{{companyConnectionInfo.sapUserPassword}}"/>
                                                            </div>
                                                        </div>

                                                        <div class="row"><br/></div>

                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>Company Database Name</b></div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="sapServerCompanyDatabaseName"
                                                                       value="{{companyConnectionInfo.sapCompanyDatabaseName}}"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>SAP Database Username</b></div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control" id="sapDatabaseUsername"
                                                                       placeholder="SAP Database username"
                                                                       title=""
                                                                       value="{{companyConnectionInfo.sapDatabaseUsername}}"/>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-4 text-right"><b>SAP Database password</b></div>
                                                            <div class="col-md-3">
                                                                <input type="password" class="form-control" id="sapDatabasePassword"
                                                                       placeholder="SAP Database password"
                                                                       title=""
                                                                       value="{{companyConnectionInfo.sapDatabasePassword}}"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div col-md-9>
                                                                <button class="btn btn-primary pull-right" id="testConnection">Test Connection</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- panel -->
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- tab-pane -->

                                <div class="tab-pane" id="new-tab2">
                                    <div class="form-group">
                                        <!--<h5 class="lg-title">Define Pay Types Values and derivations </h5><br/>-->
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="saveSapCostCenterCodes">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="derivativeTable">
                                                <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Unit</th>
                                                    <th>SAP Cost Center Code</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab2-data-body">
                                                {{#each costCenters}}
                                                    <tr class="item" style="cursor: move;">
                                                        <td>{{@index}}</td>
                                                        <td>{{name}}</td>
                                                        <td>
                                                            <input type="text" id="{{_id}}" class="form-control calc" value="{{costCenterCode}}"/>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->

                                <div class="tab-pane" id="new-tab3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="saveSapProjectCodes">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Project</th>
                                                    <th>SAP Project Code</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab3-data-body">
                                                {{#each projects}}
                                                    <tr class="item" style="cursor: move;">
                                                        <td>{{@index}}</td>
                                                        <td>{{name}}</td>
                                                        <td>
                                                            <input type="text" id="{{_id}}" class="form-control calc" value="{{projectCode}}"/>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->


                                <div class="tab-pane" id="new-tab4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" id="savePayTypesGlAccounts">Save</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>PayType</th>
                                                    <th>Credit G/L Account Code</th>
                                                    <th>Debit G/L Account Code</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tab4-data-body">
                                                    {{#each paytype}}
                                                    <tr class="item" style="cursor: move;" id="{{_id}}">
                                                        <td>{{@index}}</td>
                                                        <td>{{title}}</td>
                                                        <td>
                                                            <input type="text" name="payTypeCreditGlAccountCode" class="form-control calc"
                                                                   value="{{payTypeCreditAccountCode}}" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="payTypeDebitGlAccountCode" class="form-control calc"
                                                                   value="{{payTypeDebitAccountCode}}"/>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div><!-- form-group -->
                                </div><!-- tab-pane -->
                            </div><!-- tab-content -->

                            <ul class="list-unstyled wizard">
                                <li class="pull-left previous">
                                    <button type="button" class="btn btn-default">Previous</button>
                                </li>
                                <li class="pull-right next">
                                    <button type="button" class="btn btn-primary">Next</button>
                                </li>
                                <li class="pull-right finish hide">
                                    <button type="submit" class="btn btn-primary" id="PayGradeButton">Finish</button>
                                </li>
                            </ul>
                        </div><!-- panel-wizard -->

                    </div><!-- row -->
                </div>
            </div>
    </div><!-- contentpanel -->
</template>

