<template name="TravelRequisitionDetail">
    <div id="TravelRequisitionDetailModal" class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="panel panel-default">
                    {{#with procurementDetails}}
                    <div class="panel-heading">
                        <h3 class="panel-title">Travel Request
                            {{#if isInApproveMode}}
                                Approval
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="creator">Creator</label>
                                <input name="creator" type="text" placeholder="Creator" class="form-control"
                                        value="{{getCreatedByFullName this}}" disabled />
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="description">Description</label>
                                {{#if isInEditMode}}
                                    <input name="description" type="text" placeholder="Description" class="form-control"
                                        value="{{this.description}}"/>
                                {{else}}
                                    <input name="description" type="text" placeholder="Description" class="form-control"
                                           value="{{this.description}}" disabled />
                                {{/if}}
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="unit">Unit</label>
                                <input name="unit" type="text" placeholder="Unit" class="form-control"
                                       value="{{getUnitName this.unitId}}" disabled/>
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="dateRequired">Date required</label>
                                {{#if isInEditMode}}
                                    {{#datepicker dateRequired}}
                                        <input type="text" class="form-control datepicker" name="dateRequired" data-field="dateRequired" />
                                    {{/datepicker}}
                                {{else}}
                                    {{#datepicker dateRequired}}
                                        <input type="text" class="form-control datepicker" name="dateRequired" data-field="dateRequired" disabled/>
                                    {{/datepicker}}
                                {{/if}}
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="requisitionReason">Requisition reason</label>
                                {{#if isInEditMode}}
                                    <textarea class="form-control" rows="5" name="requisitionReason" id="requisitionReason"
                                              value="{{this.requisitionReason}}"></textarea>
                                {{else}}
                                    <textarea class="form-control" rows="5" name="requisitionReason" id="requisitionReason"
                                              value="{{this.requisitionReason}}" disabled></textarea>
                                {{/if}}
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <br/>
                                <label class="control-label" for="requisitionReason"><b>Travel costs</b></label>
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="flightCost">Flight</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="flightCost" type="text" placeholder="Flight" class="form-control"
                                        value="{{tripCosts.flightCost}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="roadCost">Road</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="roadCost" type="text" placeholder="Road" class="form-control"
                                        value="{{tripCosts.roadCost}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="accommodationCost">Accommodation/Feeding</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="accommodationCost" type="text" placeholder="Accommodation" class="form-control"
                                        value="{{tripCosts.accommodationCost}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="localTransportCost">Local transport</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="localTransportCost" type="text" placeholder="Local transport" class="form-control"
                                        value="{{tripCosts.localTransportCost}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="perDiemCost">Per diem</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="perDiemCost" type="text" placeholder="Per diem" class="form-control"
                                        value="{{tripCosts.perDiemCost}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="miscCosts">Miscellaneous costs</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="miscCosts" type="text" placeholder="Miscellaneous costs" class="form-control"
                                        value="{{tripCosts.miscCosts}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="totalCost">Total cost</label>
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    <input name="totalCost" type="text" placeholder="0" class="form-control" disabled
                                        value="{{formatMoneyD totalTripCost}}"/>
                                </div><!-- col-sm-3 -->
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->

                        {{#if isTwoStepApprovalEnabled}}
                            <br/>
                            {{#if isFirstSupervisor}}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="approvalRecommendation">Approval recommendation</label>

                                        <textarea class="form-control" rows="5" name="approvalRecommendation" id="approvalRecommendation" value=""></textarea>
                                    </div><!-- col-sm-3 -->
                                </div><!-- row -->
                            {{else}}
                                {{#if isInApproveMode}}
                                    {{#with firstSupervisorApproval}}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="approvalRecommendation">#1st Approver: {{approverFullName}}</label>
                                                <br/>
                                                <label class="control-label" for="approvalRecommendation">Recommendation</label>

                                                <textarea class="form-control" rows="5" name="approvalRecommendation" id="approvalRecommendation" 
                                                    value="{{approvalRecommendation}}" disabled></textarea>
                                            </div>
                                        </div>

                                        {{#if approvalStatus}}
                                            <label class="label label-success" for="approvalRecommendation">{{getHumanReadableApprovalState approvalStatus}}</label>
                                        {{else}}
                                            <label class="label label-danger" for="approvalRecommendation">{{getHumanReadableApprovalState approvalStatus}}</label>
                                        {{/if}}
                                    {{/with}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>

                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-white btn-lg" id="requisition-print"><i class="fa fa-print mr5"></i> Print Slip</button>

                        {{#if isInEditMode}}
                        <button class="btn btn-danger mr5 pull-right" id="requisition-create" data-dismiss="modal">Submit for Approval</button>
                        <button class="btn btn-primary mr5 pull-right" id="requisition-save-draft">Save Draft</button>
                        {{else}}
                            {{#if isInApproveMode}}
                                <button class="btn btn-danger mr5 pull-right" id="requisition-reject">Reject</button>
                                <button class="btn btn-primary mr5 pull-right" id="requisition-approve">Approve</button>
                            {{else}}
                                {{#if isInTreatMode}}
                                    <button class="btn btn-danger mr5 pull-right" id="requisition-treatment-reject">Reject</button>
                                    <button class="btn btn-primary mr5 pull-right" id="requisition-treat">Treat</button>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div><!-- panel-footer -->
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>
