<template name="TravelRequisitionDetail">
    <div id="TravelRequisitionDetailModal" class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    {{#with procurementDetails}}
                    <div class="panel-heading">
                        <h3 class="panel-title">Travel Request
                            {{#if isInApproveMode}}
                                Approval
                            {{/if}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="creator">Creator super</label>
                                <input name="creator" type="text" placeholder="Creator" class="form-control"
                                        value="{{getCreatedByFullName this}}" disabled />
                            </div><!-- col-sm-3 -->
                        </div><!-- row -->
                      

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" class="control-label">Description <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label for="budget-code" class="control-label">Budget Code</label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->

                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="fromId_{{this.tripIndex}}" class="control-label">From <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="toId_{{this.tripIndex}}" class="control-label">To <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-2">
                                <div class="form-group datetimepicker">
                                    <label class="control-label">Departure<span class="asterisk important-input">*</span></label>
                                    <input class="set-due-date form-control " type="text" id="departureDate_{{this.tripIndex}}" name="departureDate_{{this.tripIndex}}" placeholder="Departure Date" value="{{formatDate this.departureDate}}"/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">

                                    <label for="departureTime_{{this.tripIndex}}" class="control-label">Time <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />

                                </div><!-- form-group -->
                            </div>
                           
                            <div class="col-sm-2">
                                <div class="form-group datetimepicker">
                                    <label class="control-label">Return <span class="asterisk important-input">*</span></label>
                                    <input class="set-due-date form-control " type="text" id="returnDate_{{this.tripIndex}}" name="returnDate_{{this.tripIndex}}" placeholder="Return Date" value="{{formatDate this.returnDate}}"/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">

                                    <label for="returnTime_{{this.tripIndex}}" class="control-label">Time <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-12 -->
                         
                        </div>
                        <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">

                                <label for="transportationMode_{{this.tripIndex}}" class="control-label">Mode of Transport <span class="asterisk important-input">*</span></label>
                                <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-3 -->
                        </div>
                      
                     
                        <br/>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="hotelId_{{this.tripIndex}}" class="control-label">Hotel <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="hotelRate_{{this.tripIndex}}" class="control-label">Rate per Night</label>
                                    <input type="text" id="hotelRate_{{this.tripIndex}}" class="form-control" name="hotelRate_{{this.tripIndex}}" value="{{this.hotelRate}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="destinationCityCurrreny_{{this.tripIndex}}" class="control-label">Curr.</label>
                                    <input type="text" id="destinationCityCurrreny_{{this.tripIndex}}" class="form-control" name="destinationCityCurrreny_{{this.tripIndex}}" value="{{this.destinationCityCurrreny}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span>Per Diem Rate: <strong>{{formatMoney this.perDiemCost this.destinationCityCurrreny}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Days: <strong>{{this.totalDuration}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Per Diem: <strong>{{formatMoney this.totalPerDiem this.destinationCityCurrreny}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Hotel: <strong>{{formatMoney this.totalHotelCost this.destinationCityCurrreny}}</strong></span>
                            </div>
    
                        </div> <div class="row">
                            <div class="col-sm-12">
                                <span><strong>Trip Summary</strong></span>
                            </div>
                        </div>
                        <hr/>
    
                        <div class="row">
                            <div class="col-sm-8">
                                <span>Total Estimated Amount Payable to Employee:</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalEmployeeAmountPayableNGN "NGN"}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalEmployeeAmountPayableUSD "USD"}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <span>Total Estimated Hotel Cost:</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalHotelCostNGN "NGN"}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalHotelCostUSD "USD"}}</span>
                            </div>
                        </div>
    
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <span><strong>Total Estimated Trip Cost (Excluding Flights/Car Hire):</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right"><strong>{{formatMoney currentTravelRequest.totalTripCostNGN "NGN"}}</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right"><strong>{{formatMoney currentTravelRequest.totalTripCostUSD "USD"}}</strong></span>
                            </div>
                        </div>

                        <br/>

                      

                        {{#if isTwoStepApprovalEnabled}}
                            <br/>
                            {{#if isFirstSupervisor}}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="approvalRecommendation">Approval recommendation</label>

                                        <textarea class="form-control" rows="5" name="approvalRecommendation" id="approvalRecommendation" value=""></textarea>
                                    </div><!-- col-sm-3 -->
                                </div><!-- row -->
                            {{else}}
                                {{#if isInApproveMode}}
                                    {{#with firstSupervisorApproval}}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label class="control-label" for="approvalRecommendation">#1st Approver: {{approverFullName}}</label>
                                                <br/>
                                                <label class="control-label" for="approvalRecommendation">Recommendation</label>

                                                <textarea class="form-control" rows="5" name="approvalRecommendation" id="approvalRecommendation" 
                                                    value="{{approvalRecommendation}}" disabled></textarea>
                                            </div>
                                        </div>

                                        {{#if approvalStatus}}
                                            <label class="label label-success" for="approvalRecommendation">{{getHumanReadableApprovalState approvalStatus}}</label>
                                        {{else}}
                                            <label class="label label-danger" for="approvalRecommendation">{{getHumanReadableApprovalState approvalStatus}}</label>
                                        {{/if}}
                                    {{/with}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>

                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-white btn-lg" id="requisition-print"><i class="fa fa-print mr5"></i> Print Slip</button>

                        {{#if isInEditMode}}
                        <button class="btn btn-danger mr5 pull-right" id="requisition-create" data-dismiss="modal">Submit for Approval</button>
                        <button class="btn btn-primary mr5 pull-right" id="requisition-save-draft">Save Draft</button>
                        <button class="btn btn-danger glyphicon glyphicon-trash mr5 pull-right" id="requisition-delete"></button>
                        
                        {{else}}
                            {{#if isInApproveMode}}
                                {{#if isInApproverEditMode}}
                                    <button class="btn btn-danger mr5 pull-right" id="requisition-approver-save">Save</button>
                                {{else}}
                                    <button class="btn btn-danger mr5 pull-right" id="requisition-reject">Reject</button>
                                    <button class="btn btn-primary mr5 pull-right" id="requisition-approve">Approve</button>

                                    <button class="btn btn-danger mr5 pull-right" id="requisition-approver-edit">Edit</button>
                                {{/if}}
                            {{else}}
                                {{#if isInTreatMode}}
                                    <button class="btn btn-danger mr5 pull-right" id="requisition-treatment-reject">Reject</button>
                                    <button class="btn btn-primary mr5 pull-right" id="requisition-treat">Treat</button>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div><!-- panel-footer -->
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</template>
