<template name="Node">
    <div class="box box-lg panel panel-default">

        <div class="panel-body">
            {{#if Template.subscriptionsReady}}
                {{#with node}}

                    <div class="col-sm-1 pl0 ml0 hidden-md hidden-xs hidden-sm">
                        <div class="avatar text-center">

                            <img src="/admin/img/{{otype}}.png" class="img-circle" id="avatar-image"><br>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="panel panel-success-head widget-todo">
                            <div class="col-sm-6">
                                {{otype}}
                                <h3 class="name mt0 fs28">{{name}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="media-manager-sidebar">

                            <button class="btn btn-primary btn-block">Members</button>

                            <div class="mb30"></div>

                            {{#if hasPayrollAccess}}
                            <h5 class="lg-title">Decendants<a href="" class="pull-right addnode">+ Add New Member</a></h5>
                            {{/if}}
                            <ul class="folder-list">
                                {{#each children }}
                                    <li>
                                        {{> MemberNode currentNodeData=this}}
                                        <!-- {{#if isChildAUnit otype}}
                                        <a class="selectedNodeChildUnit" name="{{_id}}" style="cursor: pointer;"><i class="fa {{icon otype}}"></i> {{name}}
                                            <span class="pull-right">
                                                <i class="fa fa-edit editnode"></i>
                                                <i class="fa fa-trash-o deletenode"></i>
                                            </span>
                                        </a>
                                        {{else}}
                                        <a class="selectedLeafNode" name={{_id}}><i class="fa {{icon otype}}"></i> {{name}}
                                            <span class="pull-right">
                                                <i class="fa fa-edit editnode"></i>
                                                <i class="fa fa-trash-o deletenode"></i>
                                            </span>
                                        </a>
                                        {{/if}} -->
                                    </li>
                                {{/each}}
                            </ul>

                            <div class="mb30"></div>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-success-alt widget-todo">
                            <div class="panel-heading">
                                <div class="pull-right">
                                    <a href="" class="tooltips mr5" data-toggle="tooltip" title="" data-original-title="Settings"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a href="" id="addnewtodo" class="tooltips" data-toggle="tooltip" title="" data-original-title="Add New"><i class="glyphicon glyphicon-plus"></i></a>
                                </div><!-- panel-btns -->
                                <h3 class="panel-title">Properties</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="">
                                        Supervisor: {{positionName properties.supervisor}}
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="">
                                        Alternate Supervisor: {{positionName properties.alternateSupervisor}}
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                {{/with}}


            {{else}}
                {{> Loading}}
            {{/if}}
        </div>

        {{!--
          <div class="col-md-12">
            <div class="module-block">
                <p class="lead text-uppercase">Employees</p>
                <div class="row">
                    {{#each employees}}
                        <div class="col-xs-12 col-lg-4 col-md-6 col-sm-12">
                            <div class="">
                                <ul class="media-list msg-list">
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            {{#with images employeeProfile.photo._id}}
                                                {{#if _id}}
                                                    <img src="{{url store='avatarsLarge' }}" class="media-object img-circle img-online" id="avatar-image" /><br/>
                                                {{ else }}
                                                    <img class="media-object img-circle img-online" src="/images/photos/user5.png" alt="...">
                                                {{/if}}
                                            {{/with}}
                                        </a>
                                        <div class="media-body">
                                            <div class="pull-right media-option">
                                                <small>July 6</small>
                                                <a href=""><i class="fa fa-star {{unitHead employeeProfile.position}}"></i></a>
                                                <div class="btn-group">
                                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-cog"></i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        <li><a href="#">Set as Head</a></li>
                                                        <li><a href="#">Add Employee</a></li>
                                                        <li><a href="#">Remove Employee</a></li>
                                                        <li><a href="#">Exempt from Payroll</a></li>
                                                        <li><a href="#">Set as Inactive</a></li>
                                                        <li><a href="#">Delete</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Pay Now</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <h4 class="sender">{{profile.fullName}}</h4>
                                            <p><a href="view_message.html"><strong class="subject">{{positionName employeeProfile.position}}({{emails.[0].address}})</strong></a></p>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    {{/each}}
                </div>

            </div>
        </div>
        --}}
    </div>
</template>

<template name="MemberNode">
    {{#if isChildAUnit currentNodeData.otype}}
    <a class="selectedNodeChildUnit" name="{{currentNodeData._id}}" style="cursor: pointer;"><i class="fa {{icon currentNodeData.otype}}"></i> {{currentNodeData.name}}
        {{#if hasPayrollAccess}}
        <span class="pull-right">
            <i class="fa fa-edit editnode" name="{{currentNodeData._id}}"></i>
            <i class="fa fa-trash-o deletenode" name="{{currentNodeData._id}}"></i>
        </span><!-- panel-btns -->
        {{/if}}
    </a>
    {{else}}
    <a class="selectedLeafNode" name={{currentNodeData._id}}><i class="fa {{icon currentNodeData.otype}}"></i> {{currentNodeData.name}}
        {{#if hasPayrollAccess}}
        <span class="pull-right">
            <i class="fa fa-edit editnode" name="{{currentNodeData._id}}"></i>
            <i class="fa fa-trash-o deletenode" name="{{currentNodeData._id}}"></i>
        </span><!-- panel-btns -->
        {{/if}}
    </a>
    {{/if}}
</template>
