.customer-search {
    position:relative;
}

.customer-search input {
    width: 100%;
}

.customer-search .customer-search-result {
    display:none;
    position: absolute;
    top: 36px;
    left:0;
    height:100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 10;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
}

.customer-search.custom .customer-search-result {
    width: 445px;
}

.customer-search.custom .customer-search-result {
    height: 105px;
}

.customer-search.custom .customer-search-result {
    padding: 3px 0;
}

.customer-search .customer-search-result .customer-search-elem {
    width: 100%;
    display: block;
    padding: 2px 5px;
    color: #484848;
    text-decoration:none;
}

.custom .customer-search-elem {
    padding: 2px 5px;
}

.customer-search .customer-search-result .customer-search-elem:hover {
    background-color:#e0e0e0;
}

@media only screen and (min-width: 960px) {
  .item-fixed {
      width: 400px;
  }
}

@media only screen and (max-width: 560px) {
  .fluid-width-xs {
      width: 100%!important;
  }
  
  .fast-search.custom .fast-search-result {
      width: 380px!important;
  }
  
  .customer-search.custom .customer-search-result {
      width: 380px!important;
  }
}

.total-table.dl-horizontal dd {
    padding-right: 5%!important;
}

.btn {
    margin-right: 0px!important;
}

.input-discounts {
  border: 1px solid #d2d2d2!important;
  box-shadow: none!important;
  overflow: hidden!important;
  border-radius: 0!important;
  width: auto!important;
  height: 80%!important;
  text-align: right!important;
  display: inline-block!important;
  padding: 0.5 10px!important;
  font-size: 13px!important;
}

a.glyph-custom {
    pointer-events: auto!important;
    z-index: 1000!important;
}

a.glyph-custom:focus {
    text-decoration: none!important;
    color: #999!important;
}

a.glyph-custom:visited {
    text-decoration: none!important;
}

a.glyph-custom:hover {
    text-decoration: none!important;
    color: #bbb!important;
}

a.glyph-custom:active {
    text-decoration: none!important;
}