<template name="Dashboard">
	<div class="container-fluid">
		<section class="row content-header">
			<div class="container-fluid">
				<div class="container-fluid">
					<div class="col-sm-6">
						<h1 class="pull-left">
							Dashboard
						</h1>
					</div>
					<div class="col-sm-6 hidden-xs">
						<ol class="breadcrumb">
							<li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-graph"></i>Home</a></li>
							<li class="active">Dashboard</li>
						</ol>
					</div>
				</div>

				<!-- <div class="col-xs-6">
				<h1>
				Dashboard
			</h1>
		</div>
		<div class="col-xs-6 hidden-xs">
		<ol class="breadcrumb">
		<li><a href="#"><i class="glyphicon icon-graph"></i>Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
</div> -->
</div>

</section>
<div class="col-sm-12">
	<section class="content">
		<div class="row">
			{{> DashTransactionVolumes}}
			{{> DashTotalTransactionAmount}}
			{{> DashTotalBills}}
			{{> DashTotalPaidBills}}
		</div>

		{{#if isStakeholder}}
		<div class="row">
			<div class="col-lg-12">
				{{> DashOverviewChart}}

				{{> DashBillsPieChart}}
			</div>
		</div>
		{{else}}
		<div class="row">
			<div class="col-lg-7">
				{{> DashOverviewChart}}

				{{> DashBillsPieChart}}
			</div>
			<div class="col-lg-5">

				<div class="box panel panel-default">
					{{> DashOutstandingBills}}
				</div>

				<div class="box panel panel-default">
					{{> DashTopFivePaidBills}}
				</div>
			</div>
		</div>
		{{/if}}






	</section>

</div>

</div>
</template>
