<template name="SupplierCreate">
  <div class="supplier-create">
      <div class="container-fluid">
          <section class="row content-header">
              <div class="container-fluid">
                  <div class="col-sm-6">
                      <h1 class="pull-left">
                          New Supplier
                          <small>&nbsp;</small>
                      </h1>

                  </div>
                  <div class="col-sm-6 hidden-xs">
                      <ol class="breadcrumb">
                          <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-user"></i>Home</a></li>
                          <li><a href="{{pathFor 'suppliers.list'}}">Suppliers</a></li>
                          <li class="active">New Supplier</li>
                      </ol>
                  </div>
              </div>
              <div class="sub-content-header">
                  <div class="container-fluid">
                      <div class="col-sm-12">
                          <div class="pull-right">
                              <button class="btn btn-success {{disableSubmit}}" {{disableSubmit}} id="create-supplier">Save</button>
                              <button id="cancel-create-supplier" class="btn btn-default">Cancel</button>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <div class="col-sm-12">

              <section class="content sub-content">

                  <div class="box box-lg panel panel-default">
                      <div class="panel-body">
                          <form class="form-horizontal">
                              <div class="col-sm-12 col-md-2">
                                  <div class="avatar text-center">
                                      {{#if avatar}}
                                          <img src="{{avatar.url store='avatarsLarge' }}" class="img-circle" id="avatar-image" /><br/>
                                      {{ else }}
                                          <img src="/admin/img/avatar.png" class="img-circle" id="avatar-image" /><br/>
                                      {{/if}}
                                      <div class="manual-upload">
                                            <span class="btn btn-info mr0 mt20 fileinput-button">
                                                <span>Choose Avatar</span>
                                                 <input type="file" name="files[]" id="manualInput">
                                            </span>
                                          <div class="mt15 text-muted">
                                              <small>JPG, GIF or PNG<br/>Max Size of 1M</small>
                                              {{#if avatar}}
                                                  {{#unless avatar.isUploaded}}
                                                      {{> FS.UploadProgressBar bootstrap=true class='progress-bar-success progress-bar-striped active' showPercent=true}}
                                                  {{/unless}}
                                              {{/if}}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-4 col-lg-3 col-md-4 col-md-offset-1 col-lg-offset-1">
                                  <div class="form-group">
                                      <div class="col-sm-12">
                                          <label for="supplier-name">Name</label>
                                          <div class="company-search custom inner-addon left-addon supplier-search">
                                              <span class="glyphicon icon-search"></span>
                                              <input type="text" id="txtSupplierSearch" class="company-search form-control" placeholder="Search for a Company" autocomplete="off" value="{{supplier.name}}">
                                              <div id="divSupplierSearch" class="company-search-result"></div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-12">
                                          <label for="supplier-email">E-mail address</label>
                                          <input type="email" class="form-control" placeholder="E-mail" name="supplier-email" id="supplier-email" value="{{supplier.email}}" />
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-4">
                                  <div class="form-group">
                                      <div class="col-sm-12">
                                          <label for="supplier-phone">Phone</label>
                                          <input type="text" class="form-control" placeholder="Phone" name="supplier-phone" id="supplier-phone" value="{{supplier.phone}}" />
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-3 col-md-4 col-sm-4">

                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="clearfix"></div>
              </section>

          </div>


          <div class="col-sm-12">
              <div class="module-block no_mobile width_700">
                  <div class="fix_width">
                      <p class="lead text-uppercase">ADDRESS BOOK</p>

                      <table class="table">
                          <thead>
                          <tr>
                              <td>Shipping</td>
                              <td>Billing</td>
                              <td>Company</td>
                              <td>Street</td>
                              <td>City</td>
                              <td>Postal Code</td>
                              <td>Country</td>
                              <td>Telephone</td>
                              <td></td>
                              <td></td>
                          </tr>
                          </thead>
                          <tbody>
                          {{#each supplier.addressBook}}
                              <tr>
                                  <td>
                                      <input type="radio" data-id={{_id}} name="shipping" {{getCheckedStatus isShippingDefault}} />
                                  </td>
                                  <td>
                                      <input type="radio" data-id={{_id}} name="billing" {{getCheckedStatus isBillingDefault}} />
                                  </td>
                                  <td>
                                      <input type="text" data-id="{{_id}}" data-column="company" class="input-transparent supplier-address-items" placeholder="Company Name" value="{{company}}" />
                                  </td>
                                  <td>
                                      <input type="text" data-id="{{_id}}" data-column="address1" class="input-transparent supplier-address-items" placeholder="Address" value="{{address1}}" />
                                  </td>
                                  <td>
                                      <input type="text" data-id="{{_id}}" data-column="city" class="input-transparent supplier-address-items" placeholder="City" value="{{city}}" />
                                  </td>
                                  <td>
                                      <input type="text" data-id="{{_id}}" data-column="postal" class="input-transparent supplier-address-items" placeholder="Postal" value="{{postal}}" />
                                  </td>
                                  <td>
                                      <input type="text" data-id="{{_id}}" name="address-book-country" class="input-transparent supplier-address-items" placeholder="Country" value="{{country}}" disabled />
                                  </td>
                                  <td>
                                      <input type="text" data-id="{{_id}}" data-column="phone" class="input-transparent supplier-address-items" placeholder="Telephone" value="{{phone}}" />
                                  </td>
                                  <td></td>
                                  <td>
                                      <a href="#" data-id={{_id}} class="text-danger remove-item"><span class="glyphicon glyphicon-remove"></span></a>
                                  </td>
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>

                      <div class="pull-left">
                          <button class="btn btn-info" name="btnAddItem">Add new line <span class="glyphicon icon-add"></span>
                          </button>
                      </div>

                  </div>
              </div>
          </div>

      </div>
  </div>
</template>
