/*****************************************************************************/
/* SupplierCreate: Style */
/*****************************************************************************/
.supplier-create {
}


.company-search .company-search-result {
    display:none;
    position: absolute;
    top: 36px;
    left:0;
    height:100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 10;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
}

.company-search.custom .company-search-result {
    width: 100%;
}

.company-search.custom .company-search-result {
    height: 105px;
}

.company-search.custom .company-search-result {
    padding: 3px 0;
}

.company-search .company-search-result .company-search-elem {
    width: 100%;
    display: block;
    padding: 2px 5px;
    color: #484848;
    text-decoration:none;
}

.custom .company-search-elem {
    padding: 2px 5px;
}

.company-search .company-search-result .company-search-elem:hover {
    background-color:#e0e0e0;
}
