<template name="EmployeeTime">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="">Pages</a></li>
                    <li>Time Management </li>
                </ul>
                <h4>Time Management</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
            <div class="col-md-9">
                <div id="calendar"></div>
            </div><!-- col-md-9 -->
            <div class="col-md-3">
                <h5 class="lg-title mb10">Employee Time</h5>
                <p class="mb20">View all employee Times/Leave</p>

                <div class="panel-group" id="accordion2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                    Self Time Sheets
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{#with self}}
                                    <ul class="media-list msg-list">
                                        <li class="media emplist" id="{{_id}}">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle img-online" src="/admin/img/Person.png" alt="...">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="sender">Marketting Manager</h4>
                                                <p><a href="#"><strong class="subject">{{profile.fullName}}</strong></a></p>
                                            </div>
                                        </li>
                                    </ul>
                                {{/with}}
                            </div>
                        </div>
                    </div><!-- panel -->

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseTwo2">
                                    Supervisee
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="media-list msg-list">
                                    {{#each supervisee}}
                                        <li class="media emplist" id="{{_id}}">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle img-online" src="/admin/img/Person.png" alt="...">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="sender">Marketting Manager</h4>
                                                <p><a href="#"><strong class="subject">{{profile.fullName}}</strong></a></p>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div><!-- panel -->

                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseThree2">-->
                                    <!--Subordinates-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseThree2" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--<ul class="media-list msg-list">-->
                                    <!--{{#each subordinate}}-->
                                        <!--<li class="media emplist" id="{{_id}}">-->
                                            <!--<a class="pull-left" href="#">-->
                                                <!--<img class="media-object img-circle img-online" src="/images/photos/user5.png" alt="...">-->
                                            <!--</a>-->
                                            <!--<div class="media-body">-->
                                                <!--<h4 class="sender">Marketting Manager</h4>-->
                                                <!--<p><a href="#"><strong class="subject">{{profile.fullName}}</strong></a></p>-->
                                            <!--</div>-->
                                        <!--</li>-->
                                    <!--{{/each}}-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; panel &ndash;&gt;-->
                    <div class="row">
                        <div class="approvals">
                            <h5 class="lg-title mb10">Approvals </h5>
                            <p class="mb20">Section for approving Times/Leave</p>
                        </div>
                    </div>

                    <div class="panel panel-primary widget-newsletter">
                        <div class="panel-heading">
                            <h4 class="panel-title">Selected Event</h4>
                        </div>
                        <div class="panel-body">
                            {{#if selected}}
                               {{> selectedEvent selected}}
                            {{/if}}
                        </div><!-- panel-body -->
                    </div>

                </div><!-- panel-group -->

            </div>
        </div><!-- row -->
    </div><!-- contentpanel -->
</template>
