<template name="EmployeeTime">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left" style="padding: 9px;">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="">Pages</a></li>
                    <li>Time Management </li>
                </ul>
                <h4>Time Management</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
            <div class="col-md-9">
                <div id="calendar"></div>
            </div><!-- col-md-9 -->
            <div class="col-md-3">
                <!--<h5 class="lg-title mb10">Employee Time</h5>
                <p class="mb20">View all employee Times/Leave</p>-->

                <!--<div class="row" id="spinner">
                </div>-->

                <div class="panel-group" id="accordion2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                    Self Time Sheets
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne2" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{#with self}}
                                    <ul class="media-list">
                                        <li class="media emplist" id="{{_id}}">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle img-online" src="/admin/img/Person.png" alt="...">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="sender">{{getPositionDescription employeeProfile.employment.position}}</h4>
                                                <p><a href="#"><strong class="subject">{{profile.fullName}}</strong></a></p>
                                            </div>
                                        </li>
                                    </ul>
                                {{/with}}
                            </div>
                        </div>
                    </div><!-- panel -->
                </div>
            </div>
        </div><!-- row -->
    </div><!-- contentpanel -->
</template>
