<template name="EmployeeTimeManagement">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-dashboard"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="#">Business</a></li>
                    <li>{{tenantName}}</li>
                    <li></li>
                </ul>
                <h4>Time Management<span class="mb20 pull-right"></span></h4>

            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
      <div class="col-md-6 pointer">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <div class="panel-btns">
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                              class="fa fa-times"></i></a>
                  </div><!-- panel-btns -->
                  <div class="panel-icon"><i class="fa fa-calendar"></i></div>
                  <div class="media-body">
                      <h5 class="md-title nomargin">Week 1 </h5>
                      <h1 class="mt5 businessUnitName"></h1>
                  </div><!-- media-body -->
                  <hr>
                  <div class="clearfix mt20">
                      <div class="pull-left">
                          <h5 class="md-title nomargin">Employees</h5>
                          <h4 class="nomargin"></h4>
                      </div>
                      <div class="pull-right">
                          <h5 class="md-title nomargin">Fanch Energy</h5>
                          <h4 class="nomargin">  </h4>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-md-6 pointer">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <div class="panel-btns">
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                              class="fa fa-times"></i></a>
                  </div><!-- panel-btns -->
                  <div class="panel-icon"><i class="fa fa-calendar"></i></div>
                  <div class="media-body">
                      <h5 class="md-title nomargin">Week 2</h5>
                      <h1 class="mt5 businessUnitName"></h1>
                  </div><!-- media-body -->
                  <hr>
                  <div class="clearfix mt20">
                      <div class="pull-left">
                          <h5 class="md-title nomargin">Employees</h5>
                          <h4 class="nomargin"></h4>
                      </div>
                      <div class="pull-right">
                          <h5 class="md-title nomargin">Fanch Energy</h5>
                          <h4 class="nomargin">  </h4>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-md-6 pointer">
          <div class="panel panel-primary ">
              <div class="panel-heading ">
                  <div class="panel-btns">
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                              class="fa fa-times"></i></a>
                  </div><!-- panel-btns -->
                  <div class="panel-icon"><i class="fa fa-calendar"></i></div>
                  <div class="media-body">
                      <h5 class="md-title nomargin">Week 3 </h5>
                      <h1 class="mt5 businessUnitName"></h1>
                  </div><!-- media-body -->
                  <hr>
                  <div class="clearfix mt20">
                      <div class="pull-left">
                          <h5 class="md-title nomargin">Employees</h5>
                          <h4 class="nomargin"></h4>
                      </div>
                      <div class="pull-right">
                          <h5 class="md-title nomargin">Fanch Energy</h5>
                          <h4 class="nomargin">  </h4>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="col-md-6 pointer">
          <div class="panel panel-primary ">
              <div class="panel-heading ">
                  <div class="panel-btns">
                      <a href="" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i
                              class="fa fa-times"></i></a>
                  </div><!-- panel-btns -->
                  <div class="panel-icon"><i class="fa fa-calendar"></i></div>
                  <div class="media-body">
                      <h5 class="md-title nomargin">Week 4 </h5>
                      <h1 class="mt5 businessUnitName"></h1>
                  </div><!-- media-body -->
                  <hr>
                  <div class="clearfix mt20">
                      <div class="pull-left">
                          <h5 class="md-title nomargin">Employees</h5>
                          <h4 class="nomargin"></h4>
                      </div>
                      <div class="pull-right">
                          <h5 class="md-title nomargin">Fanch Energy</h5>
                          <h4 class="nomargin">  </h4>
                      </div>
                  </div>

              </div>
          </div>
      </div>
        <!-- <div class="col-md-6 pointer">
            <div class="card" style="">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 pointer">

            <div class="card" style="">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>



        <div class="col-md-6 pointer">

            <div class="card" style="">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>



        </div>

        <div class="col-md-6 pointer">

            <div class="card" style="">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>



        </div> -->






    </div><!-- contentpanel -->


</template>
