<template name="TravelRequisition2Create">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Travel Request</h3>
                    </div>
                    <div class="panel-body">
                        {{#unless Template.subscriptionsReady}}
                        <div class="row">
                            <div class="col-sm-12">
                                {{> spinner}}
                            </div>
                        </div>
                        {{/unless}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" class="control-label">Description <span class="asterisk important-input">*</span></label>
                                    <input type="text" id="description" class="form-control" placeholder="Description" name="description" value="{{currentTravelRequest.description}}" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <label for="budget-code" class="control-label">Which project is this trip <u>primarily</u> related to?</label>
                                    {{#semanticselect}}
                                    <select id="budget-code" name="budget-code" style="width: 100%" class="ui fluid search dropdown form-control">
                                        <option value="NONE">I am not sure</option>
                                        {{#each budgetList}}
                                        <option value="{{_id}}" {{budgetCodeSelected _id}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                    {{/semanticselect}}
                                    <span class="text-warning"><small>Try your best to provide this info. But if you are not sure, then leave it blank</small></span>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="ckbox ckbox-danger">
                                        <input type="checkbox" id="cashAdvanceNotRequired" name="cashAdvanceNotRequired" value="{{_id}}" {{cashAdvanceNotRequiredChecked}} />
                                        <label for="cashAdvanceNotRequired">I do not need a cash advance (I will simply retire my expenses when i return)</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <ul class="list-inline">
                                        <li><input type="radio" value="Return" name="travelType" {{travelTypeChecked "Return"}}/>&nbsp;&nbsp;Return Trip</li>
                                        <li><input type="radio"  value="Multiple" name="travelType" {{travelTypeChecked "Multiple"}}/>&nbsp;&nbsp;Multiple Trips</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="col-sm-2">
                                <button class="btn btn-danger btn-small mr5 pull-right" id="startProcessing">Reset All</button>
                            </div>-->
                        </div>

                        <hr/>

                        {{#each currentTravelRequest.trips}}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="fromId_{{this.tripIndex}}" class="control-label">From <span class="asterisk important-input">*</span></label>
                                    {{#semanticselect}}
                                    <select id="fromId_{{this.tripIndex}}" name="fromId_{{this.tripIndex}}" style="width: 100%"  class="ui fluid search dropdown form-control" data-live-search="true" >
                                        <option value="None" >None</option>
                                        {{#each travelcityList}}
                                        <option value="{{_id}}" {{fromIdSelected _id ../tripIndex}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="toId_{{this.tripIndex}}" class="control-label">To <span class="asterisk important-input">*</span></label>
                                    {{#semanticselect}}
                                    <select id="toId_{{this.tripIndex}}" name="toId_{{this.tripIndex}}" style="width: 100%" class="ui fluid search dropdown form-control">
                                        <option value="None" >None</option>
                                        {{#each travelcityList}}
                                        <option value="{{_id}}" {{toIdSelected _id ../tripIndex}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-2">
                                <div class="form-group datetimepicker">
                                    <label class="control-label">Departure<span class="asterisk important-input">*</span></label>
                                    <input class="set-due-date form-control " type="text" id="departureDate_{{this.tripIndex}}" name="departureDate_{{this.tripIndex}}" placeholder="Departure Date" value="{{formatDate this.departureDate}}"/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">

                                    <label for="departureTime_{{this.tripIndex}}" class="control-label">Time <span class="asterisk important-input">*</span></label>
                                    {{#semanticselect}}
                                    <select name="departureTime_{{this.tripIndex}}" id="departureTime_{{this.tripIndex}}" style="width: 100%" class="form-control">
                                        <option value="6 AM" {{departureTimeSelected "6 AM" tripIndex}}>6 AM</option>
                                        <option value="7 AM" {{departureTimeSelected "7 AM" tripIndex}}>7 AM</option>
                                        <option value="8 AM" {{departureTimeSelected "8 AM" tripIndex}}>8 AM</option>
                                        <option value="9 AM" {{departureTimeSelected "9 AM" tripIndex}}>9 AM</option>
                                        <option value="10 AM" {{departureTimeSelected "10 AM" tripIndex}}>10 AM</option>
                                        <option value="11 AM" {{departureTimeSelected "11 AM" tripIndex}}>11 AM</option>
                                        <option value="12 PM" {{departureTimeSelected "12 PM" tripIndex}}>12 PM</option>
                                        <option value="1 PM" {{departureTimeSelected "1 PM" tripIndex}}>1 PM</option>
                                        <option value="2 PM" {{departureTimeSelected "2 PM" tripIndex}}>2 PM</option>
                                        <option value="3 PM" {{departureTimeSelected "3 PM" tripIndex}}>3 PM</option>
                                        <option value="4 PM" {{departureTimeSelected "4 PM" tripIndex}}>4 PM</option>
                                        <option value="5 PM" {{departureTimeSelected "5 PM" tripIndex}}>5 PM</option>
                                        <option value="6 PM" {{departureTimeSelected "6 PM" tripIndex}}>6 PM</option>
                                        <option value="6 PM" {{departureTimeSelected "7 PM" tripIndex}}>7 PM</option>
                                        <option value="7 PM" {{departureTimeSelected "8 PM" tripIndex}}>8 PM</option>
                                        <option value="8 PM" {{departureTimeSelected "9 PM" tripIndex}}>9 PM</option>
                                        <option value="9 PM" {{departureTimeSelected "10 PM" tripIndex}}>10 PM</option>
                                        <option value="10 PM" {{departureTimeSelected "11 PM" tripIndex}}>11 PM</option>
                                        <option value="11 PM" {{departureTimeSelected "12 PM" tripIndex}}>12 AM</option>
                                        <option value="1 AM" {{departureTimeSelected "1 AM" tripIndex}}>1 AM</option>
                                        <option value="2 AM" {{departureTimeSelected "2 AM" tripIndex}}>2 AM</option>
                                        <option value="3 AM" {{departureTimeSelected "3 AM" tripIndex}}>3 AM</option>
                                        <option value="4 AM" {{departureTimeSelected "4 AM" tripIndex}}>4 AM</option>
                                        <option value="5 AM" {{departureTimeSelected "5 AM" tripIndex}}>5 AM</option>
                                    </select>
                                    {{/semanticselect}}

                                </div><!-- form-group -->
                            </div>
                            {{#if isReturnTrip}}
                            <div class="col-sm-2">
                                <div class="form-group datetimepicker">
                                    <label class="control-label">Return <span class="asterisk important-input">*</span></label>
                                    <input class="set-due-date form-control " type="text" id="returnDate_{{this.tripIndex}}" name="returnDate_{{this.tripIndex}}" placeholder="Return Date" value="{{formatDate this.returnDate}}"/>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">

                                    <label for="returnTime_{{this.tripIndex}}" class="control-label">Time <span class="asterisk important-input">*</span></label>
                                    <select id="returnTime_{{this.tripIndex}}" name="returnTime_{{this.tripIndex}}" style="width: 100%" class="form-control ">
                                        <option value="6 AM" {{returnTimeSelected "6 AM" tripIndex}}>6 AM</option>
                                        <option value="7 AM" {{returnTimeSelected "7 AM" tripIndex}}>7 AM</option>
                                        <option value="8 AM" {{returnTimeSelected "8 AM" tripIndex}}>8 AM</option>
                                        <option value="9 AM" {{returnTimeSelected "9 AM" tripIndex}}>9 AM</option>
                                        <option value="10 AM" {{returnTimeSelected "10 AM" tripIndex}}>10 AM</option>
                                        <option value="11 AM" {{returnTimeSelected "11 AM" tripIndex}}>11 AM</option>
                                        <option value="12 PM" {{returnTimeSelected "12 PM" tripIndex}}>12 PM</option>
                                        <option value="1 PM" {{returnTimeSelected "1 PM" tripIndex}}>1 PM</option>
                                        <option value="2 PM" {{returnTimeSelected "2 PM" tripIndex}}>2 PM</option>
                                        <option value="3 PM" {{returnTimeSelected "3 PM" tripIndex}}>3 PM</option>
                                        <option value="4 PM" {{returnTimeSelected "4 PM" tripIndex}}>4 PM</option>
                                        <option value="5 PM" {{returnTimeSelected "5 PM" tripIndex}}>5 PM</option>
                                        <option value="6 PM" {{returnTimeSelected "6 PM" tripIndex}}>6 PM</option>
                                        <option value="6 PM" {{returnTimeSelected "7 PM" tripIndex}}>7 PM</option>
                                        <option value="7 PM" {{returnTimeSelected "8 PM" tripIndex}}>8 PM</option>
                                        <option value="8 PM" {{returnTimeSelected "9 PM" tripIndex}}>9 PM</option>
                                        <option value="9 PM" {{returnTimeSelected "10 PM" tripIndex}}>10 PM</option>
                                        <option value="10 PM" {{returnTimeSelected "11 PM" tripIndex}}>11 PM</option>
                                        <option value="11 PM" {{returnTimeSelected "12 PM" tripIndex}}>12 AM</option>
                                        <option value="1 AM" {{returnTimeSelected "1 AM" tripIndex}}>1 AM</option>
                                        <option value="2 AM" {{returnTimeSelected "2 AM" tripIndex}}>2 AM</option>
                                        <option value="3 AM" {{returnTimeSelected "3 AM" tripIndex}}>3 AM</option>
                                        <option value="4 AM" {{returnTimeSelected "4 AM" tripIndex}}>4 AM</option>
                                        <option value="5 AM" {{returnTimeSelected "5 AM" tripIndex}}>5 AM</option>
                                    </select>
                                </div><!-- form-group -->
                            </div><!-- col-sm-12 -->
                            {{/if}}
                        </div>
                        {{#unless isLastLeg this.tripIndex}}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">

                                    <label for="transportationMode_{{this.tripIndex}}" class="control-label">Mode of Transport <span class="asterisk important-input">*</span></label>
                                    {{#semanticselect}}
                                    <select id="transportationMode_{{this.tripIndex}}" name="transportationMode_{{this.tripIndex}}" style="width: 100%" class="ui fluid search dropdown form-control">
                                        <option value="TRAIN" {{transportModeSelected "TRAIN" tripIndex}}>Train</option>
                                        <option value="CAR" {{transportModeSelected "CAR" tripIndex}}>Car</option>
                                        <option value="AIRLINE" {{transportModeSelected "AIRLINE" tripIndex}}>Airline</option>
                                    </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-5">
                                <div class="form-group">

                                    <div style="display: {{isAirModeOfTransport this.tripIndex}}">
                                        <label for="airlineId_{{this.tripIndex}}" class="control-label">Preferred Airline</label>
                                        {{#semanticselect}}
                                        <select id="airlineId_{{this.tripIndex}}" name="airlineId_{{this.tripIndex}}" style="width: 100%" class="ui fluid search dropdown form-control">

                                            {{#each airlineList this.toId}}
                                            <option value="{{_id}}" {{airlineSelected _id ../tripIndex}}>{{name}}</option>
                                            {{/each}}
                                            <option value="None">A third party will cater for my flight</option>
                                        </select>
                                        {{/semanticselect}}
                                    </div>

                                    <div style="display:{{isCarModeOfTransport this.tripIndex}}">
                                        {{#semanticselect}}
                                        <label for="carOption_{{this.tripIndex}}" class="control-label">Car Options</label>
                                        <select id="carOption_{{this.tripIndex}}" name="carOption_{{this.tripIndex}}" style="width: 100%" class="ui fluid search dropdown form-control">
                                            <option value="THIRD_PARTY" {{carOptionSelected "THIRD_PARTY" tripIndex}}>A third party will provide me a car</option>
                                            <option value="OFFICE" {{carOptionSelected "OFFICE" tripIndex}}>I need an office car and driver</option>
                                            <option value="CAR_HIRE" {{carOptionSelected "CAR_HIRE" tripIndex}}>I need a car hire</option>
                                        </select>
                                        {{/semanticselect}}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>

                                    <div class="ckbox ckbox-success" style="display: {{isAirModeOfTransport this.tripIndex}}">
                                        <input type="checkbox" id="provideAirportPickup_{{this.tripIndex}}" name="provideAirportPickup_{{this.tripIndex}}" value="{{this.tripIndex}}" {{provideAirportPickup this.tripIndex}}/>
                                        <label for="provideAirportPickup_{{this.tripIndex}}">I need an advance for airport taxi</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="ckbox ckbox-success">
                                        <input type="checkbox" id="provideGroundTransport_{{this.tripIndex}}" name="provideGroundTransport_{{this.tripIndex}}" value="{{this.tripIndex}}" {{provideGroundTransport this.tripIndex}}/>
                                        <label for="provideGroundTransport_{{this.tripIndex}}">I need an advance for local transportation</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="hotelId_{{this.tripIndex}}" class="control-label">Hotel <span class="asterisk important-input">*</span></label>
                                    {{#semanticselect}}
                                    <select id="hotelId_{{this.tripIndex}}" name="hotelId_{{this.tripIndex}}" style="width: 100%" class="ui fluid search dropdown form-control">
                                        <option value="None">None</option>
                                        {{#each hotelList this.toId}}
                                        <option value="{{_id}}" {{hotelSelected _id ../tripIndex}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                    {{/semanticselect}}
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="hotelRate_{{this.tripIndex}}" class="control-label">Rate per Night</label>
                                    <input type="text" id="hotelRate_{{this.tripIndex}}" class="form-control" name="hotelRate_{{this.tripIndex}}" value="{{this.hotelRate}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label for="destinationCityCurrreny_{{this.tripIndex}}" class="control-label">Curr.</label>
                                    <input type="text" id="destinationCityCurrreny_{{this.tripIndex}}" class="form-control" name="destinationCityCurrreny_{{this.tripIndex}}" value="{{this.destinationCityCurrreny}}" disabled/>
                                </div><!-- form-group -->
                            </div><!-- col-sm-3 -->
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label>My per diem should include:</label>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isBreakfastIncluded_{{this.tripIndex}}" {{isBreakfastIncluded this.tripIndex}} />
                                    <label for="isBreakfastIncluded_{{this.tripIndex}}">Breakfast</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isLunchIncluded_{{this.tripIndex}}" {{isLunchIncluded this.tripIndex}} />
                                    <label for="isLunchIncluded_{{this.tripIndex}}">Lunch</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isDinnerIncluded_{{this.tripIndex}}" {{isDinnerIncluded this.tripIndex}} />
                                    <label for="isDinnerIncluded_{{this.tripIndex}}">Dinner</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="ckbox ckbox-success">
                                    <input type="checkbox" id="isIncidentalsIncluded_{{this.tripIndex}}" {{isIncidentalsIncluded this.tripIndex}} />
                                    <label for="isIncidentalsIncluded_{{this.tripIndex}}">Incidentals</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="text-warning"><small><strong>For example if HSDF is providing any of the meals, then your perdiem should exclude that</strong></small></span>

                            </div>
                        </div>

                        <hr/>
                        <div class="row">
                            {{#if this.provideAirportPickup}}
                            <div class="col-sm-6">
                                <span>Airport Taxi: Origin: <strong>{{formatMoney this.originCityAirportTaxiCost this.originCityCurrreny}}</strong> Destination: <strong>{{formatMoney this.destinationCityAirportTaxiCost this.destinationCityCurrreny}}</strong></span>
                            </div>
                            {{/if}}
                            {{#if this.provideGroundTransport}}
                            <div class="col-sm-6">
                                <span>Ground Transportation: <strong>{{formatMoney this.groundTransportCost this.destinationCityCurrreny}}/day</strong></span>
                            </div>
                            {{/if}}
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span>Per Diem Rate: <strong>{{formatMoney this.perDiemCost this.destinationCityCurrreny}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Days: <strong>{{this.totalDuration}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Per Diem: <strong>{{formatMoney this.totalPerDiem this.destinationCityCurrreny}}</strong></span>
                            </div>
                            <div class="col-sm-3">
                                <span>Total Hotel: <strong>{{formatMoney this.totalHotelCost this.destinationCityCurrreny}}</strong></span>
                            </div>

                        </div>
                        {{/unless}}
                        <hr/>
                        {{/each}}

                        <div class="row">
                            <div class="col-sm-12">
                                <span><strong>Trip Summary</strong></span>
                            </div>
                        </div>
                        <hr/>

                        <div class="row">
                            <div class="col-sm-8">
                                <span>Total Estimated Amount Payable to Employee:</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalEmployeeAmountPayableNGN "NGN"}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalEmployeeAmountPayableUSD "USD"}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <span>Total Estimated Hotel Cost:</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalHotelCostNGN "NGN"}}</span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right">{{formatMoney currentTravelRequest.totalHotelCostUSD "USD"}}</span>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <span><strong>Total Estimated Trip Cost (Excluding Flights/Car Hire):</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right"><strong>{{formatMoney currentTravelRequest.totalTripCostNGN "NGN"}}</strong></span>
                            </div>
                            <div class="col-sm-2">
                                <span class="text-right pull-right"><strong>{{formatMoney currentTravelRequest.totalTripCostUSD "USD"}}</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>

                       <button class="btn btn-success mr5 pull-right" id="new-requisition-create" data-dismiss="modal">Submit for Approval</button>
                         <!--<button class="btn btn-primary mr5 pull-right" id="new-requisition-save-draft">Save Draft</button>-->
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
