/*****************************************************************************/
/* Employees: Style */
/*****************************************************************************/
.employees {
}

.employeesList {
  float:left;
  overflow-y: auto;
  max-height: 500px;
}
