<template name="Employees">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>Employees</li>
                </ul>
                <h4>Employees</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12">
                <h5 class="lg-title mb5">Employees List</h5>
                <p class="mb20 pull-right" id="createEmployee"><a class="btn btn-primary">New Employee</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 employee-filter">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="employee-name-filter" class="control-label">Name</label>
                            <input  type="text" name="employee-name-filter" class="form-control" placeholder="Name" />
                        </div><!-- form-group -->
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Business Unit</label>
                            <input  type="text" name="employee-bu-filter" class="form-control" placeholder="Name" />
                        </div><!-- form-group -->
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Division</label>
                            <input  type="text" name="employee-division-filter" class="form-control" placeholder="Name" />
                        </div><!-- form-group -->
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <input  type="text" name="employee-department-filter" class="form-control" placeholder="Name" />
                        </div><!-- form-group -->
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Position</label>
                            <input  type="text" name="employee-position-filter" class="form-control" placeholder="Name" />
                        </div><!-- form-group -->
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Active</label>
                            <input  type="text" name="employee-active-filter" class="form-control" placeholder="Name" />
                        </div><!-- form-group -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-primary mb60 table-hover">
                        <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Employee Id</th>
                            <th>Surname</th>
                            <th>First Name</th>
                            <th>Other Names</th>
                            <th>Position</th>
                            <th>Date Employed</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each employees}}
                            {{> SingleEmployee data=this index = @index}}
                        {{/each}}
                        </tbody>
                    </table>
                </div><!-- table-responsive -->
                <div class="col-md-12 text-left">
                    <!-- dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls -->
                </div>
            </div>
        </div><!-- row -->

    </div><!-- contentpanel -->
</template>

<template name="SingleEmployee">
    <tr class="pointer">
        <td>{{index}}</td>
        <td>{{data.employeeProfile.employeeId}}</td>
        <td>{{data.profile.lastname}}</td>
        <td>{{data.firstname}}</td>
        <td>{{data.otherNames}}</td>
        <td>{{data.employeeProfile.position}}</td>
        <td>{{data.hireDate}}</td>
        <td>
            <span class="label label-{{activeClass}}">{{data.status}}</span>
        </td>
    </tr>
</template>