/*****************************************************************************/
/* AccountsCreate: Style */
/*****************************************************************************/
.accounts-create {
}

.accounts-create .bg-gray{
    background: #242F38;
}

.accounts-create .nav-tabs{
    visibility: hidden;
}

.accounts-create .text-white{
    color: #fff;
    padding-top: 5px;
}

.accounts-create .panel-body p{
    margin-bottom: 0;
}