/*****************************************************************************/
/* TenantSettings: Style */
/*****************************************************************************/
.tenant-settings {
}

.remove-sign1 {
    color: #c0c0c0;
    cursor: pointer;
}

.remove-sign1:hover {
    color: #999;
}
