<template name="LeaveTypeCreate2">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{modalHeaderTitle}}</h3>
                    </div>

                    <div class="panel-body">
                        {{#if inputErrorMsg}}
                        <div class="alert alert-danger text-center">
                            <p>{{inputErrorMsg}}</p>
                        </div>
                        {{/if}}

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" id="leave-type-name" class="form-control" placeholder="Name" name="name" value="{{name}}"/>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <select name="gender" class="form-control dropdown" id="gender">
                                        <option value="">Select One</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="all">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Maximum duration</label>
                                        <input type="number" id="maximum-duration" class="form-control" name="maximum-duration" value="{{maximumDuration}}" />
                                    </div>
                                </div>                                    
                            </div>

                            <div class="col-sm-3">
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                {{> spinner}}
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary mr5" id="LeaveTypeCreate">Save</button>
                        <button class="btn btn-danger" id="new-leave-type-close" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
