<template name="TravelRequisitionCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Travel Request</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {{#unless Template.subscriptionsReady}}
                            <div class="col-sm-12">
                                {{> spinner}}
                            </div>
                            {{/unless}}
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-sm-12">
                                <label class="control-label" for="unit">Unit</label>
                                <input name="unit" type="text" placeholder="Unit" class="form-control" disabled
                                    value="{{getCurrentUserUnitName}}"/>
                            </div>
                        </div>
                        <br/>

                        {{#each fields}}
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if isEqual this.type "String"}}
                                        <label class="control-label" for="{{dbFieldName}}">
                                            {{label}}
                                            {{#if this.isRequired}}
                                            *
                                            {{/if}}
                                        </label>
                                        <input name="{{dbFieldName}}" type="text" placeholder="{{label}}" class="form-control fieldInputField"/>
                                        <br/>
                                    {{else}}
                                        {{#if isEqual this.type "TextArea"}}
                                            <label class="control-label" for="requisitionReason">
                                                {{label}}
                                                {{#if this.isRequired}}
                                                *
                                                {{/if}}    
                                            </label>
                                            <textarea class="form-control fieldInputField" rows="5" name="{{dbFieldName}}"></textarea>
                                            <br/>
                                            {{else}}
                                            {{#if isEqual this.type "Date"}}
                                                <label class="control-label" for="{{dbFieldName}}">
                                                    {{label}}
                                                    {{#if this.isRequired}}
                                                    *
                                                    {{/if}}        
                                                </label>
                                                {{#datepicker}}
                                                    <input type="text" class="form-control datepicker fieldInputField" name="{{dbFieldName}}" data-field="dateRequired" />
                                                {{/datepicker}}
                                                <br/>
                                            {{else}}
                                                {{#if isEqual this.type "Time"}}
                                                    <label class="control-label" for="{{dbFieldName}}">
                                                        {{label}}
                                                        {{#if this.isRequired}}
                                                        *
                                                        {{/if}}
                                                    </label>
                                                    {{#datetimepicker}}
                                                        <input type="text" class="form-control datetimepicker fieldInputField" name="{{dbFieldName}}" data-field="{{dbFieldName}}" />
                                                    {{/datetimepicker}}
                                                    <br/>
                                                {{else}}
                                                {{/if}}
                                            {{/if}}                                        
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}

                        <div class="row">
                            <div class="col-sm-12">
                                <br/>
                                <label class="control-label" for="requisitionReason"><b>Travel costs</b></label>
                            </div>
                        </div>

                        {{#if currencyEnabled}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="currency">Currency</label>
                                </div>
                                <div class="col-sm-6">
                                    <select name="currency" placeholder="currency"
                                        style="width: 100%" 
                                        class="ui fluid search dropdown form-control currencyField">
                                        <option value="0">No currency selected</option>
                                        {{#each allowedCurrencies}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        {{#if numberDaysEnabled}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="numberOfDays">Number of days</label>
                                </div>
                                <div class="col-sm-6">
                                    <select name="numberOfDays" placeholder="Number of days"
                                        style="width: 100%" 
                                        class="ui fluid search dropdown form-control numberOfDaysField">
                                        <option value="0">None selected</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{/if}}

                        {{#if costCenterEnabled}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="costCenter">Cost-Center</label>
                                </div>
                                <div class="col-sm-6">
                                    <select name="costCenter" placeholder="Cost Center"
                                        style="width: 100%" 
                                        class="ui fluid search dropdown form-control costCenterField">
                                        <option value="0">No cost center selected</option>
                                        {{#each units}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        <hr/>

                        {{#each costs}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="{{dbFieldName}}">{{label}}</label>
                                    </div>
                                    <div class="col-sm-6">
                                        {{#if costHasAllowedValues dbFieldName}}
                                        <select name="{{dbFieldName}}" placeholder="{{label}}"
                                            style="width: 100%" 
                                            class="ui fluid search dropdown form-control costInputField">
                                            <option value="0">No cost value selected</option>
                                            {{#each costAllowedValues dbFieldName}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                        {{else}}
                                            <input name="{{dbFieldName}}" type="text" class="form-control costInputField"
                                                value=""/>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        <hr/>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="totalCost">Amount Non Payable to employee</label>
                                </div>
                                <div class="col-sm-6">
                                    <input name="totalCost" type="text" placeholder="0" class="form-control" disabled
                                        value="{{formatMoneyD amountNonPaybelToEmp}}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="totalCost">Amount Payable to employee: </label>
                                </div>
                                <div class="col-sm-6">
                                    <input name="totalCost" type="text" placeholder="0" class="form-control" disabled
                                        value="{{formatMoneyD amoutPayableToEmp}}"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <label class="control-label" for="totalCost">Total Amount</label>
                                </div>
                                <div class="col-sm-6">
                                    <input name="totalCost" type="text" placeholder="0" class="form-control" disabled
                                        value="{{formatMoneyD totalTripCost}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>

                        <button class="btn btn-danger mr5 pull-right" id="new-requisition-create" data-dismiss="modal">Submit for Approval</button>
                        <button class="btn btn-primary mr5 pull-right" id="new-requisition-save-draft">Save Draft</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
