<template name="LeaveCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Apply for Leave</h3>
                    </div>

                    <div class="panel-body">
                        {{#if inputErrorMsg}}
                        <div class="alert alert-danger text-center">
                            <p>{{inputErrorMsg}}</p>
                        </div>
                        {{/if}}
  
                        <div class="row">
                            <div class="col-sm-3">
                                {{#if leaveInDaysMode}}
                                    <label class="control-label">Start date</label>
                                    {{#datetimepicker startOfToday}}
                                        <input name="startDate" id="startDate" type="text" class="form-control datetimepicker" data-field="startDate" />
                                    {{/datetimepicker}}
                                {{else}}
                                    <label class="control-label">Start Time</label>
                                    {{#datetimepicker startOfToday}}
                                        <input name="startDate" id="startDate" type="text" class="form-control datetimepicker" data-field="startDate" />
                                    {{/datetimepicker}}
                                {{/if}}
                            </div>

                            {{#if leaveInDaysMode}}
                                <div class="col-sm-3">
                                    <label class="control-label">End date</label>
                                    {{#datetimepicker endOfToday}}
                                        <input name="endDate" id="endDate" type="text" class="form-control datetimepicker" data-field="endDate" />
                                    {{/datetimepicker}}
                                </div>
                            {{/if}}

                            <div class="col-sm-3">
                                {{#if leaveInDaysMode}}
                                    <label for="duration" class="control-label">Duration</label>
                                    <input type="text"  class="form-control" name="duration" id="duration" value="" disabled />
                                {{else}}
                                    <label for="duration" class="control-label">Duration (in hours)</label>
                                    <input type="number"  class="form-control" name="duration" id="duration" value="" min="1" max="24" />
                                {{/if}}
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Leave types</label>
                                    <select name="leaveTypes" class="form-control dropdown" id="leaveTypes">
                                        <option value=""></option>
                                        {{#each leaveTypes}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="checkbox" id="allowLeavesInHours" name="allowLeavesInHours" />
                                <label for="allowLeavesInHours" class="control-label">Allow leaves in hours</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label">Leave days left in year: {{numberOfLeaveDaysLeft}}</label>
                            </div>
                        </div>

                        <div class="row">
                            <br/>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description" class="control-label">Description</label>
                                    <textarea rows="3" class="form-control" name="description" id="description" value=""></textarea>
                                </div><!-- form-group -->
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary mr5" id="LeaveCreate">Save</button>
                        <button class="btn btn-danger" id="new-pay-type-close" data-dismiss="modal">Cancel</button>
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
