<template name="EmployeeCreate">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li><a href="">{{name}}</a></li>
                    <li>Employee</li>
                </ul>
                <h4>New Employee</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">


        <div class="row">

            <!-- col-sm-4 col-md-3 -->


            <div class="">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-line">
                    <li class="active"><a href=".personal" data-toggle="tab"><strong>Personal Details</strong></a></li>
                    <li><a href=".nextOfKin" data-toggle="tab"><strong>Next Of Kin</strong></a></li>
                    <li><a href=".employment" data-toggle="tab"><strong>Employment Details </strong></a></li>
                    <li><a href=".payment" data-toggle="tab"><strong>Payment Details</strong></a></li>
                    <li><a href=".payroll" data-toggle="tab"><strong>Payroll Details</strong></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content nopadding noborder">
                    <div class="tab-pane active personal" id="activities">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Personal Details</h4>
                            </div>
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="text-center">
                                                <img src="/images/photos/avatar.jpg" id="profile-img" class="img-thumbnail img-offline img-responsive img-profile" alt=""/>
                                                <br><br>
                                            <span class="btn btn-primary btn-file">
                                                Select Image <input id="uploadBtn" class="center-block" type="file" accept="'image/*'" />
                                            </span><br>
                                                <span id="filename"></span>
                                            </div>
                                            <!-- text-center -->
                                        </div>
                                        <div class="col-md-5">
                                            <div class="">
                                                <label for="employeeId" class="col-sm-4 control-label">Employee ID</label>
                                                <div class="col-sm-8">
                                                    <input name="employeeId" type="text" placeholder="Unique ID" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="firstName" class="col-sm-4 control-label">First Name</label>
                                                <div class="col-sm-8">
                                                    <input name="firstName" type="text" placeholder="First Name" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                                                <div class="col-sm-8">
                                                    <input name="lastName" type="text" placeholder="Last Name" class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="">
                                                <label for="otherNames" class="col-sm-4 control-label">Other Names</label>
                                                <div class="col-sm-8">
                                                    <input name="otherNames" type="text" placeholder="Last Name" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="employee-address" class="col-sm-4 control-label">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea name="address" id="employee-address" class="form-control" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="">
                                                <label class="col-sm-4 control-label">Email</label>
                                                <div class="col-sm-8">
                                                    <input name="email" type="text" placeholder="Email" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label class="col-sm-4 control-label">Date of Birth</label>
                                                <div class="col-sm-8">
                                                    {{#datepicker dateOfBirth}}
                                                        <input type="text" class="form-control datepicker" data-field="dateOfBirth" />
                                                    {{/datepicker}}
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="gender" class="col-sm-4 control-label">Gender</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control selectpicker" data-live-search="true" name="gender">
                                                        <option value="Male" selected>Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="maritalStatus" class="col-sm-4 control-label">Marital Status</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control selectpicker" data-live-search="true" name="mar italStatus">
                                                        <option value="Male" selected>Single</option>
                                                        <option value="Female">Maried</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for="employee-phone" class="col-sm-4 control-label">Phone Number</label>
                                                <div class="col-sm-8">
                                                    <input name="phone" type="tel" id="employee-phone" placeholder="Phone Number" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label class="col-sm-4 control-label">State</label>
                                                <div class="col-sm-8">
                                                    <select name="state" class="form-control selectpicker" data-live-search="true">
                                                        <option value="Abia">Abia</option>
                                                        <option value="Adamawa">Adamawa</option>
                                                        <option value="Akwa-Ibom">Akwa-Ibom</option>
                                                        <option value="Anambra">Anambra</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- panel-body -->
                        </div>
                        <!-- panel -->

                    </div>
                    <!-- tab-pane -->

                    <div class="tab-pane nextOfKin" id="nextOfKin">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Next of Kin/Guarantor</h4>
                            </div>
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">
                                    <div class="form-group">
                                        <label for="employee-guarantor-name" class="col-sm-4 control-label">Full
                                            Name</label>
                                        <div class="col-sm-4">
                                            <input name="guarantor.fullName" id="employee-guarantor-name" type="text" placeholder="Guarantor's Full Name" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="employee-guarantor-email"
                                               class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-4">
                                            <input name="guarantor.email" id="employee-guarantor-email" type="email" placeholder="Guarantor's Email" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-guarantor-phone" class="col-sm-4 control-label">Phone
                                            Number</label>
                                        <div class="col-sm-4">
                                            <input name="guarantor.phone" id="employee-guarantor-phone" type="tel" placeholder="Guarantor's Phone" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="employee-guarantor-address"
                                               class="col-sm-4 control-label">Address</label>
                                        <div class="col-sm-4">
                                            <textarea name="guarantor.address" id="employee-guarantor-address" class="form-control" rows="5"></textarea>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="employee-guarantor-city" class="col-sm-4 control-label">City</label>
                                        <div class="col-sm-4">
                                            <input name="guarantor.city" id="employee-guarantor-city" type="text" placeholder="Guarantor's City" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">State</label>
                                        <div class="col-sm-4">
                                            <select name="guarantor.state" class="form-control selectpicker" data-live-search="true">
                                                <option value="Abia">Abia</option>
                                                <option value="Adamawa">Adamawa</option>
                                                <option value="Akwa-Ibom">Akwa-Ibom</option>
                                                <option value="Anambra">Anambra</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- panel-body -->
                        </div>
                        <!-- panel -->
                    </div>
                    <!-- tab-pane -->

                    <div class="tab-pane employment" id="followers">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Employment Details</h4>
                            </div>
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Position</label>
                                        <div class="col-sm-4">
                                            <select name="position" style="width: 100%" class="form-control">
                                                <option value="option1">option1</option>
                                                <option value="option2">option2</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <span>Use Org Reassignment</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Hire Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker hireDate}}
                                                <input type="text" class="form-control datepicker" data-field="hireDate" />
                                            {{/datepicker}}
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Confirmation Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker confirmationDate}}
                                                <input type="text" class="form-control datepicker" data-field="confirmationDate" />
                                            {{/datepicker}}
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-4">
                                            <select name="status" style="width: 100%" class="form-control">
                                                <option value="option1">option1</option>
                                                <option value="option2">option2</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Termination/Resignation Date</label>
                                        <div class="input-group col-sm-4" style="padding-left:10px;padding-right:10px">
                                            {{#datepicker terminationDate}}
                                                <input type="text" class="form-control datepicker" data-field="terminationDate" />
                                            {{/datepicker}}
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- panel-body -->
                        </div>
                        <!-- panel -->
                    </div>
                    <!-- tab-pane -->

                    <div class="tab-pane payment" id="following">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Payment Details</h4>
                            </div>
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Payment Method</label>
                                        <div class="col-sm-4">
                                            <select name="paymentMethod" style="width: 100%" class="form-control">
                                                <option value="option1">option1</option>
                                                <option value="option2">option2</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Bank</label>
                                        <div class="col-sm-4">
                                            <select name="bank" style="width: 100%" class="form-control">
                                                <option value="option1">option1</option>
                                                <option value="option2">option2</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Bank Account No.</label>
                                        <div class="col-sm-4">
                                            <input name="paymentDetails.accountNumber" type="text" placeholder="Account Number" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Bank Account Name</label>
                                        <div class="col-sm-4">
                                            <input name="paymentDetails.accountName" type="text" placeholder="Account Name" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Pension Manager</label>
                                        <div class="col-sm-4">
                                            <select name="pensionmanager" style="width: 100%" class="form-control">
                                                <option value="option1">option1</option>
                                                <option value="option2">option2</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">RSA Pin</label>
                                        <div class="col-sm-4">
                                            <input name="paymentDetails.RSAPin" type="text" placeholder="RSA Pin" class="form-control"/>
                                        </div>
                                        <div class="col-sm-4">
                                            &nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div><!-- panel-body -->
                        </div><!-- panel -->

                    </div><!-- tab-pane -->

                    <div class="tab-pane payroll" id="events">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Payroll Details</h4>
                            </div>
                            <!-- panel-heading -->
                            <div class="panel-body nopadding">
                                <form class="form-horizontal form-bordered">

                                    <div class="form-group">

                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>&nbsp;Wages</h6>
                                            </div>
                                            <div class="col-sm-12">

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-sm-4 text-right">
                                                        <span class="help-block"><a class="fa fa-plus pointer" style="vertical-align:middle;" id="addWage">&nbsp;[add wage]</a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>&nbsp;Benefits</h6>
                                            </div>
                                            <div class="col-sm-12">
                                                <!-- Enter blase template to loop through Employee benefits-->

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-sm-4 text-right">
                                                        <span class="help-block"><a id="addBenefit" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add benefit]</a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>&nbsp;Deductions</h6>
                                            </div>
                                            <div class="col-sm-12">

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>

                                                    <div class="col-sm-4 text-right">
                                                        <span class="help-block"><a id="addDeduction" class="fa fa-plus pointer" style="vertical-align:middle;">&nbsp;[add deduction]</a></span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5><a class="pointer" id="prepareSummary" data-toggle="modal" data-target=".payroll-summary">View Payroll Summary</a></h5>
                                            </div>
                                            <div class="col-sm-6">
                                                <h5 class="text-right"><a class="pointer" data-toggle="modal" data-target=".restore-removed">Restore</a></h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <ul class="list-unstyled wizard">
                                                <li class="pull-right">
                                                    <button type="button" class="btn btn-primary" id="createEmployee">Save</button>
                                                </li>
                                            </ul>
                                        </div><!-- col-md-12 -->
                                    </div>
                                </form>
                            </div><!-- panel-body -->
                        </div><!-- panel -->
                    </div><!-- tab-pane -->

                </div><!-- tab-content -->

            </div><!-- col-sm-9 -->

        </div><!-- row -->

    </div><!-- contentpanel -->
</template>
