/*****************************************************************************/
/* ProfileDetail: Style */
/*****************************************************************************/
.profile-detail {
}

.permissions-list{
    list-style: none;
    padding-left: 0;
}

.permissions-list li{
    display: inline;
}

.profile-detail  .nav-tabs{
    margin-bottom: 30px;
}

.profile-detail  .onoffswitch-edit {
    position: relative;
    width: 36px;
    top: -10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.profile-detail  .media-middle{
    padding-right: 30px;
}