<template name="ProfileDetail">
  <div class="profile-detail">
      <div class="container-fluid">
          <section class="row content-header">
              <div class="container-fluid">
                  <div class="col-sm-6">
                      <h1 class="pull-left">
                          Profile
                      </h1>
                  </div>
                  <div class="col-sm-6 hidden-xs">
                      <ol class="breadcrumb">
                          <li><a href="{{pathFor "home"}}"><i class="glyphicon icon-settings"></i>Home</a></li>
                          <li class="active">Profile</li>
                      </ol>
                  </div>
              </div>
              <div class="sub-content-header">
                  <div class="container-fluid">
                      <div class="col-sm-12">
                          <div class="pull-right">
                              <a href="{{pathFor "profile.edit" _id=_id}}" class="btn btn-info">Edit</a>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

          <div class="col-sm-12">

              <section class="content sub-content">

                  <div class="box box-lg panel panel-default">
                      <div class="panel-body">
                          <form class="form-horizontal form-empty">
                              <div class="col-sm-12 col-md-3">
                                  <div class="avatar text-center">
                                      {{#if avatar}}
                                          <img src="{{avatar.url store='avatarsLarge' }}" class="img-circle" id="avatar-image" /><br/>
                                      {{ else }}
                                          <img src="/admin/img/avatar.png" class="img-circle" id="avatar-image" /><br/>
                                      {{/if}}
                                  </div>
                              </div>
                              <div class="col-sm-12 col-md-3 col-lg-3">
                                  <div class="form-group">
                                      <label class="col-sm-6 control-label">Full Name</label>

                                      <div class="col-sm-6">
                                          <p class="form-control-static">
                                              {{profile.fullName}}
                                          </p>
                                      </div>

                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-6 control-label">Email</label>
                                      <div class="col-sm-6">
                                          <p class="form-control-static">
                                              {{email}}
                                          </p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-6 control-label">Sales Code</label>

                                      <div class="col-sm-6">
                                          <p class="form-control-static">
                                              {{#if assigneeCode }}
                                                  {{assigneeCode}}
                                              {{else}}
                                                  <span class="text-muted">None</span>
                                              {{/if}}

                                          </p>
                                      </div>

                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12">
                                  <div class="form-group">
                                      <label class="col-sm-6 control-label">Username</label>

                                      <div class="col-sm-6">
                                          <p class="form-control-static">
                                              {{#if username }}
                                                  {{username}}
                                              {{else}}
                                                  <span class="text-muted">None</span>
                                              {{/if}}
                                          </p>
                                      </div>

                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-6 control-label">Work Phone</label>
                                      <div class="col-sm-6">
                                          <p class="form-control-static">
                                              {{#if profile.workPhone}}
                                                  {{profile.workPhone}}
                                              {{else}}
                                                  <span class="text-muted">None</span>
                                              {{/if}}
                                          </p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-6 control-label">Mobile Phone</label>
                                      <div class="col-sm-6">
                                          <p class="form-control-static">
                                              {{#if profile.homePhone}}
                                                  {{profile.homePhone}}
                                              {{else}}
                                                  <span class="text-muted">None</span>
                                              {{/if}}
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          <div class="">
                              <p class="lead text-uppercase">Permissions</p>

                              {{#if manageOrders}}
                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          Manage Orders
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to view, create, edit and manage orders for the selected locations. Below are the list of selected locations assigned</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group manageOrdersR">
                                          {{#each manageOrders}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if approveOrders}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Approve Orders
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to approve orders for the selected locations. Below are the list of selected locations assigned</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group approveOrdersR">
                                          {{#each approveOrders}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}


                              {{#if approveOrderTypes}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Approve Order Types
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to approve orders for the selected order types. Below are the list of selected order types assigned</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group approveOrdersR">
                                          {{#each approveOrderTypes}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if viewOrders}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          View Orders
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to view orders for the selected locations.
                                              Below are the list of selected locations assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group viewOrdersR">
                                          {{#each viewOrders}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if manageReturns}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Manage Return Orders
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to create and view return orders for the selected locations.
                                              Below are the list of selected locations assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group manageReturnOrdersR">
                                          {{#each manageReturns}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if viewReturns}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          View Return Orders
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to  view return orders for the selected locations.
                                              Below are the list of selected locations assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group manageReturnOrdersR">
                                          {{#each viewReturns}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if approveReturns}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Approve Return Orders
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to view  and approve return orders for the selected locations.
                                              Below are the list of selected locations assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group approveReturnOrdersR">
                                          {{#each approveReturns}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if manageInvoices}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Manage Invoices
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to create invoices for the selected locations. Below are the list of selected locations assigned</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group approveOrdersR">
                                          {{#each manageInvoices}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if viewInvoices}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          View Invoices
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to view invoices for the selected locations.
                                              Below are the list of selected locations assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group viewOrdersR">
                                          {{#each viewInvoices}}
                                              <li class="list-group-item">
                                                  {{label this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if manageCustomers}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Maintain Customers
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to view, edit and create only customers by selected customer group
                                              Below are the list of selected groups assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group manageCustomersR">
                                          {{#each manageCustomers}}
                                              <li class="list-group-item">
                                                  {{customerGroup}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if viewCustomers}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          View Customers
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">This permission enables the user to view only customers by selected customer group
                                              Below are the list of selected groups assigned.</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group manageCustomersR">
                                          {{#each viewCustomers}}
                                              <li class="list-group-item">
                                                  {{customerGroup}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if promotionsPermissions}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Promotions
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">These permissions give the user full access to selected roles</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group globalR">
                                          {{#each promotionsPermissions}}
                                              <li class="list-group-item">
                                                  {{permissionLabel this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if rebatesPermissions}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Rebates
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">These permissions give the user full access to selected roles</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group globalR">
                                          {{#each rebatesPermissions}}
                                              <li class="list-group-item">
                                                  {{permissionLabel this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}

                              {{#if globalPermissions}}
                                  <div class="panel panel-default margin-top10">
                                      <div class="panel-heading">
                                          Global Permissions
                                      </div>

                                      <div class="panel-body">
                                          <p class="text-muted">These permissions give the user system-wide access</p>
                                      </div>

                                      <!-- List group -->
                                      <ul class="list-group globalR">
                                          {{#each globalPermissions}}
                                              <li class="list-group-item">
                                                  {{permissionLabel this}}
                                              </li>
                                          {{/each}}
                                      </ul>
                                  </div>
                              {{/if}}
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                          <div>
                              <p class="lead text-uppercase">Notification Preferences</p>
                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="orderApprovals" class="onoffswitch-checkbox"
                                                 checked={{notifications.orderApprovals}} id="orderApprovals" data-field="orderApprovals">
                                          <label class="onoffswitch-label" for="orderApprovals"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Order Approvals Notifications</h4>
                                      <p class="text-muted">Receive email alerts when an order has been approved</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="orderCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.orderCreated}} id="orderCreated" data-field="orderCreated">
                                          <label class="onoffswitch-label" for="orderCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Order Created Notifications</h4>
                                      <p class="text-muted"> Receive email alerts when an order in you assigned location is created or requires approval</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="orderUpdated" class="onoffswitch-checkbox"
                                                 checked={{notifications.orderUpdated}} id="orderUpdated" data-field="orderUpdated">
                                          <label class="onoffswitch-label" for="orderUpdated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Order Updated Notifications</h4>
                                      <p class="text-muted">Receive email alerts when an order in you assigned location is updated</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="orderStatusChanged" class="onoffswitch-checkbox"
                                                 checked={{notifications.orderStatusChanged}} id="orderStatusChanged" data-field="orderStatusChanged">
                                          <label class="onoffswitch-label" for="orderStatusChanged"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Order Status Changed</h4>
                                      <p class="text-muted"> Receive email alerts when an order status changes</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="orderCommentsCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.orderCommentsCreated}} id="orderCommentsCreated" data-field="orderCommentsCreated">
                                          <label class="onoffswitch-label" for="orderCommentsCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Order Comments Notifications</h4>
                                      <p class="text-muted">Receive email alerts when an order in you assigned location receives a new comment</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="orderShipped" class="onoffswitch-checkbox"
                                                 checked={{notifications.orderShipped}} id="orderShipped" data-field="orderShipped">
                                          <label class="onoffswitch-label" for="orderShipped"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Order Shipment Notifications</h4>
                                      <p class="text-muted">Receive email alerts when an order you created or assigned to you receives a shipment</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="returnOrderCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.returnOrderCreated}} id="returnOrderCreated" data-field="returnOrderCreated">
                                          <label class="onoffswitch-label" for="returnOrderCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Return Order Created Notifications</h4>
                                      <p class="text-muted">Receive email alerts when a return order is created</p>
                                  </div>
                              </div>


                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="returnOrderApprovals" class="onoffswitch-checkbox"
                                                 checked={{notifications.returnOrderApprovals}} id="returnOrderApprovals" data-field="returnOrderApprovals">
                                          <label class="onoffswitch-label" for="returnOrderApprovals"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Return Order Approvals Notifications</h4>
                                      <p class="text-muted">Receive email alerts when a return order requires your approval.</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="invoiceCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.invoiceCreated}} id="invoiceCreated" data-field="invoiceCreated">
                                          <label class="onoffswitch-label" for="invoiceCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Invoice Notifications</h4>
                                      <p class="text-muted"> Receive email alerts when a new invoice is created.</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="promotionsCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.promotionsCreated}} id="promotionsCreated" data-field="promotionsCreated">
                                          <label class="onoffswitch-label" for="promotionsCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Promotions Created Notifications</h4>
                                      <p class="text-muted">Receive email alerts when a new promotion is created.</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="rebatesCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.rebatesCreated}} id="rebatesCreated" data-field="rebatesCreated">
                                          <label class="onoffswitch-label" for="rebatesCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Promotions Rebates Created Notifications</h4>
                                      <p class="text-muted">Receive email alerts when a new rebate is created.</p>
                                  </div>
                              </div>

                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="promotionApproved" class="onoffswitch-checkbox"
                                                 checked={{notifications.promotionApproved}} id="promotionApproved" data-field="promotionApproved">
                                          <label class="onoffswitch-label" for="promotionApproved"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Promotions Approval Notifications</h4>
                                      <p class="text-muted">Receive email alerts when a promotion has been approved.</p>
                                  </div>
                              </div>


                              <div class="media">
                                  <div class="media-left media-middle">
                                      <div class="onoffswitch-edit">
                                          <input type="checkbox" name="paymentCreated" class="onoffswitch-checkbox"
                                                 checked={{notifications.paymentCreated}} id="paymentCreated" data-field="paymentCreated">
                                          <label class="onoffswitch-label" for="paymentCreated"></label>
                                      </div>
                                  </div>
                                  <div class="media-body">
                                      <h4 class="media-heading">Payments Notifications</h4>
                                      <p class="text-muted">Receive email alerts when a payment has been received or created.</p>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </section>

          </div>

      </div>
  </div>
</template>
