<template name="GlobalSearchCustomerEntry">
    <div class="global-search-customer-entry">
        <div class="thumbnail-wrapper d48 circular bg-success-dark text-white inline m-t-10">
            <div>
                <i class="glyphicon icon-user"></i>
            </div>
        </div>
        <div class="p-l-10 inline p-t-5">
            <h5 class="m-b-5">
                <span class="semi-bold result-name">
                    {{#linkTo route="distributors.detail" class="view-search-document" _id=_id}}{{name}}{{/linkTo}}
                </span>
                <span class="small">{{customerNumber}}</span>
            </h5>
            {{#if group}}
                <p class="hint-text small">{{group.name}}</p>
            {{else}}
                <p class="hint-text small">Unspecified.</p>
            {{/if}}
        </div>
    </div>
</template>
