<template name="EmployeeLevelsCreate">
    <div class="modal fade add-hotel" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{#if edit}} Edit Employees Level - {{hotel}} {{else }}New Employees Level{{/if}}</h3>
                    </div>
                    <div class="panel-body">
                        {{#unless Template.subscriptionsReady}}
                        <div class="row">
                            <div class="col-sm-12">
                                {{> spinner}}
                            </div>
                        </div>
                        {{/unless}}
            
                        <div class="row">
                            <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name" class="control-label">Name <span class="asterisk important-input">*</span></label>
                                        <input type="text" name="grade-name" id="grade-name" class="form-control" placeholder="Name" ng-model="name" value="{{employeeLevels.name}}"/>
                                    </div>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="numberOfApprovals" class="control-label">Number of Approvals<span class="asterisk important-input">*</span></label>
                                    <input type="number" min="1" name="numberOfApprovals" class="form-control" placeholder="Number Of Approvals" ng-model="numberOfApprovals" value="{{employeeLevels.numberOfApprovals}}" />
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-6">
                                <label>&nbsp;</label>
                                <div class="ckbox ckbox-danger">
                                    <input type="checkbox" id="isInternational" name="isInternational" checked="{{checked 'isInternational'}}"/>
                                    <label for="isInternational">is international</label>
                                </div>
                            </div> -->
                            
                            <!-- <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Staff Level<span class="asterisk important-input">*</span></label>
                                    <select  name="level" class="form-control dropdown" >
                                       
                                        <option value="Level 1" {{selected "level" "Level 1" }}>Level 1</option>
                                        <option value="Level 2" {{selected "level" "Level 2" }}>Level 2</option>
                                        <option value="Level 3" {{selected "level" "Level 3" }}>Level 3</option>
                                        <option value="Level 4" {{selected "level" "Level 4" }}>Level 4</option>
                                        <option value="Level 5" {{selected "level" "Level 5" }}>Level 5</option>
                                    </select>
                                </div>
                            </div> -->

                            <!-- <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Mode of Transportation<span class="asterisk important-input">*</span></label>
                                    <select  name="transportationMode" class="form-control dropdown" >
                                       
                                        <option value="AIR" {{selected "transportationMode" "AIR" }}>AIR</option>
                                        <option value="LAND" {{selected "transportationMode" "LAND" }}>LAND</option>
                                       
                                    </select>
                                </div>
                            </div> -->

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <span class="text-warning"><small><strong>Add the employee grading system below.</strong></small></span>
                            </div>
                        </div>
                        <hr/>
    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="grade-label" class="control-label">Label <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="grade-label" id="grade-label" class="form-control" placeholder="Grade" ng-model="name" value="{{employeeLevels.label}}"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="grade-code" class="control-label">Code <span class="asterisk important-input">*</span></label>
                                    <input type="text" name="grade-code" id="grade-code" class="form-control" placeholder="grade-101" ng-model="name" value="{{employeeLevels.code}}"/>
                                </div>
                            </div>
                        </div>
                        
                        {{#if errorMessage}}
                          <p class="text-center error">{{errorMessage}}</p>
                        {{/if}}
                        
                    </div>
                    <div class="panel-footer">
                        <button type="reset" class="btn btn-danger" id="new-hotel-close" data-dismiss="modal">Cancel</button>
                        {{#unless edit}}
                            <button class="btn btn-primary mr5" id="save">Save</button>
                        {{else}}
                            <button class="btn btn-primary mr5" id="update">Update</button>
                        {{/unless}}
                        {{#if edit}}<button type="reset" class="btn btn-danger pull-right" id="deleteApproval">Delete</button>{{/if}}
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
