/*****************************************************************************/
/* DistributorsGroupCreate: Style */
/*****************************************************************************/
.distributors-group-create {
}

.distributors-group-create .bg-gray {
    background: #242F38;
}

.distributors-group-create .nav-tabs {
    visibility: hidden;
}

.distributors-group-create .text-white {
    color: #fff;
    padding-top: 5px;
}

.distributors-group-create .panel-body p {
    margin-bottom: 0;
}