<template name="DistributorsGroupCreate">
  <div class="distributors-group-create">

      <div class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">

                  <div class="modal-header">
                      <h4 class="modal-title">Create new Customer Group</h4>
                  </div>
                  <div class="modal-body">
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane fade in active" id="basic">
                              <form class="form-horizontal">
                                  <div class="form-group">
                                      <label for="new-customer-group-name" class="col-sm-3 control-label text-muted">Group Name</label>
                                      <div class="col-sm-9">
                                          <input type="text" autocomplete="off" class="form-control" id="new-customer-group-name" placeholder="Group Name" name="new-customer-group-name">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="new-customer-group-code" class="col-sm-3 control-label text-muted">Group Code</label>
                                      <div class="col-sm-9">
                                          <input type="text" autocomplete="off" class="form-control" id="new-customer-group-code" placeholder="Group Code" name="new-customer-group-code">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-sm-3 control-label text-muted">Pickup</label>
                                      <div class="col-sm-9">
                                          <div class="onoffswitch-edit">
                                              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked={{customerGroup.isPickupDefault}}>
                                              <label class="onoffswitch-label" for="myonoffswitch"></label>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer bg-gray">
                      <button href="#" role="tab" data-toggle="tab" class="btn btn-success save-user ladda-button" id="save-customer-group" {{enableSubmit}}><span class="ladda-label">Save</span></button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  </div>

              </div>
          </div>
      </div>

  </div>
</template>
