<template name="PayrunNew">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-credit-card"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{business.name}}</li>
                    <li>New Pay Run</li>
                </ul>
                <h4>New Pay Run</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12" ng-if="preSelect">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns"></div><!-- panel-btns -->
                        <h4 class="panel-title">Payment Processing & Simulation</h4>
                    </div><!-- panel-heading -->
                    <div class="panel-body">
                        {{#if nopayresult}}
                            <div class="row">
                            <div class="col-md-12 text-center">
                                <p>
                                    <b>This option allows you to pay a list of selected employees from a pay Grade by selecting the Period.</b>
                                </p>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="text-danger">
                                    Note: Payments can only be processed for Periods that are open for payments. You can run Simulation for other periods
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-3 text-right"><b>Compute payment for:</b></div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <select name="paymentPeriod.month" class="form-control dropdown" style="width: 100%">
                                                                {{#each month}}
                                                                    <option value="{{period}}">{{name}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div><!-- form-group -->
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <select name="paymentPeriod.year" class="form-control dropdown" style="width: 100%">
                                                                {{#each year}}
                                                                    <option value="{{this}}">{{this}}</option>
                                                                {{/each}}
                                                            </select>
                                                        </div><!-- form-group -->
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 text-right"><b>Select Employee(s) : </b></div>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            {{#semanticselect}}
                                                                <select name="employee" multiple="" style="width: 100%" class="ui fluid search dropdown form-control">
                                                                    <option value="">Employees</option>
                                                                    {{#each employees}}
                                                                        <option value="{{_id}}">{{employeeProfile.employeeId}} - {{profile.fullName}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            {{/semanticselect}}

                                                        </div><!-- form-group -->
                                                    </div>
                                                </div>
                                                {{#if showPayGrade}}
                                                <div class="row">
                                                    <div class="col-md-3 text-right"><b>Select Pay Grade(s) : </b></div>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <ul class="list-inline">
                                                                {{#each paygrades}}
                                                                    <li><input type="checkbox" name="paygrades" id="{{_id}}"/>{{code}}</li>
                                                                {{/each}}
                                                            </ul>
                                                        </div><!-- form-group -->
                                                    </div>
                                                </div>
                                                {{/if}}

                                                <div class="row">
                                                    <div class="col-md-3 text-right"><b>Include Other Pay(s) : </b></div>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <ul class="list-inline">
                                                                <li><input type="checkbox" id="annual-pay-selection" name="annualPay" />Annual Pay</li>
                                                            </ul>
                                                        </div><!-- form-group -->
                                                    </div>
                                                </div>

                                                {{#if showAnnualPay}}
                                                    <div class="row">
                                                        <div class="col-md-3 text-right"><b>Select Payments to be Included : </b></div>
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <ul class="panel-body list-group nopadding">
                                                                    {{#each annualPay }}
                                                                        <li class="list-group-item">
                                                                            <div class="ckbox ckbox-default">
                                                                                <input type="checkbox" id="{{_id}}" name="selectAnnual" class="payment">
                                                                                <label for="{{_id}}">{{code}} - {{title}}</label>
                                                                            </div>
                                                                        </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div><!-- form-group -->
                                                        </div>
                                                    </div>
                                                {{/if}}

                                                <div class="row">
                                                    <div class="col-md-3 text-right"><b>Run Type: </b></div>
                                                    <div class="col-md-9">
                                                        <div class="form-group">
                                                            <ul class="list-inline">
                                                                <li><input type="radio" value="Simulation" name="runtype" />Simulation</li>
                                                                <li><input type="radio"  value="LiveRun" name="runtype"/>Live Run</li>
                                                            </ul>
                                                        </div><!-- form-group -->
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">&nbsp;</div>
                                                    <div col-md-9>
                                                        <button class="btn btn-primary payButton" id="startProcessing">Process Payrun</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- panel -->
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                        {{ else }}
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="lg-title mb5">List of Processed Employees</h5>
                                    <p class="mb20">Tha table below shows a list of processed employees You can View the Log or payslip of any given employee.</p>

                                    {{#if processingError}}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <strong>Payment Processing Error!</strong>
                                        Please note <a href="" class="alert-link">Payroll Results were not saved.</a>
                                        There are processing Errors for some employees, Please Correct and rerun.
                                    </div>
                                    {{else}}
                                        <div class="alert alert-success">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <strong>Payment Processing Complete!</strong> Please note <a href="" class="alert-link">Payroll Result Saved</a> For processed employees.
                                        </div>
                                    {{/if}}
                                    <div class="table-responsive">
                                        <table class="table table-hidaction table-hover mb30">
                                            <thead>
                                            <tr>
                                                <th>Employee ID</th>
                                                <th>Full Name</th>
                                                <th>Pay Grade</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#each employeeResult}}
                                                {{> ResultEntry this}}
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->
                                </div>
                            </div>
                        {{/if}}
                        <div class="row" id="spinner">
                        </div>
                    </div>
                </div><!-- panel -->
            </div>
        </div>
    </div>
</template>
