<template name="ResultEntry">
    <tr>
        <td>1</td>
        <td>{{this.payslip.employee.employeeId}}</td>
        <td>{{this.payslip.employee.fullname}}</td>
        <td>{{this.payslip.employee.grade}}</td>
        <td class="table-action-hide"><i class="fa  fa-check-square-o"></i></td>
        <td class="table-action">
            <a href="" data-toggle="tooltip" title="View Log" class="log tooltips"><i class="fa fa-folder-open"></i>View Processing Log</a> |
            <a href="" data-toggle="tooltip" title="Payslip" class="payslip tooltips"><i class="fa fa-file-text-o"></i>View Payslip</a>
        </td>
    </tr>

</template>
