<template name="EntityCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Entity</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="parent" class="control-label">Selected Object</label>
                                    <input name="object" type="text" value="{{parentName}}" id="node-object" class="form-control" disabled />
                                </div><!-- form-group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="new-entity-name" class="control-label">Name</label>
                                    <input name="name" type="text" id="new-entity-name" placeholder="Object Name" class="form-control" />
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select name="status" class="form-control">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>

                                    </select>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Level</label> <br />
                                    <label class="control-label radio-inline"><input type="radio" name="level" value="sibling" {{checked}}>same level</label>
                                    <label class="control-label radio-inline"><input type="radio" name="level" value="child" {{checked}}>Child</label>
                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Node Type</label>
                                    <select name="otype" id="otype" class="form-control">
                                        <option value="Unit">Unit</option>
                                        <option value="Position">Position</option>
                                        <option value="Job">Job</option>
                                        <option value="Location">Location</option>
                                    </select>
                                </div><!-- form-group -->
                            </div><!-- col-sm-12 -->
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary mr5 {{disabled}}" id="createEntity">{{#if edit}}Update{{else}}Save{{/if}}</button>
                        <button type="reset" class="btn btn-danger" id="new-pay-type-close" data-dismiss="modal">Cancel</button>
                        {{#if edit}}<button type="reset" class="btn btn-danger pull-right" id="deleteEntity">Delete</button>{{/if}}
                    </div><!-- panel-footer -->
                </div>
            </div>
        </div>
    </div>
</template>
