<template name="header">
    <div class="header-left image">
        <!--<a class="logo white">
            <span class="login-header">Bulk</span><span class="login-small-header">Pay</span>
        </a>-->

        {{#if businessUnitLogoUrl}}
            {{#if includeTripText}}
                <a class="logo white" style="display: inline-flex; justify-content: center; align-items: center;">
                    <img src="{{businessUnitLogoUrl}}" class="img-responsive mb10" alt="" style="height: 60px;margin: 0;margin-bottom: -31px; max-width: 150px;object-fit: scale-down;"/>
                    <span class="login-small-header" style="margin-bottom: -40px;">TRIPS</span>
                </a>
            {{else}}
                <div class="trick"></div>
                <img src="{{businessUnitLogoUrl}}" class="img-responsive mb10" alt="" style="height: 60px; position: absolute; top: 0px; height: 60px;margin: 0;margin-bottom: -31px; max-width: 150px;object-fit: scale-down;"/>
            {{/if}}
        {{else}}
            <a class="logo white" style="display: inline-flex; justify-content: center; align-items: center;">
                <!-- <span class="login-header">Hub825</span> -->
                <img src="https://res.cloudinary.com/deqt3envc/image/upload/v1631529352/logo-dark.png" class="img-responsive mb10" alt="" style="height: 60px;margin: 0;margin-bottom: -31px; max-width: 150px;object-fit: scale-down;"/>
                <span class="login-small-header" style="margin-bottom: -40px;">TRIPS</span>
            </a>
        {{/if}}

        <div class="pull-right">
            <!--<a href="" class="menu-collapse" data-toggle="collapse" data-target=".side-bar">
                <i class="fa fa-bars"></i>
            </a>-->
            {{#if isOnMobile}}
            <a href="" class="menu-collapse" id="navigationModal">
                <i class="fa fa-bars"></i>
            </a>
            {{/if}}
        </div>
    </div><!-- header-left -->

    <div class="header-right">

        <div class="pull-right">
            <!--<form class="form form-search" action="search-results.html">-->
               <!--<input type="search" class="form-control" placeholder="Search"/>-->
           <!--</form>-->

            <!--<div class="btn-group btn-group-list btn-group-notification">-->
                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="fa fa-bell-o"></i>-->
                    <!--<span class="badge">5</span>-->
                <!--</button>-->
                <!--<div class="dropdown-menu pull-right">-->
                    <!--<a href="" class="link-right"><i class="fa fa-search"></i></a>-->
                    <!--<h5>Notification</h5>-->
                    <!--<ul class="media-list dropdown-list">-->
                        <!--<li class="media">-->
                            <!--<img class="img-circle pull-left noti-thumb" src="/images/photos/user1.png" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<strong>Nusja Nawancali</strong> likes a photo of you-->
                                <!--<small class="date"><i class="fa fa-thumbs-up"></i> 15 minutes ago</small>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="dropdown-footer text-center">-->
                        <!--<a href="" class="link">See All Notifications</a>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash; dropdown-menu &ndash;&gt;-->
            <!--</div>&lt;!&ndash; btn-group &ndash;&gt;-->

        {{#if condition procurementsToApprove.length '>' 0}}
        <div class="btn-group btn-group-list btn-group-messages">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="badge">{{procurementsToApprove.length}}</span>
            </button>

            <div class="dropdown-menu pull-right" style="overflow-y:scroll; height:300px;">
                <!--<a href="" class="link-right"><i class="fa fa-plus"></i></a>-->
                <h5>Procurement requisitions to approve</h5>
                <ul class="media-list dropdown-list">
                    {{#each procurementsToApprove}}
                    <li data-RequisitionId="{{_id}}" class="media pointer requisitionRowForApproval">
                        <!--<span class="badge badge-success">New</span>-->
                        <!--<img class="img-circle pull-left noti-thumb" src="/images/photos/user1.png" alt="">-->
                        <div class="pageicon pull-left" style="padding: 9px;">
                            <i class="fa fa-fax"></i>
                        </div>
                        <div class="media-body">
                            <strong>{{this.description}}</strong>
                            <p><i>{{trimString this.requisitionReason 0 30}} ... </i></p>
                            <!--<small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>-->
                        </div>
                    </li>
                    {{/each}}
                </ul>
                <!--<div class="dropdown-footer text-center">-->
                    <!--<a href="" class="link">See All Messages</a>-->
                <!--</div>-->
            </div><!-- dropdown-menu -->
        </div><!-- btn-group -->
        {{/if}}

        {{#if condition procurementsStatusNotSeen.length '>' 0}}
            <div class="btn-group btn-group-list btn-group-messages">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge">{{procurementsStatusNotSeen.length}}</span>
                </button>

                <div class="dropdown-menu pull-right" style="overflow-y:scroll; height:300px;">
                    <!--<a href="" class="link-right"><i class="fa fa-plus"></i></a>-->
                    <h5>Approved or rejected Procurement requisitions</h5>
                    <ul class="media-list dropdown-list">
                        {{#each procurementsStatusNotSeen}}
                            <li data-RequisitionId="{{_id}}" class="media pointer requisitionRowForEdit">
                                <span data-RequisitionId="{{_id}}" class="badge badge-success requisitionApprovalSeen">Seen</span>
                                <!--<img class="img-circle pull-left noti-thumb" src="/images/photos/user1.png" alt="">-->
                                <div class="pageicon pull-left" style="padding: 9px;">
                                    <i class="fa fa-fax"></i>
                                </div>
                                <div class="media-body">
                                    <strong>{{trimString this.description 0 30}} ({{this.status}})</strong>
                                    <p><i>{{trimString this.requisitionReason 0 30}} ... </i></p>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                    <!--<div class="dropdown-footer text-center">-->
                    <!--<a href="" class="link">See All Messages</a>-->
                    <!--</div>-->
                </div><!-- dropdown-menu -->
            </div><!-- btn-group -->
        {{/if}}

        {{#if condition timesToApprove.length '>' 0}}
        <div class="btn-group btn-group-list btn-group-messages">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="badge">{{timesToApprove.length}}</span>
            </button>

            <div class="dropdown-menu pull-right" style="overflow-y:scroll; height:300px;">
                <!--<a href="" class="link-right"><i class="fa fa-plus"></i></a>-->
                <h5>Employee times to approve</h5>
                <ul class="media-list dropdown-list">
                    {{#each timesToApprove}}
                    <li data-timeId="{{_id}}" class="media pointer timeRowForApproval">
                        <!--<span class="badge badge-success">New</span>-->
                        <!--<img class="img-circle pull-left noti-thumb" src="/images/photos/user1.png" alt="">-->
                        <div class="pageicon pull-left" style="padding: 9px;">
                            <i class="fa fa-fax"></i>
                        </div>
                        <div class="media-body">
                            <strong>{{trimString (getActivityDescription this) 0 30}}</strong>
                            <p><i>{{trimString (getTimeNoteText this.note) 0 30}}</i></p>
                            <!--<small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>-->
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div><!-- dropdown-menu -->
        </div><!-- btn-group -->
        {{/if}}

        {{#if condition timesStatusNotSeen.length '>' 0}}
        <div class="btn-group btn-group-list btn-group-messages">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="badge">{{timesStatusNotSeen.length}}</span>
            </button>

            <div class="dropdown-menu pull-right" style="overflow-y:scroll; height:300px;">
                <!--<a href="" class="link-right"><i class="fa fa-plus"></i></a>-->
                <h5>Your recorded times</h5>
                <ul class="media-list dropdown-list">
                    {{#each timesStatusNotSeen}}
                    <li data-timeId="{{_id}}" class="media pointer timesRowForApprovedOrRejected"> 
                        <span data-timeId="{{_id}}" class="badge badge-success timeApprovalSeen">Seen</span>

                        <div class="pageicon pull-left" style="padding: 9px;">
                            <i class="fa fa-fax"></i>
                        </div>
                        <div class="media-body">
                            <strong>{{trimString (getActivityDescription this) 0 30}} ({{this.status}})</strong>
                            <p><i>{{trimString this.note 0 30}} ... </i></p>
                            <!--<small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>-->
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div><!-- dropdown-menu -->
        </div><!-- btn-group -->
        {{/if}}

        {{#if condition leavesToApprove.length '>' 0}}
        <div class="btn-group btn-group-list btn-group-messages">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="badge">{{leavesToApprove.length}}</span>
            </button>

            <div class="dropdown-menu pull-right" style="overflow-y:scroll; height:300px;">
                <!--<a href="" class="link-right"><i class="fa fa-plus"></i></a>-->
                <h5>Employee leave requests to approve</h5>
                <ul class="media-list dropdown-list">
                    {{#each leavesToApprove}}
                    <li data-leaveId="{{_id}}" class="media pointer leaveRowForApproval">
                        <!--<span class="badge badge-success">New</span>-->
                        <!--<img class="img-circle pull-left noti-thumb" src="/images/photos/user1.png" alt="">-->
                        <div class="pageicon pull-left" style="padding: 9px;">
                            <i class="fa fa-fax"></i>
                        </div>
                        <div class="media-body">
                            <strong>{{trimString (getLeaveTypeName this.type) 0 30}}</strong>
                            <p><i>{{trimString this.description 0 30}} ... </i></p>
                            <!--<small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>-->
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div><!-- dropdown-menu -->
        </div><!-- btn-group -->
        {{/if}}

        {{#if condition leavesApprovalStatusNotSeen.length '>' 0}}
        <div class="btn-group btn-group-list btn-group-messages">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="badge">{{leavesApprovalStatusNotSeen.length}}</span>
            </button>

            <div class="dropdown-menu pull-right" style="overflow-y:scroll; height:300px;">
                <h5>Your leave requests</h5>
                <ul class="media-list dropdown-list">
                    {{#each leavesApprovalStatusNotSeen}}
                    <li class="media pointer">
                        <span data-leaveId="{{_id}}" class="badge badge-success leaveApprovalSeen">Seen</span>
                        <div class="pageicon pull-left" style="padding: 9px;">
                            <i class="fa fa-fax"></i>
                        </div>
                        <div class="media-body">
                            <strong>{{trimString (getLeaveTypeName this.type) 0 30}} ({{this.approvalStatus}})</strong>
                            <p><i>{{trimString this.description 0 30}} ... </i></p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}

            <div class="btn-group btn-group-option">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="/business/{{context}}/employee/{{currentUserId}}/profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <!--<li><a href="#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>-->
                    <!--<li><a href="{{pathFor 'tenant.settings'}}"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>-->
                    <!--<li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>-->
                    <li class="divider"></li>
                    <li name="logout"><a href="#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                </ul>
            </div><!-- btn-group -->
        </div><!-- pull-right -->
    </div><!-- header-right -->
</template>
