<template name="approvalModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Approve / Reject Order</h4>
                </div>

                <div class="modal-body">
                    <label for="name">Message</label>
                    <textarea class="form-control" rows="3" name="message" id="message"></textarea>
                    {{> AttachmentsList }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="approve" data-approval-type="approved">Approve</button>
                    <button type="button" class="btn btn-danger" id="reject" data-approval-type="rejected">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</template>