<template name="EmployeeSelectedEntry">
{{#each selectedEmployee}}
<div class="panel-group" id="accordion2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1">
                    Personal data
                </a>
            </h4>
        </div>
        <div id="collapseOne1" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="media emplist">
                  <div class="pull-left">
                      {{#if images photo._id }}
                          {{#with images photo._id}}
                              <img src="{{url store='avatarsLarge' }}" class="img-circle" id="avatar-image" /><br/>
                          {{/with}}
                      {{ else }}
                          <img class="media-object img-circle img-online" src="/admin/img/Person.png" alt="...">
                      {{/if}}
                  </div>
                  <div class="media-body">
                    {{profile.fullName}}
                    <br/>
                    {{employeeProfile.employeeId}}
                    <br/>
                    {{employeeProfile.phone}}
                    <br/>
                    {{#if employeeProfile}}
                    <i class="fa fa-star"></i> {{positionName employeeProfile.employment.position}}
                    {{/if}}
                  </div>
              </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary mr5 ladda-button pull-right" id="employee-edit-personaldata">Edit</button>
            </div>
        </div>
    </div><!-- panel -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseTwo2">
                    Next of kin
                </a>
            </h4>
        </div>
        <div id="collapseTwo2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="media emplist">
                  <div class="media-body">
                    <b>Full name</b>: {{employeeProfile.guarantor.fullName}}
                    <br/>
                    <b>Email</b>: {{employeeProfile.guarantor.email}}
                    <br/>
                    <b>Phone</b>: {{employeeProfile.guarantor.phone}}
                    <br/>
                    <b>Address</b>: {{employeeProfile.guarantor.address}}
                  </div>
              </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary mr5 ladda-button pull-right" id="employee-edit-nextofkin-data">Edit</button>
            </div>
        </div>
    </div><!-- panel -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseTwo3">
                    Emergency contact data
                </a>
            </h4>
        </div>
        <div id="collapseTwo3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="media emplist">
                  <div class="media-body">
                    <b>Name</b>: {{emergencyContact.[0].name}}
                    <br/>
                    <b>Email</b>: {{emergencyContact.[0].email}}
                    <br/>
                    <b>Phone</b>: {{emergencyContact.[0].phone}}
                    <br/>
                    <b>Address</b>: {{emergencyContact.[0].address}}
                  </div>
              </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary mr5 ladda-button pull-right" id="employee-edit-emergencycontact-data">Edit</button>
            </div>
        </div>
    </div><!-- panel -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseTwo4">
                    Payment data
                </a>
            </h4>
        </div>
        <div id="collapseTwo4" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="media emplist">
                  <div class="media-body">
                    <b>Bank</b>: {{employeeProfile.payment.bank}}
                    <br/>
                    <b>Bank Account Number</b>: {{employeeProfile.payment.accountNumber}}
                    <br/>
                    <b>Bank Account Name</b>: {{employeeProfile.payment.accountName}}
                    <br/>
                    <b>Payment method</b>: {{employeeProfile.payment.paymentMethod}}
                    <br/><br/>

                    <b>Pension Fund Manager</b>: {{employeeProfile.payment.pensionmanager}}
                    <br/>
                    <b>RSA Number</b>: {{employeeProfile.payment.RSAPin}}
                  </div>
              </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary mr5 ladda-button pull-right" id="employee-edit-paymentdetails-data">Edit</button>
            </div>
        </div>
    </div><!-- panel -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" id="employment-payroll-link">
                    Employment & Payroll data
                </a>
            </h4>
        </div>
    </div>
</div>
{{/each}}
</template>
