<template name="EmployeeSelectedEntry">
<div class="panel-group" id="accordion2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                    Personal data
                </a>
            </h4>
        </div>
        <div id="collapseOne2" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="media emplist">
                  <div class="pull-left">
                      {{#if images selectedEmployee.photo._id }}
                          {{#with images selectedEmployee.photo._id}}
                              <img src="{{url store='avatarsLarge' }}" class="img-circle" id="avatar-image" /><br/>
                          {{/with}}
                      {{ else }}
                          <img class="media-object img-circle img-online" src="/admin/img/Person.png" alt="...">
                      {{/if}}
                  </div>
                  <div class="media-body">
                    {{selectedEmployee.profile.fullName}}
                    <br/>
                    {{selectedEmployee.employeeProfile.employeeId}}
                    <br/>
                    {{selectedEmployee.employeeProfile.phone}}

                  </div>
              </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-primary mr5 ladda-button pull-right" id="employee-edit-personaldata">Edit</button>
            </div>
        </div>
    </div><!-- panel -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseTwo2">
                    Next of kin
                </a>
            </h4>
        </div>
        <div id="collapseTwo2" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list msg-list">

                </ul>
            </div>
        </div>
    </div><!-- panel -->

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#accordion2" href="#collapseTwo2">
                    Emergency contact data
                </a>
            </h4>
        </div>
        <div id="collapseTwo2" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list msg-list">

                </ul>
            </div>
        </div>
    </div><!-- panel -->
</div>
</template>
