<template name="Paytypes">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-puzzle-piece"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="businessunits">Business</a></li>
                    <li>{{name}}</li>
                    <li>Paytypes</li>
                </ul>
                <h4>{{name}} - Paytypes  </h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->


    <div class="contentpanel">

        <div class="row">
            <div class="col-md-12">
                <!-- <h5 class="lg-title mb5">Paytypes</h5> -->
                <div class="col-sm-5 pull-left">
                    <input id="search-box" type="text" placeholder="Search" class="form-control">
                </div>

                <p class="mb20 pull-right"><button class="btn btn-primary" id="createPaytype">New Paytype</button></p>
            </div>
        </div>

        <div class="row">
            {{#if condition paytypeCount 'eq' 0}}
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        <p>No Pay Type defined for this company</p>
                    </div>
                </div>
            {{else}}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-primary mb60 table-hover">
                            <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Code</th>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Frequency</th>
                                <th>Taxable</th>
                                <th>Can Override</th>
                                <th>Derivative</th>
                                <th>Currency</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#if isSearchView}}
                              {{#each getPayTypesSearchResults}}
                                {{> singlePaytype index=@index data=this}}
                              {{/each}}
                            {{else}}
                              {{#each paytypes}}
                                {{> singlePaytype index=@index data=this}}
                              {{/each}}
                            {{/if}}
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            {{/if}}
        </div><!-- row -->
    </div>
</template>

<template name="singlePaytype">
    <tr class="pointer">
        <td>{{index}}</td>
        <td>{{data.code}}</td>
        <td>{{data.title}}</td>
        <td>{{data.type}}</td>
        <td>{{data.frequency}}</td>
        {{#if data.taxable}}
            <td>Yes</td>
        {{else}}
            <td>No</td>
        {{/if}}
        {{#if data.editablePerEmployee}}
            <td>Yes</td>
        {{else}}
            <td>No</td>
        {{/if}}
        <td>{{data.derivative}}</td>
        <td>{{data.currency}}</td>
        <td>
            <span class="label label-{{activeClass}}">{{data.status}}</span>
        </td>
    </tr>

</template>
