<template name="DistributorCreditsChart">
    <div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">
        <div class="well">
            <div class="media">
                <div class="media-left">
                    <div class="chart-responsive">
                        <canvas id="rebatesPie" style="height: 30px;width: 30px"></canvas>
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="mt0">CREDITS/REBATES<br/><small>{{numberToCurrency account.currentRebates}}</small></h4>
                </div>
            </div>
            <div class="chart-responsive">
                <canvas id="rebatesLine" style="height: 35px;width: 100%"></canvas>
            </div>
        </div>
        <div id="chartjs-tooltip-rebates" class="chartjs-tooltip"></div>
    </div>
</template>
