<template name="selfpayslips">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left" style="padding: 9px;">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a ui-sref="business.overview">Business</a></li>
                    <li>{{name}}</li>
                    <li>PaySlips</li>
                </ul>
                <h4>PaySlips</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">
        <div class="row">
          <div class="col-md-12 employee-filter">
              <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                        <h5>Please select a period</h5>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="paymentPeriodMonth" class="form-control dropdown" style="width: 100%">
                                        <option value="">Select Month</option>
                                        {{#each month}}
                                            <option value="{{period}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div><!-- form-group -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select name="paymentPeriodYear" class="form-control dropdown" style="width: 100%">
                                        <option value="">Select Year </option>
                                        {{#each year}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div><!-- form-group -->
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn-primary mr5 ladda-button" id="get-employee-payslip">Get Payslip</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {{#if errorMsg}}
                        <div class="alert alert-danger text-center">
                            <p>{{errorMsg}}</p>
                        </div>
                        {{else}}
                            {{#with getSelectedPaySlipData}}
                                {{> SimplePayslip this}}
                            {{/with}}
                        {{/if}}
                    </div>
                  </div>
              </div>
          </div>
        </div><!-- row -->
    </div><!-- contentpanel -->
</template>


<!-- <template name="singlePaySlipResult">
  <tr class="pointer anEmployeePayResult">
      <td>{{getPeriodText data.period}}</td>
      <td class="text-right">
          <button class="btn btn-primary payButton" id="viewPaySlip">View</button>
      </td>
  </tr>
</template> -->
