<template name="DashBillsPieChart">
    <div class="box panel panel-default">
        <div class="panel-heading clearfix text-center">
            <span class="panel-title pull-left">Total Bills by Status</span>
            <div class="pull-right">
                <a href="#" data-toggle="dropdown">{{billFilter}} <i class="glyphicon icon-downarrow"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#all">All</a></li>
                    <li><a href="#year">Year</a></li>
                    <li><a href="#month">Month</a></li>
                    <li><a href="#week">Week</a></li>
                    <li><a href="#today">Today</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            {{#if enableLoading}}
                    <div class="sLoading">
                        {{> spinner}}
                    </div>
            {{/if}}
            <div class="row pie-block">
                <div class="col-md-6">
                    <div class="chart-responsive">
                        <canvas id="pieChart" height="306" style="width: 275px; height: 153px;" width="550"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    {{#unless enableLoading}}
                    <ul class="nav nav-pills nav-stacked pie-list">
                        <li>{{#each result}}
                            <a href="#" class="clearfix">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6"><i class="glyphicon icon-circle {{textColor status}}"></i> {{status}}</div>
                                    <div class="col-sm-3 col-xs-2 text-center text-default"><b> {{percentageRatio total totalRecord}}%</b></div>
                                    <div class="col-sm-3 col-xs-4 text-right"><span class="text-default"> {{total}}</span>/{{totalRecord}}</div>
                                </div>
                            </a>
                            {{/each}}
                        </li>
                    </ul>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</template>
