<template name="ReturnDetail">
    <div class="container-fluid">
        {{#if documentAvailable}}
        <section class="row content-header">
            <div class="container-fluid">
                <div class="col-sm-8">
                    <h1 class="pull-left">
                                    {{#unless isSame status 'approved'}}
                                    Approve 
                                    {{/unless}} Return Order
                                    <small class="hidden-xs">{{returnOrderNumber}}
                                        <span class="fs12 p15 {{returnStatusStyle status}}">
                                            <i class="glyphicon icon-circle {{returnStatusStyle status}}" style="font-size: 6px;margin-top: -6px;vertical-align: middle"></i> {{capitalize status}}
                                        </span>
                                    </small>
                                </h1>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <ol class="breadcrumb">
                        <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-orderslist"></i>Home</a></li>
                        <li><a href="{{pathFor 'returns.list'}}">Returns</a></li>
                        <li class="active">{{returnOrderNumber}}</li>
                    </ol>
                </div>
            </div>
            <div class="sub-content-header border">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <span><i class="{{paymentStatusStyle order.paymentStatus}} glyphicon icon-orderslist"></i> <b class="fs16 f_helvetcia">Order</b>&nbsp;&nbsp;&nbsp;<span class="{{paymentStatusStyle order.paymentStatus}}">{{#linkTo route="orders.detail" _id=orderId}}{{orderNumber}}{{/linkTo}}</span></span>
                            <br/>
                            <span class="sub-content-payments">
                            <span>Applied Credits&nbsp;&nbsp;<b class="f_helvetcia">{{formatMoney order.appliedCredits order.currency}}</b></span>&nbsp;&nbsp;
                            <span>Payments&nbsp;&nbsp;<b class="f_helvetcia">{{currency.symbol}} 0</b></span>
                            </span>
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" id="print-button">Print <i class="glyphicon icon-print pull-right"></i></a></li>
                                    {{#if hasApprovalRights}}
                                        {{#unless isSame status 'approved'}}
                                            <li><a href="#" id="approve">Approve <i class="glyphicon glyphicon-modal-window pull-right"></i></a></li>
                                        {{/unless}}
                                    {{/if}}
                                    {{#if canManageReturns}}
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href="#" id="attachments">Attachments <i class="glyphicon glyphicon-file pull-right"></i></a>
                                        </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="col-sm-12">
            <section class="content sub-content-sec">
                <div class="">
                    <div class="col-sm-12">
                        <div class="well-custom bg-white col-lg-12 bg_white ptop20 pbottom20 mb">
                            <form class="form-horizontal form-empty">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Customer</label>
                                        {{#popover 'focus'}}
                                        <div class="col-sm-6">
                                            <p class="form-control-static"><a tabindex="0" href="#" data-toggle="popover" data-html="true" title="{{customerName}}"
                                               data-content="<i class='glyphicon glyphicon-barcode'></i> <span class='small'>{{customerNumber}}</span><br/>
                                                             <i class='glyphicon glyphicon-level-up'></i> {{customerGroup}}<br/>
                                                             <a href={{pathFor 'distributors.detail' _id=customerId}} class='small'>View Details</a>">
                                                             {{customerName}}</a></p>
                                        </div>
                                        {{/popover}}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Billled To</label>
                                        {{#popover 'focus'}}
                                        <div class="col-sm-6">
                                            <a href="#"  tabindex="0" class="form-control-static" data-toggle="popover" data-html="true" title="{{billingAddress.company}}" data-content="
                                                            {{billingAddress.address1}}<br/> 
                                                          {{#if billingAddress.address2}}  
                                                            {{billingAddress.address2}}<br/> 
                                                          {{/if}}
                                                          {{#if billingAddress.city}}  
                                                            {{billingAddress.city}} 
                                                          {{/if}}
                                                          {{#if billingAddress.state}}  
                                                            {{#if billingAddress.city}}  
                                                            ,  
                                                            {{/if}}
                                                            {{billingAddress.state}} 
                                                          {{/if}}
                                                          {{#if billingAddress.country}}  
                                                            {{#if billingAddress.state}}  
                                                            ,   
                                                            {{/if}}
                                                            {{billingAddress.country}} 
                                                          {{/if}}">
                                            {{prune billingAddress.company 40}}</a>
                                        </div>
                                        {{/popover}}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Shipped To</label>
                                        {{#popover 'focus'}}
                                        <div class="col-sm-6">
                                            <a href="#" tabindex="0" class="form-control-static" data-toggle="popover" data-html="true" title="{{shippingAddress.company}}" data-content="{{shippingAddress.address1}}<br/>
                                                          {{#if shippingAddress.address2}}  
                                                            {{shippingAddress.address2}}<br/> 
                                                          {{/if}}
                                                          {{#if shippingAddress.city}}  
                                                            {{shippingAddress.city}} 
                                                          {{/if}}
                                                          {{#if shippingAddress.state}}  
                                                            {{#if shippingAddress.city}},  
                                                            {{/if}}
                                                            {{shippingAddress.state}} 
                                                          {{/if}}
                                                          {{#if shippingAddress.country}}  
                                                            {{#if shippingAddress.state}},   
                                                            {{/if}}
                                                            {{shippingAddress.country}} 
                                                          {{/if}}">
                                            {{prune shippingAddress.company 40}}</a>
                                        </div>
                                        {{/popover}}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Shipped From</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{printLocation stockLocationId}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Issued On</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{formatTime issuedAt}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Shipment Date</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{formatTime order.shipAt}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Email</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{contactEmail}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Phone</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{contactPhone}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Currency</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{currency.iso}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Price List</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{printPriceList order.priceListCode}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Order Type</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{printOrderType order.orderType}}</p>
                                        </div>
                                    </div>
                                    <!--    <div class="form-group">
                                        <label class="col-sm-6 control-label">Pickup?</label>
                                        <div class="col-sm-6">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked="{{isPickup}}" disabled>
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label">Created By</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static">{{userFullName userId}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="module-block no_mobile width_700 no-border">
                            <div class="fix_width">
                                <table class="table table-create">
                                    <thead style="color: #999999;">
                                        <tr>
                                            <td></td>
                                            <td>Item Name</td>
                                            <td>Unit</td>
                                            <td>Reason</td>
                                            <td class="text-right">Price ({{currency.symbol}})</td>
                                            <td class="text-right">Quantity</td>
                                            <td class="text-right">Discounts</td>
                                            <td class="text-right">Total ({{currency.symbol}})</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </thead>
                                    <tbody style="background-color: #fff;">
                                        {{#each returnStandardItems}} 
                                            {{> ReturnItem}} 
                                        {{/each}}
                                        {{#each returnPromoItems}} 
                                            {{> ReturnItem}} 
                                        {{/each}}
                                        {{#unless items}}
                                        <tr>
                                            <td colspan="6">
                                                No items are being returned
                                            </td>
                                        </tr>
                                        {{/unless}}
                                    </tbody>
                                </table>
                                <div class="pull-right container-fluid total-block-wrapper">
                                    <div class="clearfix hidden-lg"></div>
                                    <br class="hidden-lg">
                                    <div class="clearfix fix_width">
                                        <dl class="dl-horizontal padd_l40px total-table">
                                            <dt class="text-muted">Sub Total:</dt>
                                            <dd class="f_helvetcia text-right"><b>{{formatMoney subTotal currency}}</b></dd>
                                            <dt class="text-muted">Tax Reversal (VAT):</dt>
                                            <dd class="f_helvetcia text-right"><b>{{formatMoney taxes currency}}</b></dd>
                                            <dt><b>TOTAL:</b></dt> 
                                            <dd class="f_helvetcia text-right"><b>{{formatMoney total currency}}</b></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div class="module-block">
                            <p class="lead text-uppercase">ATTACHMENTS</p>

                            <table class="table">
                                <thead style="color: #999999;">
                                <tr>
                                    <td>Date</td>
                                    <td>File name</td>
                                </tr>
                                </thead>
                                <tbody class="bg_white">
                                {{#each assets}}
                                    <tr>
                                        <td class="">{{formatTime uploadedAt 'withTime'}}</td>
                                        <td class="">
                                            <a download href="{{this.url}}" target="_parent" class="download-link">
                                                <i class="glyphicon glyphicon-download"></i> {{name}}
                                            </a>
                                        </td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <td colspan="6">
                                            No attachments available.
                                        </td>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="module-block messages-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="lead text-uppercase">Messages</p>
                                </div>
                                <div class="el">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <span class="glyphicon glyphicon-mail icon-mailarrow message_ico text-warning"></span>
                                            <a href="#" class="user-link">
                                                {{#if currentUserAvatar }}
                                               <img class="img-circle" src="{{currentUserAvatar.url store='avatarsSmall'}}" alt="">
                                            {{else}}
                                                <img class="img-circle" src="/img/guest.png" alt="">
                                            {{/if}}
                                            <span>{{userFullName Meteor.userId}}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 message">
                                        <div class="col-sm-12 text_block">
                                            <form id="return-note">
                                                <div class="input-group">
                                                    <input type="text" name='txtNote' class="form-control" placeholder="Enter a message" />
                                                    <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"
                                                    style="margin-left: 12px;"><span
                                                    class="glyphicon icon-smallright"></span>
                                                    </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {{#each notes}}
                                <div class="el">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <span class="glyphicon icon-mail message_ico"></span>
                                            <a href="#" class="user-link">
                                                {{#if avatar }}
                                                <img class="img-circle" src="{{avatar.url store='avatarsSmall'}}" alt="">
                                             {{else}}
                                                <img class="img-circle" src="/img/guest.png" alt="">
                                            {{/if}}
                                                <span>{{userFullName userId}}</span>
                                            </a>
                                            <span class="date">{{formatTime createdAt 'fromNow'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 message">
                                        <div class="col-sm-12 text_block">
                                            {{body}}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div class="module-block">
                            <p class="lead text-uppercase">RECENT ACTIVITIES</p>

                            <table class="table">
                                <thead style="color: #999999;">
                                <tr>
                                    <td>Date</td>
                                    <td>Details</td>
                                </tr>
                                </thead>
                                <tbody class="bg_white">
                                {{#each history}}
                                    <tr>
                                        <td class="">{{formatTime createdAt 'withTime'}}</td>
                                        <td class="">{{textFormat event}}</td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <td colspan="6">
                                            No activities available.
                                        </td>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {{ else }}
        <section class="row content-header">
        <div class="container-fluid">
            <div class="col-sm-6">
                <h1 class="pull-left">
                    Return Orders
                </h1>
            </div>
            <div class="col-sm-6 hidden-xs">
                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-orderslist"></i>Home</a></li>
                    <li><a href="{{pathFor 'returns.list'}}">Returns</a></li>
                </ol>
            </div>
        </div>
    </section>
   
            {{>DocumentNotFound}}
        {{/if}}
    </div>
</template>
