<template name="DistributorsDetail">
    <div class="container-fluid">
     {{#if customerAvailable }}
         {{> sectionHeader }}

          <div class="col-sm-12">

          <section class="content sub-content">

              <div class="box box-lg panel panel-default">
                  <div class="panel-body">
                      <div class="col-sm-1 pl0 ml0 hidden-md hidden-xs hidden-sm">
                          <div class="avatar text-center">
                              {{#if avatar}}
                                  <img src="{{avatar.url store='avatarsLarge' }}" class="img-circle" id="avatar-image" /><br/>
                              {{ else }}
                                  <img src="/admin/img/avatar.png" class="img-circle" id="avatar-image" /><br/>
                              {{/if}}
                          </div>
                      </div>
                      {{> DistributorBasicSection }}
                      <div class="col-xs-12 col-md-4 col-lg-3 col-sm-6">
                          <p class="lead text-uppercase mb7">RECENT ORDERS</p>
                          <table class="table table-non-bordered table-td-padd-custom1 table-td-no-pl">
                              {{#each orders}}
                                  {{> DistributorOrdersSection}}
                              {{/each}}
                          </table>
                      </div>
                      {{> DistributorsOrderBarChart}}
                  </div>
              </div>

              {{> DistributorAddressesSection }}

              {{> DistributorAccountBalanceSection}}

              <div class="col-sm-12">
                  {{> DistributorTransactionGraph}}
              </div>

              <div class="col-sm-12">
                  <div class="module-block">
                      <p class="pull-left lead text-uppercase">Transactions HISTORY</p>
                      <div class="clearfix hidden-lg hidden-md"></div>

                      <div class="clearfix"></div>
                      <table class="table trans_history">
                          <thead>
                          <tr>
                              <td>No.</td>
                              <td><a href="#sort" class="text-muted" data-key="postingDate">Date Added <small><i class="{{sortedBy 'postingDate'}}"></i></small></a></td>
                              <td><a href="#sort" class="text-muted" data-key="transactionType">Transaction Type <small><i class="{{sortedBy 'transactionType'}}"></i></small></a></td>
                              <td>Details</td>
                              <td class="text-center">Reference Doc</td>
                              <td class="text-right"><a href="#sort" class="text-muted" data-key="amount">Amount <small><i class="{{sortedBy 'amount'}}"></i></small></a></td>
                          </tr>
                          </thead>
                          <tbody>
                          {{#each transactions}}
                              {{> DistributorTransactionEntry }}
                          {{ else }}
                              <tr>
                                  <td colspan="6">
                                      No transactions available.
                                  </td>
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>


                  </div>
              </div>
              {{#if Template.subscriptionsReady}}
                  {{#if hasMoreTransactions}}
                      <div id="showMoreResults" href="#">&nbsp;</div>
                  {{/if}}
              {{else}}
                  <div class="col-xs-12">
                      <div class="loading">{{> spinner}}</div>
                  </div>
              {{/if}}

          </section>

      </div>
     {{ else }}
     <section class="row content-header">
        <div class="container-fluid">
            <div class="col-sm-6">
                <h1 class="pull-left">
                    Customers
                </h1>
            </div>
            <div class="col-sm-6 hidden-xs">
                <ol class="breadcrumb">
                    <li><a href="{{pathFor 'home'}}"><i class="glyphicon icon-user"></i>Home</a></li>
                    <li><a href="{{pathFor 'distributors.list'}}">Customers</a></li>
                </ol>
            </div>
        </div>
    </section>
         {{>CustomerNotFound}}
     {{/if}}

  </div>
</template>
