<template name="formFields">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Basic Details</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Addresses</a></li>
        </ul>
        <br/><br/>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <fieldset>
                    {{> afQuickField name="customerNumber" }}
                    {{> afQuickField name="name" }}
                    {{> afQuickField name="description" rows=6}}
                    {{> afQuickField name="email" }}
                    {{> afQuickField name="url" }}
                    {{> afQuickField name="customerType" }}
                    {{> afQuickField name="defaultDiscountRate" }}
                    {{> afQuickField name="defaultPriceListCode" }}
                    {{> afQuickField name="defaultTaxRate" }}
                    {{> afQuickField name='currency'}}


                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                {{> afArrayField name='addressBook'  template="addressBook"}}
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>

    </div>
</template>

<template name="afArrayField_addressBook">
    <div class="panel panel-default">
        <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
        {{#if afFieldIsInvalid name=this.atts.name}}
            <div class="panel-body has-error">
                <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
            </div>
        {{/if}}
        <ul class="list-group">
            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <li class="list-group-item autoform-array-item">
                    <div>
                        <div class="autoform-remove-item-wrap">
                            {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                                <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span>
                                </button>
                            {{/if}}
                        </div>
                        <div class="autoform-array-item-body">
                            {{> afObjectField name=this.name label=false template='addressBookObjectField'}}
                        </div>
                    </div>
                </li>
            {{/afEachArrayItem}}
            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
            {{/if}}
        </ul>
    </div>
</template>



<template name="afObjectField_addressBookObjectField">
    {{#each fieldNames}}
        {{getName fieldName}}
        <label>{{afFieldLabelText name=this.name}}</label>
        {{> afFieldInput name=this.name class="form-control" type=fieldType}}
    {{/each}}
</template>

