<template name="ProjectCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{#autoForm collection="Projects" doc=this id=formType type=formAction }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{#if data}} Update Project{{else}}Create New Project {{/if}}</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    {{> afQuickField name="name" class="form-control" id="name"}}
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    {{> afQuickField name="status" options=status class="dropdown"}}
                                </div><!-- col-sm-3 -->

                            </div><!-- row -->
                            <div class="row">
                                <div class="col-sm-12">
                                    {{> afQuickField name="positionIds" options=positions class="dropdown"}}
                                </div><!-- col-sm-3 -->
                            </div>
                            <div class="row">

                                <div class="col-sm-12">
                                    {{> afQuickField name="description" rows=3 }}
                                </div><!-- col-sm-3 -->
                            </div><!-- row -->
                            <div class="row">
                                {{#afEachArrayItem name="activities"}}
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label for="activity_fullcode">Activity FullCode</label>
                                            {{> afFieldInput name=this.current.fullcode class="form-control"}}
                                        </div>
                                        <div class="col-sm-5">
                                            <label for="activity_description">Activity Description</label>
                                            {{> afFieldInput name=this.current.description class="form-control"}}
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn input-group-addon autoform-remove-item"><i class="glyphicon glyphicon-minus"></i>Remove</button>
                                        </div>
                                    </div>

                                {{/afEachArrayItem}}
                                <div class="row">
                                    <button class="btn input-group-addon autoform-add-item" data-autoform-field="activities"><i class="glyphicon glyphicon-plus"></i> Add Activity </button>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary mr5">Save</button>
                            <button type="reset" class="btn btn-danger" id="new-pay-type-close" data-dismiss="modal">Cancel</button>
                        </div><!-- panel-footer -->
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
