<template name="ProjectCreate">
    <div class="modal fade add-unit" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{#autoForm collection="Projects" doc=this id=formType type=formAction }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{#if data}} Update Project{{else}}Create New Project {{/if}}</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    {{> afQuickField name="name" class="form-control" id="name"}}
                                </div><!-- col-sm-3 -->
                                <div class="col-sm-6">
                                    {{> afQuickField name="status" options=status class="dropdown"}}
                                </div><!-- col-sm-3 -->

                            </div><!-- row -->

                            <div class="row">

                                <div class="col-sm-12">
                                    {{> afQuickField name="description" rows=3 }}
                                </div><!-- col-sm-3 -->
                            </div><!-- row -->

                            <div class="row">
                                <div class="col-sm-12">
                                    {{> afQuickField name="positionIds" options=positions class="dropdown"}}
                                </div><!-- col-sm-3 -->
                            </div>

                            {{#if data}}
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <br>
                                        <h5 class="lg-title mb5">Activities</h5>
                                        {{#if isAnActivityBeingCreated}}
                                        {{else}}
                                        <p class="mb20 pull-right"><button id="addActivity" class="btn btn-primary btn-sm">Add Activity</button></p>
                                        {{/if}}
                                    </div><!-- col-sm-12 -->

                                    <div class="row">
                                        {{#if errorMessage}}
                                            <div class="col-md-12">
                                                <div class="alert alert-danger text-center">
                                                    <p>{{errorMessage}}</p>
                                                </div>
                                            </div>
                                        {{/if}}
                                    </div>

                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-primary mb60 table-hover" id="ruleTable">
                                                <thead>
                                                <tr>
                                                    <th>Full code</th>
                                                    <th>Description</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#if isActivitySelected}}
                                                    {{#each editableActivities}}
                                                        <tr class="pointer anActivity" id="{{this._id}}" name="activityIndex_{{@index}}">
                                                            {{#if equals @index indexOfSelectedActivity}}
                                                            <td>
                                                                <input name="activityFullCode" type="text" placeholder="Name" class="form-control"
                                                                value="{{fullcode}}"/>
                                                            </td>
                                                            <td>
                                                                <input name="activityDescription" type="text" placeholder="Description" class="form-control"
                                                                value="{{description}}"/>
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-primary mr5 ladda-button" id="confirmActivityEdit">Confirm</button>
                                                                <button type="reset" class="btn btn-danger mr5 ladda-button" id="cancelActivityEdit">Cancel</button>
                                                            </td>
                                                            {{else}}
                                                            <td><a class="pointer">{{fullcode}}</a></td>
                                                            <td><a class="pointer">{{description}}</a></td>
                                                            <td><a class="pointer"><i class="fa fa-trash-o deleteActivity"></i></a></td>
                                                            {{/if}}
                                                        </tr>
                                                    {{/each}}
                                                {{else}}
                                                    {{#each activities}}
                                                        <tr class="pointer anActivity" id="{{this._id}}" name="activityIndex_{{@index}}">
                                                            <td><a class="pointer">{{fullcode}}</a></td>
                                                            <td><a class="pointer">{{description}}</a></td>
                                                            <td><a class="pointer"><i class="fa fa-trash-o deleteActivity"></i></a></td>
                                                        </tr>
                                                    {{/each}}
                                                    {{#if isAnActivityBeingCreated}}
                                                    <tr class="pointer anActivity">
                                                        <td>
                                                        <input name="activityFullCode" type="text" placeholder="Name" class="form-control"
                                                            value=""/>
                                                        </td>
                                                        <td>
                                                        <input name="activityDescription" type="text" placeholder="Description" class="form-control"
                                                            value=""/>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary mr5 ladda-button" id="confirmActivityCreate">Create</button>
                                                            <button type="reset" class="btn btn-danger mr5 ladda-button" id="cancelActivityEdit">Cancel</button>
                                                        </td>
                                                    </tr>
                                                    {{/if}}
                                                {{/if}}
                                                </tbody>
                                            </table>
                                        </div><!-- table-responsive -->
                                    </div>
                                </div>
                            </div><!-- col-sm-12 -->
                            {{/if}}

                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary mr5">Save</button>
                            <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div><!-- panel-footer -->
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
